.dashboard-editor-panel {
  --sidebar-left-width: 2rem;
  --sidebar-right-width: var(--sidebar-width);
  --sidebar-right-width-max: 320px;
  --sidebar-right-width-min: 300px;
  border-top: 1px solid grey;
  border-top-color: var(--bg1);
  max-height: calc(100vh - 100px);
  .dashboard-editor {
    background-color: var(--bg3);
    .sidebar {
      background-color: var(--bg2);
      padding: 0;
      &.collapsed {
        --colappsed-width: 2px;
        background: var(--bg1);
        width: var(--colappsed-width) !important;
        min-width: var(--colappsed-width) !important;
        max-width: var(--colappsed-width) !important;
        .sidebar-state-control {
          right: 2px !important;
        }
      }
      &.left {
        min-width: var(--sidebar-left-width);
        max-width: var(--sidebar-left-width);
        width: var(--sidebar-left-width);
      }
      &.right {
        min-width: var(--sidebar-right-width-min);
        max-width: var(--sidebar-right-width-max);
        width: var(--sidebar-right-width);
        z-index: 1000;
        position: relative;
        .sidebar-state-control {
          --control-right: var(--sidebar-right-width);
          --control-right: clamp(
            var(--sidebar-right-width-min),
            var(--sidebar-right-width),
            var(--sidebar-right-width-max)
          );
          position: absolute;
          z-index: 999;
          float: right;
          top: calc(50vh - 90px);
          right: calc(var(--control-right) + -4px);
          width: 20px;
          height: 2rem;
          border-radius: 4px;
          background: var(--bg2);
        }
      }
      * {
        display: block;
        width: 100%;
        height: 100%;
      }
      &:ng-deep {
        clr-icon {
          width: var(--sidebar-left-width);
          height: var(--sidebar-left-width);
        }
      }
    }
    .dashbaord-items-editor {
      flex-grow: 1;
      margin: 0 12px;
      background: var(--bg3);
      .dashbaord-item-panel {
        margin-top: 4px;
        max-height: calc(100% - 46px);
        leap-dashboard-grid {
          display: block;
          height: 100%;
          width: 100%;
          max-height: 100%;
          &.full-view {
            max-width: 100%;
          }
        }
      }
    }
  }
}
button.is-editing {
  border-bottom: 3px solid blue;
  border-bottom-color: var(--link-active-color);
}
.pages {
  ::ng-deep {
    .nav {
      width: calc(100% - 12px);
      background-color: var(--bg2);
      .nav-link.active {
        background-color: var(--bg3);
      }
    }
  }
}
.page-tab-link {
  padding: 0;
}
.page-tab-btn {
  border: none;
  background: none;
  color: var(--fg1);
  min-width: 2rem;
  min-height: 1rem;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.page-actions {
  color: var(--fg1);
  clr-icon {
    color: var(--fg1);
    padding-bottom: 6px;
  }
}
