.txtbold {
  font-weight: bold;
}

.txtitalic {
  font-style: italic;
}
.txtStyle {
  font-family: Arial, Helvetica, sans-serif;
}

pre {
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    flex-grow: 1;
    border: none;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
}
:host {
  height: 100%;
  width: 100%;
  display: flex;
}
