.editor-panel {
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--fg1);
  background: var(--bg3);
  border-left: 3px solid var(--bg2);
  border-left-color: var(--bg2);;
  &.grid-editor {
    padding-left: 0.5rem;
    &::ng-deep {
      .clr-control-container {
        width: calc(100% - 0.5rem);
      }
    }
  }
}
.new-item-selection {
  margin-right: 4px;
  .title {
    padding: 0 2px 0 2px;
    height: 1.25rem;
    margin: 4px 0 0 4px;
    .name {
      flex-grow: 1;
      font-size: 18px;
    }
    .options {
      span {
        margin: 0 2px;
      }
    }
  }
  .search {
    margin: 0 4px;
    input {
      border: none;
    }
  }
}
div {
  pointer-events: auto !important;
}
:host::ng-deep{
  .links-home{
    min-height: calc(100vh - 9rem);
    max-height: calc(100vh - 9rem);
  }
}