<div class="modal-content info" ng-controller="LifeCycleDashboardCtrl" >
  <div class="modal-header bg-info">
    <i class="ion-information-circled modal-icon"></i><span>DEVOPS Dashboard Name : {{relName}}</span>
  </div>
  <div class="modal-bodytext-center" ng-init="getKpiPopup(relName)">
	<table id="example" class="table">
			
				<tbody style="margin-top: 20px">
					<tr ng-repeat="subinfo in prodInfo">
						<td style="text-align: center">{{subinfo}}</td>
					</tr>
				</tbody>
			</table>
			<!-- </div> -->
			</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$dismiss()">OK</button>
  </div>
</div>