<div oc-lazy-load="['tableDependancy']">

	<div class="row" ng-controller="OperationalDashboardCtrl" ng-int="init();">
		<div id="createNew" class="row">
			<button type="button" data-toggle="modal" class="btn btn-default"
				style="float: right; margin-right: 1%; margin-bottom: 1%;"
				ng-click="createNewDashboard()">Create New</button>
		</div>
		<div class="panel" ng-init="initialcountofDetails();operationalDashboardDetails(1)">
			<uib-tabset active="$tabSetStatus.activeTab"> <uib-tab
				heading="My Dashboard" active="activeTabIndex">
			<div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
				<div class="tab-content">
					<table class="table"
						>
						<thead>
							<tr class="sortable">

								<th style="width: 10%; font-weight: bold">Dashboards</th>
								<th style="width: 15%; font-weight: bold">Description</th>
								<th style="width: 10%; font-weight: bold">Actions</th>

							</tr>
						</thead>
						<tbody>

							<tr
								dir-paginate="item in operationalDashboardTableDetails | itemsPerPage: 5"
								total-items="detailsCount">
								<td style="width: 10%">
								<font ng-if="item.templateName == ''" color="#0039a6 ">*</font>
								<font ng-if="item.releaseSet.length =='0'" color="#e85656 ">*</font>
								<a style="color: #58d68d"
									  ng-click="openDashboard(item)">{{item.dashboardName}}</a></td>
								<td style="width: 15%" ng-model="item.description">{{item.description}}</td>
								<!-- <td style="width: 10%"><a style="color: #58d68d"
							ng-click="openDashboard(item,'ALM')"><B>ALM</B></a> &nbsp
							<a style="color: #58d68d"
							ng-click="openDashboard(item,'JIRA')"><B>JIRA</B></a></td> 
						
						<td><a ng-click="open('app/pages/operational/operationalInfo.html', 'md', item.dashboardName, item.owner)">
                        <img src="app/pages/dashboard/infoDialog/info.png" width="20" height="20"></a> </td>
						<td style="width: 10%" ng-model="item.owner">{{item.owner}}</td>  -->

								<td style="width: 10%;"><a
									style="color: #4c4c4c; margin-left: 5%"
									ng-click="changeRouteOperational(item)" class="ion-edit"> Edit</a> <a
									style="color: #4c4c4c; margin-left: 10%"
									ng-click="deleteDashboard(item)" class="ion-trash-b"> Delete</a></td>

							</tr>
						</tbody>
					</table>
					<dir-pagination-controls directions-links="true"
						boundary-links="true"
						on-page-change="pageChangedLevel(newPageNumber)"></dir-pagination-controls>
				<div style="margin-top:2%"><font color="#0039a6 ">*</font><font style="width: 10%;font-size:12px" > - indicates the dashboard has no templates assigned</font> </div>
				<div style="margin-top:0%"><font color="#e85656">*</font><font style="width: 10%;font-size:12px" > - indicates the dashboard has no projects assigned</font> </div>
				</div>

			</div>

			</uib-tab> 
			
			<uib-tab heading="Public Dashboard" id="publictab" active="activeTabIndex">
			
			<div ba-panel
				ba-panel-title=""
				ba-panel-class="with-scroll"> <!-- ng-init=" operationalDashboardpublicDetails(1);initialcountofpublicDetails()" -->

				<div class="tab-content">
				
				    <table class="table" ng-if="detailspublicCount == '0'">
				        <tr>
				          <td>No Public Dashboard Avaliable</td>
				        </tr>
				    </table>
				    
					<table class="table" ng-if="detailspublicCount != '0'">
						  
						<thead>
							<tr class="sortable">

								<th style="width: 10%; font-weight: bold">Dashboards</th>
								<th style="width: 10%; font-weight: bold">Owner</th>
								<th style="width: 15%; font-weight: bold">Description</th>
												</tr>
						</thead>
						<tbody>

							<tr
								dir-paginate="item in operationalDashboardTablepublicDetails | itemsPerPage: 5"
								total-items="detailsCount">
								<td style="width: 10%">
								<a style="color: #58d68d"
									ng-click="openDashboard(item)">{{item.dashboardName}}</a></td>
									<td style="width: 15%" ng-model="item.owner">{{item.owner}}</td>
								<td style="width: 15%" ng-model="item.description">{{item.description}}</td>
								<!-- <td style="width: 10%"><a style="color: #58d68d"
							ng-click="openDashboard(item,'ALM')"><B>ALM</B></a> &nbsp
							<a style="color: #58d68d"
							ng-click="openDashboard(item,'JIRA')"><B>JIRA</B></a></td> 
						
						<td><a ng-click="open('app/pages/operational/operationalInfo.html', 'md', item.dashboardName, item.owner)">
                        <img src="app/pages/dashboard/infoDialog/info.png" width="20" height="20"></a> </td>
						<td style="width: 10%" ng-model="item.owner">{{item.owner}}</td>  -->

							<!-- 	<td style="width: 10%;"><a
									style="color: #ffffff; margin-left: 5%"
									ng-click="changeRouteOperational(item)" class="ion-edit"></a> <a
									style="color: #ffffff; margin-left: 10%"
									ng-click="deleteDashboard(item._id)" class="ion-trash-b"></a></td> -->

							</tr>
						</tbody>
					</table>
					<dir-pagination-controls directions-links="true"
						boundary-links="true"
						on-page-change="pageChangedLevelpublic(newPageNumber)"></dir-pagination-controls>
				</div>

			</div>
			
			</uib-tab> 
			</uib-tabset>
		</div>

	</div>