<head><meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/></head>
<div class="popupbgimg modal-content " style="margin-top: 40%"
	ng-controller="jiraToolConfigurationCtrl" ng-init="loadJiraInstanceDetails()">

	<div class="modal-header" style="padding: 0px">
		<div>
			<label style="font-size: 16px; padding: 14px">Edit Jira Instance</label>
			<button style="float: right" "type="button" class="close"
				ng-click="cancel();$dismiss()">
				<span> x</span>
			</button>
		</div>
	</div>

	<div>
		
			<div class="modal-body">
					<table>
				<tr>
					<td height=30px><label class="custom-checkbox"
						style="width: 125px; font-weight: normal">Name:</label></td>
					<td><input id="name"
						style="width: 300px; background-color: transparent; border: 1px solid rgb(156, 154, 154)"
						ng-model="data.name" type="text" name="name"></td>
				</tr>
				<!-- <tr>
					<td colspan=2 height=30px>
						<p style="margin-top: 10px; margin-left: 10px; font-size: 12px">
							<U>Note:</U> Provide Network Credentials - If <span
								style="color: #edaed7;"><B>'<U>Single Sign-On</U>'
							</B></span> enabled for this instance.
						</p>
					</td>
				</tr> -->
				<tr>
					<td height=30px><label class="custom-checkbox"
						style="width: 125px; font-weight: normal">URL:</label></td>
					<td><input id="url"
						style="width: 300px; background-color: transparent; border: 1px solid rgb(156, 154, 154)"
						ng-model="data.url" type="text" name="url"></td>
				</tr>
				<tr>
					<td height=30px><label class="custom-checkbox"
						style="width: 125px; font-weight: normal">User Name:</label></td>
					<td><input id="username"
						style="width: 300px; background-color: transparent; border: 1px solid rgb(156, 154, 154)"
						ng-model="data.username" type="text" name="username"></td>
				</tr>
				<tr>
					<td height=30px><label class="custom-checkbox"
						style="width: 125px; font-weight: normal">Password:</label></td>
					<td><input id="password"
						style="width: 300px; background-color: transparent; border: 1px solid rgb(156, 154, 154)"
						ng-model="data.password" type="password" name="password"></td>
				</tr>

				 <tr>
					<td height=30px><label class="custom-checkbox"
						style="width: 200px; color: #81A2AC; font-weight: normal">Epic
							<font size="2">[Custom Field]</font>
					</label></td>
					<td><input id="customEpic"
						style="width: 200px; background-color: transparent; border: 1px solid rgb(156, 154, 154)"
						ng-model="data.customEpic" type="text" name="customEpic"></td>
				</tr>

				<tr>
					<td height=30px><label class="custom-checkbox"
						style="width: 200px; color: #81A2AC; font-weight: normal">Sprint
							<font size="2">[Custom Field]</font>
					</label></td>
					<td><input id="customSprint"
						style="width: 200px; background-color: transparent; border: 1px solid rgb(156, 154, 154)"
						ng-model="data.customSprint" type="text" name="customSprint"></td>
				</tr>

				<tr>
					<td height=30px><label class="custom-checkbox"
						style="width: 200px; color: #81A2AC; font-weight: normal">Story
							Points <font size="2">[Custom Field]</font>
					</label></td>
					<td><input id="customStorypoints"
						style="width: 200px; background-color: transparent; border: 1px solid rgb(156, 154, 154)"
						ng-model="data.customStorypoints" type="text"
						name="customStorypoints"></td>
				</tr>

			</table>
			<table>
				<tr>
					<td height=30px><label class="userText"
						style="width: 125px; font-weight: normal">Test Plugins:</label> <input
						ng-model="data.testPlugin" type=radio name=plugin id=plugin
						value=Zephyr> <B>Zephyr</B> &nbsp; &nbsp; &nbsp; <input
						ng-model="data.testPlugin" type=radio name=plugin id=plugin
						value=QMetry> <B>QMetry</B>&nbsp;&nbsp; &nbsp; <input
						ng-model="data.testPlugin" type=radio name=plugin id=plugin
						value=NONE checked> <B>None</B></td>
				</tr>
			</table>
			<div ng-show="data.testPlugin == 'Zephyr'">
				<table>
					<tr>
						<td height=30px><label class="custom-checkbox"
							style="width: 125px; font-weight: normal">Cloud URL:</label></td>
						<td><input id="zephyrUrl"
							style="width: 400px; background-color: transparent; border: 1px solid rgb(156, 154, 154)"
							ng-model="data.zephyrUrl" type="text" name="zephyrUrl"></td>
					</tr>
					<tr>
						<td height=30px><label class="custom-checkbox"
							style="width: 125px; font-weight: normal">UserName:</label></td>
						<td><input id="zephyrUsername"
							style="width: 400px; background-color: transparent; border: 1px solid rgb(156, 154, 154)"
							ng-model="data.zephyrUsername" type="text" name="zephyrUsername"></td>
					</tr>
					<tr>
						<td height=30px><label class="custom-checkbox"
							style="width: 125px; font-weight: normal">Access Key:</label></td>
						<td><input id="zephyrAccessKey"
							style="width: 500px; background-color: transparent; border: 1px solid rgb(156, 154, 154)"
							ng-model="data.zephyrAccessKey" type="password"
							name="zephyrAccessKey"></td>
					</tr>
					<tr>
						<td height=30px><label class="custom-checkbox"
							style="width: 125px; font-weight: normal">Secret Key:</label></td>
						<td><input id="zephyrSecretKey"
							style="width: 500px; background-color: transparent; border: 1px solid rgb(156, 154, 154)"
							ng-model="data.zephyrSecretKey" type="password"
							name="zephyrSecretKey"></td>
					</tr>

					<tr>
						<td height=30px><label class="custom-checkbox"
							style="width: 125px; color: #81A2AC; font-weight: normal">Can
								Automate <font size="2">[Custom Field]</font>
						</label></td>
						<td><input id="customAutomation"
							style="width: 200px; background-color: transparent; border: 1px solid rgb(156, 154, 154)"
							ng-model="data.customAutomation" type="text"
							name="customAutomation"></td>
					</tr>

				</table>

			</div>
			<div ng-show="data.testPlugin == 'QMetry'">
				<table>
					<tr>
						<td height=30px><label class="custom-checkbox"
							style="width: 125px; font-weight: normal">API Key:</label></td>
						<td><input id="qMetryAPIKey"
							style="width: 500px; background-color: transparent; border: 1px solid rgb(156, 154, 154)"
							ng-model="data.qMetryAPIKey" type="password" name="qMetryAPIKey"></td>
					</tr>
					<tr>
						<td height=30px><label class="custom-checkbox"
							style="width: 125px; color: #81A2AC; font-weight: normal">Can
								Automate <font size="2">[Custom Field]</font>
						</label></td>
						<td><input id="customAutomation"
							style="width: 200px; background-color: transparent; border: 1px solid rgb(156, 154, 154)"
							ng-model="data.customAutomation" type="text"
							name="customAutomation"></td>
					</tr>
				</table>

			</div>
<table>
				<tr>
					<td height=60px><button type="submit"
							class="btn btn-success col-md-1 "
							style="width: 70px; margin-left: 180px; margin-top: 30px; margin-right: 15%; float: right"
							ng-click="updateJiraInstanceInfo(data)">Update</button></td>

					<td><button type="button" class="btn btn-danger col-md-1 "
							style="width: 70px; margin-top: 30px; float: left"
							ng-click="cancel();$dismiss()">Cancel</button></td>
				</tr>

			</table>

			</div>

			

		
	</div>
</div>