<head>
<meta name="viewport"
	content="width=device-width,height=device-height,initial-scale=1.0" />
</head>
<div class="popupbgimg modal-content" style="margin-top: 80%"
	ng-controller="jiraToolConfigurationCtrl">

	<div class="modal-header" style="padding: 0px">
		<div>
			<label style="font-size: 16px; padding: 14px">Add JIRA Project</label>
			<button style="float: right" "type="button" class="close"
				ng-click="closeJiraProjects()">
				<span> x</span>
			</button>
		</div>
	</div>

	<div>
		<div class="modal-body" style="margin: 2%;">
			<div style="padding-bottom: 1%; border: 1px solid grey;">
				<div class="row"  style="margin-top: 1%;width:80%">
					<div style="margin-left: 3%;">

						<table id="jiraProjects">
							<tr>
								<th width=20%><input id="jiraProject"
									style="height: 30px;width:90%; background-color: transparent; margin-left: 10px; border: 1px solid #cbcbcb"
									ng-model="jiraProject" type="text" name="jiraProject"></th>
								<th width=20% style="margin-left: -3%;"><button type="submit"
										class="btn btn-success col-md-1 "
										style="width: 150px; margin-left: 30px;"
										ng-click="addJiraProjectData(jiraProject,jiraId)">Add
										Project Key</button></th>
								
							</tr>
						</table>



					</div>
				</div>
				<div class="row" >
					
					<div style="margin-left: 3%;">
						<table style="margin-left: 10px;margin-right: 2%;" id="jstjiradomains"
							st-table="stjiraprojects" st-safe-src="safejiraprojects">
							<thead>
								<tr>
									<th  height=40px style="width:50%"><B>Projects</B></th>
									<th  height=40px style="width:10%"><B>Status</B></th>
									<th style="margin-left: 2%;padding-left: 2%;width:10%"><B>Option</B></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x in stjiraprojects">
									<td height=20px >{{x.prjKey}}</td>
									<td height=20px>{{x.status}}</td>
									<td style="margin-left: 2%;padding-left: 2%;"><a ng-click=deleteJiraProject(x.prjKey,jiraId)
										id={{x.prjKey}}>Delete</a></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="6" class="text-center" style="float: left;">
										<div st-pagination="" st-items-by-page="5"
											st-displayed-pages="5"></div>
									</td>
								</tr>
							</tfoot>
						</table>
						<BR>

					</div>
				</div>



			</div>
		</div>
	</div>
</div>
