<head>
<meta name="viewport"
	content="width=device-width,height=device-height,initial-scale=1.0" />
</head>
<div class="popupbgimg modal-content" style="margin-top: 80%"
	ng-controller="jiraToolConfigurationCtrl">

	<div class="modal-header" style="padding: 0px">
		<div>
			<label style="font-size: 16px; padding: 14px">Update Jira
				Scheduler</label>
			<button style="float: right" "type="button" class="close"
				ng-click="closeJiraProjects()">
				<span> x</span>
			</button>
		</div>
	</div>

	<div>
		<div class="modal-body" style="margin: 2%;">

			<table>
				<tr>
					<td><label class="custom-checkbox"
						style="width: 100px; font-weight: normal">Hours:</label></td>
					<td><input id="scheduler"
						style="background-color: transparent; border: 1px solid #cbcbcb"
						ng-model="data.scheduler" type="text" name="scheduler" disabled></td>
				</tr>
				<tr>
					<td><button type="submit" class="btn btn-success col-md-1 "
							style="width: 70px; margin-left: 10px; margin-top: 30px; margin-right: 3%; float: left"
							ng-click="updateJiraSchedulerInfo(data)">Update</button></td>
					<td><button type="button" class="btn btn-danger col-md-1 "
							style="width: 70px; margin-top: 30px; float: left"
							ng-click="cancel()">Cancel</button></td>
				</tr>
			</table>
			<p style="margin-left: 50px; margin-top: 20px;">Currently this
				value is fixed based on the collector execution study. If changed
				using mongoDB, we have to restart collector to take effect.</p>


		</div>
	</div>
</div>
