<div class="modal-content">
  <div class="modal-header bg-warning">
    <i class="ion-checkmark modal-icon"></i><span>Warning</span>
  </div>
  <div class="modal-body text-center"> Select the required operation</div>
  <div class="modal-footer" style="padding:0px;margin:2%">
  <div style="padding-bottom:5px;">
  <button type="button" class="btn bg-warning" ng-click="jiraMergeUploadData()">Merge and Upload</button>
  <button type="button" class="btn bg-warning" ng-click="jiraClearUploadData()">Clear and Upload</button> 
  </div>
  
  </div>
</div>