<head>
<meta name="viewport"
	content="width=device-width,height=device-height,initial-scale=1.0" />

</head>
<body>
	<div class="popupbgimg modal-content" style="margin-top: 80%"
		ng-controller="jiraToolConfigurationCtrl">

		<div class="modal-header" style="padding: 0px">
			<div>
				<label style="font-size: 16px; padding: 14px">View Instance
					Details</label>
				<button style="float: right" "type="button" class="close"
					ng-click="closeJiraProjects()">
					<span> x</span>
				</button>
			</div>
		</div>

		<div>
			<div class="modal-body" style="margin: 2%;">
				<div style="padding-bottom: 1%; border: 1px solid grey;">
				<div class="row"
						style="margin-top: 1%; margin-bottom: 2%; width: 80%">
						<div style="margin-left: 3%;">
							<div>
								<label style="font-size: 16px; ">Project List</label>
								

							</div>
						</div>
					</div>
					<div class="row"
						style="margin-top: 1%; margin-bottom: 5%; width: 80%">
						<div style="margin-left: 5%;">
							<div ng-if="projectList.length>0">
								
								<ul style="font-size:16px;color:black">
									<li ng-repeat="list in projectList">{{list.prjKey}}
									</li>
									</ul>

							</div>
							<div ng-if="projectList.length == 0">
								
								<label style="font-size: 14px;color:black ">No Project Key is available</label>

							</div>
						</div>
					</div>




				</div>
			</div>
		</div>
	</div>

</body>