
<div ng-if="tool == 'ALM'" class="row pie-charts"
	ng-controller="DashboardPieChartCtrl">

	<div class="row">
		<div class="form-group col-md-2" ng-init="gettimeperiod();">
			<label>Time Period:</label> <select
				style="outline: 0; background-color: rgba(87, 95, 118, 1)"
				name='timeperioddrop' id="timeperioddrop" class="form-control"
				ng-model="selectedtimeperioddrop"
				ng-options="timeperiodDashdrop for timeperiodDashdrop in timeperiodDashdrops"
				ng-change="gettimeperiodselection(selectedtimeperioddrop)" required>
				<option value="" disabled>Select Time Period</option>
			</select>
		</div>

		<div class="form-group col-md-2">
			<label>From:</label> <input style="width: 100%" type="date"
				ng-change="getfromdate(dtfrom | date:'MM/dd/yyyy')"
				class="form-control" uib-datepicker-popup="MM/dd/yyyy"
				datepicker-options="fromoptions" ng-model="dtfrom" is-open="opened1"
				ng-required="true" close-text="Close"
				alt-input-formats="altInputFormats" show-button-bar="false" />
		</div>

		<div class="form-group col-md-2" ng-init="">
			<label>To:</label> <input style="width: 100%" type="date"
				class="form-control"
				ng-change="gettodate(dtto | date:'MM/dd/yyyy');"
				uib-datepicker-popup="MM/dd/yyyy" datepicker-options="tooptions"
				ng-model="dtto" is-open="opened2" ng-required="true"
				close-text="Close" alt-input-formats="altInputFormats"
				show-button-bar="false" />
		</div>

	</div>

	<div class="pie-chart-item-container">
		<div ba-panel style="margin-top: 20px;">

			<div class="pie-chart-item" id="totalreqlist"
				ng-init="dashboardReqCount()">
				<a href="#requirements" class="descriptionLink"><div
						style="font-size: 15px; text-align: center">Total
						Requirements Count</div>
					<div class="description-stats"
						style="font-size: 40px; margin-top: 20px; text-align: center">{{totalreqdata}}</div></a>
				<div>
					<a
						ng-click="open('app/pages/charts/requirements/requirementsdata/reqcount.html','sm')">
						<!-- <img src="app/pages/dashboard/infoDialog/info.png" width="20" height="20" style="float:right; margin-top:20px" > -->
					</a>
				</div>

			</div>
		</div>
	</div>
	
	<div class="pie-chart-item-container" style="margin-left: auto">
		<div ba-panel ba-panel style="margin-top: 20px">
			<div class="pie-chart-item" id="onChangeTcCount">

				<a href="#testexecution" class="descriptionLink">
					<div style="font-size: 15px; text-align: center"
						ng-init="dashboardExeCount()">Total Execution Count</div>


					<div style="font-size: 15px; text-align: center"></div>
					<div class="description-stats"
						style="font-size: 40px; margin-top: 20px; text-align: center">{{tcexecnt}}
					</div>
				</a>
				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/tot_exec.html','sm')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 20px">
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="pie-chart-item-container">
		<div ba-panel style="margin-top: 20px">
			<div class="pie-chart-item" ng-init="dashboardReqVolatility()">
				<a href="#requirements" class="descriptionLink"><div
						class="chart" id="dashreqvola" rel="rgba(64, 146, 217, 0.9)">
						<span class="percent"> </span>
					</div>

					<div
						style="font-size: 15px; padding-top: 20px; padding-left: 100px !important;"
						class="description-stats">Requirement Volatility</div></a>
				<div class="description-stats"></div>

				<div>
					<a
						ng-click="open('app/pages/charts/requirements/requirementsdata/reqvolatility.html','lg')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 20px">
					</a>
				</div>
			</div>
		</div>
	</div> -->



	<div class="pie-chart-item-container">
		<div ba-panel style="margin-top: 20px;">
			<div class="pie-chart-item" id="totdesigncount"
				ng-init="dashboardTestCount()">

				<a href="#testcases" class="descriptionLink">
					<div style="font-size: 15px; text-align: center">Total Test
						Count</div>


					<div style="font-size: 15px; text-align: center"></div>
					<div class="description-stats"
						style="font-size: 40px; margin-top: 20px; text-align: center;">{{testCount}}
					</div>
				</a>
				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/tc_count.html','sm')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 20px">
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="pie-chart-item-container" style="margin-right: auto">
		<div ba-panel style="margin-top: 20px;">
			<div class="pie-chart-item" ng-init="dashboardExeCoverage()">
				<a href="#testexecution" class="descriptionLink">
					<div class="chart" id="dashexecov" rel="rgba(60, 193, 95, 0.9)">
						<span class="percent"> </span>
					</div>

					<div class="">

						<div
							style="font-size: 15px; padding-top: 20px; padding-left: 100px !important;"
							class="description-stats">Test Execution Coverage</div>
						<div class="description-stats"></div>

					</div>
				</a>
				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/exe_cov.html','lg')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 20px">
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="pie-chart-item-container" style="margin-right: auto">
		<div ba-panel style="margin-top: 20px;">
			<div class="pie-chart-item" ng-init="dashboardDesignCoverage()">
				<a href="#testcases" class="descriptionLink">
					<div class="chart" id="dashdesigncov"
						rel="rgba(162, 116, 189, 0.9)">
						<span class="percent"> </span>
					</div>

					<div class="">

						<div
							style="font-size: 15px; padding-top: 20px; padding-left: 100px !important;"
							class="description-stats">Test Design Coverage</div>
						<div class="description-stats"></div>

					</div>
				</a>
				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/test_case_cov.html','lg')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 20px">
					</a>
				</div>
			</div>
		</div>
	</div> -->

	
	

	<div class="pie-chart-item-container" style="margin-left: auto">
		<div ba-panel>
			<div class="pie-chart-item" id="dashtotaldefect">

				<a href="#defects" class="descriptionLink"><div
						style="font-size: 15px; text-align: center"
						ng-init="dashboardDefCount()">Total Defects Count</div>

					<div style="font-size: 15px; text-align: center"></div>
					<div class="description-stats"
						style="font-size: 40px; margin-top: 20px; text-align: center">{{defectCount}}
					</div> </a>
				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/tot_defect.html','sm')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 20px">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="pie-chart-item-container" style="margin-right: auto"
		ng-init="dashboardDefectRejrate()">
		<div ba-panel>
			<div class="pie-chart-item">
				<a href="#defects" class="descriptionLink">
					<div class="chart" id="dashdefrejrate"
						rel="rgba(230, 155, 48, 0.9)">
						<span class="percent"> </span>
					</div>

					<div class="">

						<div
							style="font-size: 15px; padding-top: 20px; padding-left: 100px !important;"
							class="description-stats">Defect Rejection Rate</div>
						<div class="description-stats"></div>

					</div>

				</a>
				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/defrejrate.html','lg')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 20px">
					</a>
				</div>
			</div>
		</div>
	</div>
	
<!-- 	NEW METRICS -->

<div class="pie-chart-item-container" style="margin-right: auto">
		<div ba-panel style="margin-top: 0px;">
			<div class="pie-chart-item" ng-init="regressionautomationFilter()">
				<a href="#testcases" class="descriptionLink">
					<div class="chart" id="regautofilter"
						rel="rgba(162, 116, 189, 0.9)">
						<span class="percent"> </span>
					</div>

					<div class="">

						<div
							style="font-size: 15px; padding-top: 20px; padding-left: 100px !important;"
							class="description-stats">Regression Automation Coverage</div>
					</div>
				</a>
				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/regressionautomation.html','lg')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 5px">
					</a>
				</div>
			</div>
		</div>
		</div>
	
	
	<div class="pie-chart-item-container" style="margin-right: auto"
		ng-init="firstpassrate()">
		<div ba-panel>
			<div class="pie-chart-item">
				<a href="#testexecution" class="descriptionLink">
					<div class="chart" id="passrate" rel="rgba(255,255,255,0.4)">
						<span class="percent"> </span>
					</div>
					<div class="">
						<div
							style="font-size: 15px; padding-top: 20px; padding-left: 100px !important;"
							class="description-stats">First Time Pass Rate</div>
						<div class="description-stats"></div>
					</div>
				</a>
			</div>
			<div>
				<a
					ng-click="open('app/pages/dashboard/infoDialog/passrate.html','lg')">
					<img src="app/pages/dashboard/infoDialog/info.png" width="20"
					height="20" style="float: right;; margin-top: 20px">
				</a>
			</div>


		</div>


	</div>
	
	<div class="pie-chart-item-container" style="margin-right: auto"
		ng-init="FuncationalAutomation()">
		<div ba-panel>
			<div class="pie-chart-item">

				<a href="#testexecution" class="descriptionLink">
					<div class="chart" id="funcatuo" rel="rgba(64, 146, 217, 0.9)">
						<span class="percent"> </span>
					</div>

					<div class="">

						<div
							style="font-size: 15px; padding-top: 20px; padding-left: 100px !important;"
							class="description-stats">Functional Automation Utilization</div>

					</div>
				</a>
				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/funcauto.html','lg')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 5px">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="pie-chart-item-container" style="margin-right: auto"
		ng-init="RegressionAutomation()">
		<div ba-panel>
			<div class="pie-chart-item">

				<a href="#testexecution" class="descriptionLink">
					<div class="chart" id="regatuo" rel="rgba(64, 146, 217, 0.9)">
						<span class="percent"> </span>
					</div>

					<div class="">

						<div
							style="font-size: 15px; padding-top: 20px; padding-left: 100px !important;"
							class="description-stats">Regression Automation Utilization</div>
					</div>
				</a>
				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/regauto.html','lg')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 5px">
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="pie-chart-item-container" style="margin-right: auto"
		ng-init="UATAutomation()">
		<div ba-panel>
			<div class="pie-chart-item">

				<a href="#testexecution" class="descriptionLink">
					<div class="chart" id="uatatuo" rel="rgba(64, 146, 217, 0.9)">
						<span class="percent"> </span>
					</div>

					<div class="">

						<div
							style="font-size: 15px; padding-top: 20px; padding-left: 100px !important;"
							class="description-stats">UAT Automation Utilization</div>


					</div>
				</a>
				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/uatauto.html','lg')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 5px">
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="pie-chart-item-container" style="margin-right: auto"
		ng-init="defectdensityfilter()">
		<div ba-panel>
			<div class="pie-chart-item">

				<a href="#defects" class="descriptionLink">
					<div class="chart" id="defdensityfilter"
						rel="rgba(64, 146, 217, 0.9)">
						<span class="percent"> </span>
					</div>

					<div class="">

						<div
							style="font-size: 15px; padding-top: 20px; padding-left: 100px !important;"
							class="description-stats">Defect Density</div>
						<div class="description-stats"></div>

					</div>
				</a>
				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/defdensity.html','lg')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 38px">
					</a>
				</div>
			</div>
		</div>
	</div>

<!-- END of NEW METRICS -->

</div>




<div ng-if="tool == 'JIRA'" class="row pie-charts"
	ng-controller="DashboardPieChartCtrl" ng-init="getRollingPeriod()">
	
	<div class="pie-chart-item-container" style="margin-left: auto;"
		ng-controller="UserStoryCtrl">

		<div ba-panel style="margin-top: 20px;">

			<div class="pie-chart-item" id="totalsprintcount"
				ng-init="">
				<a href="#userstoriesdetails" class="descriptionLink">
					<div style="font-size: 15px; text-align: center">Total
						Sprints Count</div>
					<div class="description-stats"
						style="font-size: 40px; margin-top: 20px; text-align: center">{{userStorySprintData}}</div>
				</a>
			</div>
		</div>
	</div>

	<div class="pie-chart-item-container" style="margin-left: auto;"
		ng-controller="UserStoryCtrl">

		<div ba-panel style="margin-top: 20px;">

			<div class="pie-chart-item" id="totaluserstorycount"
				ng-init="">
				<a href="#userstoriesdetails" class="descriptionLink">
					<div style="font-size: 15px; text-align: center">Total User
						Stories Count</div>
					<div class="description-stats"
						style="font-size: 40px; margin-top: 20px; text-align: center">{{userStoryData}}</div>
				</a>
			</div>
		</div>
	</div>


	<!-- Total Story Point -->
	<div class="pie-chart-item-container" ng-controller="RequirementsCtrl">
		<div ba-panel style="margin-top: 20px;">

			<div class="pie-chart-item" id="totstorypoint"
				ng-init="">
				<a href="#requirements" class="descriptionLink">
					<div style="font-size: 15px; text-align: center">Total
						Story Points</div>
					<div class="description-stats"
						style="font-size: 40px; margin-top: 20px; text-align: center">{{totstorypoint}}</div>
				</a>
			</div>
		</div>

	</div>
	<!-- Test case count -->

	<div class="pie-chart-item-container" style="margin-left: auto;"
		ng-controller="TestCasesCtrl" style="margin-top : 20px;">

		<div ba-panel style="margin-top: 20px;">
			<div class="pie-chart-item" id="totaltestcount"
				ng-init="">
				<a href="#testcases" class="descriptionLink">
					<div style="font-size: 15px; text-align: center">Total
						Tests Count</div>
					<div class="description-stats"
						style="font-size: 40px; margin-top: 20px; text-align: center">{{testCountdash}}</div>
				</a>
			</div>
		</div>
	</div>

	<!-- Total Defects Count  -->
	<div class="pie-chart-item-container" style="margin-left: auto;">
		<div ba-panel>
			<div class="pie-chart-item" id="totaldefect">

				<a href="#defects" class="descriptionLink">
					<div style="font-size: 15px; text-align: center"
						ng-init="">Total Bugs Count</div>

					<div style="font-size: 15px; text-align: center"></div>
					<div class="description-stats"
						style="font-size: 40px; margin-top: 20px; text-align: center">{{defectCount}}
					</div>
				</a>
			</div>
		</div>

	</div>
	<!-- Defect Opened Rate -->
	<div class="pie-chart-item-container" style="margin-left: auto;"
		ng-controller="defectsCtrl" ng-init="">
		<div ba-panel>
			<div class="pie-chart-item">
				<a href="#defects" class="descriptionLink">
					<div class="chart" id="defopenrate" rel="rgba(255,255,255,0.4)">
						<span class="percent"> </span>
					</div>

					<div class="">

						<div
							style="font-size: 15px; padding-top: 20px; padding-left: 100px !important;"
							class="description-stats">Bugs Opened Rate</div>
						<div class="description-stats"></div>

					</div>

				</a>
			</div>
			<div>
				<a
					ng-click="open('app/pages/dashboard/infoDialog/bugs_openrate.html','sm')">
					<img src="app/pages/dashboard/infoDialog/info.png" width="20"
					height="20" style="float: right; margin-top: 20px">
				</a>
			</div>
		</div>

	</div>

	<div class="pie-chart-item-container" style="margin-left: auto"
		ng-controller="JiraTestExecutionCtrl">
		<div ba-panel>
			<div class="pie-chart-item" id="onChangeTcCount">

				<a href="#testexecution" class="descriptionLink">
					<div style="font-size: 15px; text-align: center"
						ng-init="">Total Tests Executed</div>
					<div style="font-size: 15px; text-align: center"></div>
					<div class="description-stats"
						style="font-size: 40px; margin-top: 20px; text-align: center">{{totexecount}}
					</div>
				</a>

			</div>
		</div>

	</div>
	<div class="pie-chart-item-container" style="margin-right: auto"
		ng-controller="JiraTestExecutionCtrl">
		<div ba-panel>
			<div class="pie-chart-item" ng-init="">
				<a href="#testexecution" class="descriptionLink">
					<div style="font-size: 15px; text-align: center">Linked Bugs
						</div>


					<div style="font-size: 15px; text-align: center"></div>
					<div class="description-stats"
						style="font-size: 40px; margin-top: 20px; text-align: center;">{{uibugsdetectedcount}}
					</div>
				</a>
			</div>
			<div>
				<a
					ng-click="open('app/pages/dashboard/infoDialog/bugsDetectedCount.html','sm')">
					<img src="app/pages/dashboard/infoDialog/info.png" width="20"
					height="20" style="float: right; margin-top: 20px">
				</a>
			</div>
		</div>

	</div>

	<!-- Levis code ends here -->

</div>



