<div class="clr-row" [@root]>
  <div class="clr-col-12">
    <div class="card">
      <div class="card-header">
        <div class="drag-title" *ngIf="draggableStep">
          <clr-icon shape="drag-handle" size="32" title="Move {{title || 'Card'}} up/down"></clr-icon>
          <span style="vertical-align: bottom;" [dndDraggable]="draggableStep" [dndEffectAllowed]="'move'"
            (dndMoved)="onDragged(draggableStep)">
            {{title || 'Card'}}
          </span>
        </div>
        <div class="title" *ngIf="!draggableStep">
          <span>{{title || 'Card'}}</span>
        </div>
        <div class="options">
          <clr-dropdown *ngIf="options">
            <div clrDropdownTrigger style="display: flex;font-size: 12px;margin-right: .125rem;">
              <span class="label label-blue" style="border-radius: 4px;min-width: 60px;padding: 0;max-width: 100px;">
                <span class="selected-option">{{option}}</span>
                <clr-icon shape="caret down"></clr-icon>
              </span>
            </div>
            <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
              <span class="option" clrDropdownItem *ngFor="let opt of options"
                (click)="selectOption(opt)">{{opt}}</span>
            </clr-dropdown-menu>
          </clr-dropdown>
          <clr-icon *ngIf="closable" (click)="close.emit($event)" class="card-close-icon" shape="close" title="Remove">
          </clr-icon>
        </div>
      </div>
      <div class="card-block">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>