<section class="container" [class.full-screen]="isFullScreen">

    <div class="dashbaord-header">
        <div class="options right ">
            <div class="btn-group btn-icon">
                <button class="btn btn-link no-focus" title="View Full Screen" (click)="isFullScreen = ! isFullScreen;">
                    <clr-icon shape="display"  size="20" [class.is-solid]="isFullScreen"></clr-icon>
                </button>
                <button class="btn btn-link no-focus" title="Cancel" [routerLink]="['./..', {page:page}]">
                    <clr-icon shape="times" size="20"></clr-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="carousel">
        <ng-container *ngFor="let item of slides; let index = index">
            <leap-display-chart class="slidechart" [@slideAnimation]="animationType" *ngIf="index === currentSlide"
                [chartType]="item.type" [dashboardData]="item.data" [dashboardConfig]="item.options"
                [chartTitle]="item.options?.title || item.name" [item]="item"></leap-display-chart>
        </ng-container>
        <button class="control prev" (click)="onPreviousClick()">
            <span class="arrow left"></span>
        </button>
        <button class="control next" (click)="onNextClick()">
            <span class="arrow right"></span>
        </button>
    </div>
</section>