.info-bar {
  min-height: 5.6rem;
  padding: 2px 4px;
  border-radius: 2px;
  overflow: hidden;
  flex-wrap: wrap;
  padding-top:0;
  box-shadow: var(--main-box-shadow-card);
}

.info-bar>div {
  display: flex;
  flex-wrap: wrap;
  padding: 3px 4px;
}

:host {
  min-height: 4rem;
  display: flex;
  margin-bottom: 4px;
  background-color: var(--bg3);
}

.info-card {
  display: flex;
  min-height: 120px;
  max-height: 160px;
  min-width: 180px;
  height: 100%;
  background-color: var(--purple);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  color: var(--chart-card-color);
  line-height: 1.2;
  flex-grow: 1;
  text-align: center;
}

.text-1 {
  font-size: 2.4rem;
}

.text-2 {
  font-size: 2rem;
}

.text-3 {
  font-size: 1.6rem;
}

.text-4 {
  font-size: 1.2rem !important;
}

.text-5 {
  font-size: .8rem;
}

.text-6 {
  font-size: .5rem;
}

.info-card .left,
.info-card .right {
  font-size: 1.5rem;
  margin: auto;
  align-items: safe;
  line-height: 1.5;
}

.info-card:hover {
  filter: grayscale(.31);
  box-shadow: 0 1px 0px 3px var(--chart-card-shadow-color);
}

.info-card:not(:last-child) {
  margin-right: 6px;
}

.duration-stat {
  line-height: 1 !important;
}

.duration-stat>* {
  margin: auto;
}

.all-duration {
  width: 100%;
  margin: 0 6px;
}

.vl {
  border-left: 4px solid white;
  height: 2rem;
  margin: auto 3px !important;
}

.bg-red {
  background-color: var(--red) !important;
}

.bg-green {
  background-color: var(--green);
}

.bg-grey {
  background-color: var(--grey);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-red2 {
  background-color: var(--red2);
}

.bg-green2 {
  background-color: var(--green2);
}

@media (max-width: 1340px) {
  .info-card:nth-child(3) .left {
    transform: scale(.9);
  }

  .text-4 {
    font-size: 1rem !important;
  }
}

/* 
@media (min-width: 1200px) {
  .info-card {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 992px) {
  .info-card {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
  }
}

@media (min-width: 768px) {
  .info-card {
    -webkit-box-flex: 0;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 768px) {
  .info-card {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 576px) {
  .info-card {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 576px) {
  .info-card {
    -webkit-box-flex: 0;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
} */
