<header class="header-2" [hidden]="!loggedIn" [attr.data-theme]="theme$ | async" *ngIf="showFullHeader$|async">
  <div class="branding clr-hidden-sm-down">
    <a class="nav-link">
      <img src="assets/logo-r.svg" />
      <!-- <span class="title">iDashboard</span> -->
    </a>
  </div>
  <div class="branding-sm clr-hidden-md-up" style="min-width: 4rem;">
    <a class="nav-link is-link" style="margin: 6px 12px; padding: 6px;width: 48px;height: 48px;"
      [routerLink]="['/home']" [routerLinkActive]="['active']">
      <clr-icon shape="home" size="36" style="color:var(--white);"></clr-icon>
    </a>
  </div>
  <div class="header-nav clr-hidden-sm-down">
    <a class="nav-link nav-text" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
    <a class="nav-link nav-text" [routerLinkActive]="['active']" style="max-width: 180px;">
      <label [routerLink]="['ciqdashboard','projects']" [title]="(projectLoaded && project?.name) || 'Project'"
        style="overflow: hidden;text-overflow: ellipsis;">{{(projectLoaded && project?.name) || 'Project'}}</label>
      <clr-dropdown *ngIf="projects$ | async as projects">
        <clr-icon shape="caret down"></clr-icon>
        <clr-dropdown-menu clrPosition="bottom-left">
          <label class="dropdown-header" [routerLink]="['ciqdashboard','projects','new']">New Project</label>
          <div class="dropdown-divider" role="separator"></div>
          <button type="button" clrDropdownItem *ngFor="let project of projects | slice:0:5;"
            [routerLink]="['ciqdashboard',project.id]" [title]="project.name">
            <label>{{project.name}}</label>
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </a>
  </div>
  <div class="filler"></div>
  <div class="header-actions">
    <div class="action">
      <!-- <a class="search-link" [routerLink]="['/idashboard/smart-dashboard']" [routerLinkActive]="['active']">
        Search
      </a> -->
      <app-notification *ngIf="false"></app-notification>
      <app-user-menu class="flex-row" style="min-width: 2.25rem;"></app-user-menu>
    </div>
  </div>
</header>