<div class="create-wizard flex-col full">
  <div class="header flex-row">
    <div class="title flex-row">
      <div class="crumb" *ngFor="let nav of navs;let last= last;let index = index;">
        <span class="page-link" [class.is-link]="!last" (click)="onCrumClick(index)">{{nav}}
          <span class="value item-source" *ngIf="index===0 && item?.source as source"
            title="{{source}}">{{source}}</span>
          <span class="value item-type" *ngIf="index===1 && navs[2] && (item?.type || item?.itemGroup||'') as type"
            title="{{type}}">{{type}}</span>
        </span>
        <clr-icon *ngIf="!last" shape="angle" dir="right"></clr-icon>
      </div>
    </div>
    <div class="options right ">
      <div class="btn-group btn-outline-primary btn-md btn-icon">
        <button class="btn" title="Add New DataSource" *ngIf="navs && navs.length==1" (click)="OpenadddataSource()">
          <clr-icon shape="plus"></clr-icon>
        </button>
        <button class="btn" title="Upload Data DataSource" *ngIf="navs && navs.length==1" (click)="openUploadDlg()">
          <clr-icon shape="upload"></clr-icon>
        </button>
        <button class="btn" title="Create View" *ngIf="navs && navs.length==1" (click)="Opencreateview()">
          <clr-icon shape="cog"></clr-icon>
        </button>
        <button class="btn" title="Refresh Preview" (click)="reload()" *ngIf="navs && navs[2]">
          <clr-icon shape="refresh"></clr-icon>
        </button>
        <button class="btn" title="{{item?.id ? 'Update' : 'Save'}}" (click)="updateItem()" *ngIf="navs && navs[2]">
          <clr-icon shape="floppy"></clr-icon>
        </button>
        <button class="btn" title="Cancel" (click)="close()">
          <clr-icon shape="times"></clr-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="main-content" [ngSwitch]="navs.length">
    <div class="panel select-data  flex-col clr-col-12" *ngSwitchCase="1">
      <div class="search flex-row">
        <clr-icon shape="search" size="24"></clr-icon> <input type="text" [(ngModel)]="filterDataby">
      </div>
      <app-grouped-item class="items datasets full" [items]="datasets" [filterValue]="filterDataby"
        (itemSelect)="selectDataSource($event.name)" [canEdit]="true" [canRemove]="true"
        (itemRemove)="removeDataSource($event)" (itemEdit)="editDataSource($event)">
      </app-grouped-item>
    </div>
    <div class="panel select-data  flex-col clr-col-12" *ngSwitchCase="2">
      <ng-container *ngIf="itemTypes">
        <div class="search flex-row" *ngIf="itemTypes.length > 1">
          <clr-icon shape="search" size="24"></clr-icon> <input type="text" [(ngModel)]="filterItemby">
        </div>
        <app-grouped-item class="items item-types full" [items]="itemTypes" [filterValue]="filterItemby"
          (itemSelect)="selectType($event.name)">
        </app-grouped-item>
      </ng-container>
    </div>
    <div class="panel update-config flex-col full" *ngSwitchCase="3">
      <div class="head-filter flex-row">
        <app-dash-filter-dropdown [data]="newFilterOptions" [options]="filterOptions" (save)="addFilter($event)"
          (fieldChange)="onFiledSelected($event)">
        </app-dash-filter-dropdown>
        <app-dash-filter-dropdown *ngFor="let filter of filters;let index=index;" [data]="filter"
          [options]="filterOptions" [edit]="true" (clone)="addFilter($event)" (save)="saveFilter($event,index)"
          (select)="setFilter(filter,index,$event)" (remove)="removeFilter(filter,index);"
          (fieldChange)="onFiledSelected($event)">
        </app-dash-filter-dropdown>
      </div>
      <div class="main-config flex-row full">
        <item-data-editor *ngIf="item" class="config" [(item)]="item" [type]="item?.type"
          (fieldChange)="onFiledSelected($event)" [fields]="filterOptions?.fields" [filterOptions]="filterOptions">
        </item-data-editor>

        <div class="preview clr-col-12 flex-col">
          <app-display-chart *ngIf="previewData else noPreviewTpl" [chartType]="item.type" [dashboardData]="previewData"
            [dashboardConfig]="item.options" [chartTitle]="item.options?.title || item.name" [item]="item">
          </app-display-chart>
          <ng-template #noPreviewTpl>
            <button class="btn btn-link" title="Refresh Preview" (click)="reload()"
              style="margin: auto;color:var(--fg1);">
              click to fetch preview
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <!-- Add New Data Soruce View -->
  <div class="container">
    <form clrForm>
      <clr-modal [(clrModalOpen)]="opendtswin" [clrModalSize]="'xl'">
        <h3 class="modal-title">{{ title }} Data Source</h3>
        <div class="alert-container" *ngIf="duplicateDatasource.state">
          <clr-alert clrAlertType="danger" [clrAlertAppLevel]="false" style="width: 100%">
            <clr-alert-item>
              <span class="alert-text">
                Data Source with the name '{{ duplicateDatasource.value }}'
                already exist, Please select another name!
              </span>
            </clr-alert-item>
          </clr-alert>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 flex-shrink-1 bd-highlight">
              <div class="imagelabel flex-col">
                <span style="margin: auto; font-weight: bold">Select Image: (Please Upload "PNG" File)</span>
                <div class="tool-image">
                  <app-image-upload [(data)]="icon" type=".png"></app-image-upload>
                </div>
              </div>
            </div>
            <div style="width: 70%">
              <div class="container">
                <div class="clr-row">
                  <div class="clr-col-lg-12 clr-col-md-8 clr-col-12">
                    <div class="card">
                      <div class="card-block modal-content">
                        <div class="card-text">
                          <table class="container">
                            <tbody>
                              <tr>
                                <td><label>Name</label></td>
                                <td>
                                  <input clrInput type="text" name="name" id="name" [(ngModel)]="dtname"
                                    (blur)="blur(dtname)" />
                                </td>
                              </tr>
                              <tr>
                                <td><label>Group</label></td>
                                <td>
                                  <input clrInput type="text" name="group" id="group" [(ngModel)]="dtgroup" />
                                </td>
                              </tr>
                              <tr>
                                <td><label> CollectionName</label></td>
                                <td>
                                  <select clrSelect #mySelect class="use-clr-stylee" name="colname" id="colname"
                                    [(ngModel)]="selected" (change)="onOptionSelected(mySelect.value)"
                                    style="color: #000">
                                    <option value="-1">Select CollectionName</option>
                                    <option *ngFor="let item of collectionNames" value="{{ item }}"> {{ item }}</option>
                                  </select>
                                </td>
                              </tr>
                              <tr>
                                <td><label>Description</label></td>
                                <td>
                                  <input clrInput type="text" name="desc" id="desc" [(ngModel)]="dtdesc" />
                                </td>
                              </tr>
                              <tr>
                                <td><label>ToolName</label></td>
                                <td>
                                  <input clrInput type="text" name="toolname" id="toolname" [(ngModel)]="dttoolname" />
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Update Custome label for a Field -->
              <div class="fieldlist" *ngIf="isSelected">
                <div class="container">
                  <form #formRef="ngForm" #aForm>
                    <div class="clr-col-lg-12 clr-col-md-8 clr-col-12">
                      <div class="card">
                        <div class="card-block modal-content">
                          <div class="card-text">
                            <table class="container">
                              <tbody>
                                <tr style="text-align: center">
                                  <td><label>Field Name</label></td>
                                  <td><label>* Label</label></td>
                                </tr>
                                <tr *ngFor="let item of ItemsCol; let i = index">
                                  <td>
                                    <label>{{ item.name }}</label>
                                  </td>
                                  <td>
                                    <input clrInput type="text" [(ngModel)]="ItemsCol[i].label" id="customField{{ i }}"
                                      name="item.name{{ i }}" #field="ngModel"
                                      (blur)="customFieldblur($event, item.name, i)" />
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="notemsg">
            <span><span>*</span><label>Append _ to Rename Custom Field in order to skip the field as input for
                metrics</label></span>
          </div>
          <button type="submit" class="btn btn-primary-outline" (click)="updateDataSource()"
            [disabled]="duplicateDatasource.state" *ngIf="isEdit">
            Update
          </button>

          <!-- <button type="button" class="btn btn-success-outline" [disabled]="!isSelected" title="Import Charts">
            Import Charts
          </button> -->
          <button type="submit" class="btn btn-primary-outline" (click)="addNewDataSource()"
            [disabled]="duplicateDatasource.state" *ngIf="isAdd">
            Create
          </button>
          <button type="button" class="btn btn-warning-outline" (click)="closeDlg()">
            Cancel
          </button>
        </div>
      </clr-modal>

    </form>
  </div>

  <!-- Upload External Data -->
  <div class="container">
    <form clrForm>
      <clr-modal [(clrModalOpen)]="openuploadwin">
        <h3 class="modal-title">Upload External Data</h3>
        <div class="modal-body">
          <div class="container">
            <div class="clr-row">
              <div class="clr-col-lg-12 clr-col-md-8 clr-col-12">
                <table class="container">
                  <tbody>
                    <tr>
                      <td style="min-width: 7rem;text-align: end;">
                        <label>Update Existing Collection:</label>
                      </td>
                      <td style="padding: 0 16px;">
                        <input type="checkbox" clrCheckbox name="check" [(ngModel)]="check"
                          (change)="onCheckboxChange();" />
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="container">
                  <tbody>
                    <tr *ngIf="check">
                      <td style="min-width: 7rem;text-align: end;"><label>Collection Name:</label></td>
                      <td class="no-label"><select clrSelect #mySelect name="colname" id="colname"
                          [(ngModel)]="updatecollectionname" (change)="oncollnameSelected(mySelect.value)"
                          style="color: #000;">
                          <option value="-1">Select CollectionName</option>
                          <option *ngFor="let item of collectionNames" value="{{ item }}"> {{ item }}</option>
                        </select></td>
                    </tr>
                    <tr>
                      <td style="min-width: 7rem;text-align: end;"><label>Select Type:</label></td>
                      <td style="padding: 0;">
                        <clr-dropdown [clrCloseMenuOnItemClick]="true">
                          <button clrDropdownTrigger class="btn btn-link" style="margin:6px 0;color: var(--fg1);"
                            aria-label="import tests button">
                            <clr-icon shape="import" class="is-solid"></clr-icon>Import External Data from
                            <clr-icon shape="caret down" style="right: .2rem;"></clr-icon>
                          </button>
                          <clr-dropdown-menu *clrIfOpen>
                            <div aria-label="import from json" clrDropdownItem (click)="fileInputJSON.click()">JSON
                            </div>
                            <div aria-label="import from csv" clrDropdownItem (click)="fileInputCSV.click()">CSV</div>
                          </clr-dropdown-menu>
                        </clr-dropdown>
                        <input type="file" accept="csv" (change)="importCSV($event)" (click)="resetFileInput($event)"
                          #fileInputCSV style="display: none;">
                        <input type="file" accept="json" (change)="importJSON($event)" (click)="resetFileInput($event)"
                          #fileInputJSON style="display: none;">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </clr-modal>
    </form>
  </div>


  <!--Create View-->

  <clr-modal [(clrModalOpen)]="opencreateviewswin" [clrModalSize]="'lg'">
    <h3 class="modal-title">Create View</h3>
    <div class="modal-body">
      <form [formGroup]="createViewform" (ngSubmit)="createview(createViewform.value)" class="form-horizontal">
        <div class="container" style="width: 80%;">
          <div class="clr-col-lg-12 clr-col-md-8 clr-col-12">
            <div class="card">
              <div class="card-block modal-createview-content">
                <div class="card-text">
                  <div class="field-group flex-col">
                    <div class="createview-list-group">
                      <div class="form-row">
                        <div class="form-group col-6">
                          <span>View Name</span><input clrInput type="text" formControlName="name" placeholder="Name">
                        </div>
                        <div class="form-group col-6" style="height: 2px;"></div>
                        <div class="form-group col-6">
                          <span>Select Collection</span><select clrSelect #myBaseSelect class="use-clr-stylee"
                            (change)="onBaseCollectionSelected(myBaseSelect.value)" style="color: #000;">
                            <option value="">Select CollectionName</option>
                            <option *ngFor="let item of updatedlookupcollectionnames" value="{{ item }}">{{ item }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

        <div style="width: 80%" *ngIf="isBaseSelected">
          <div [formGroup]="baseCollection" class="form-row">
            <div class="container">
              <div class="clr-col-lg-12 clr-col-md-8 clr-col-12">
                <div class="card">
                  <div style="font-size:20px;width:100%;background-color: #ccc;height: 29px;">&nbsp;{{selectedbaseCol}}
                  </div>
                  <div class="card-block modal-createview-content">
                    <div class="card-text">
                      <div>
                        <div>
                          <!-- <div class="aggregate flex-col">  -->
                          <!-- <div class="group flex-col">
                            <div class="title flex-row">
                              <span class="name"><label>{{selectedbaseCol}}</label></span>
                            </div>
                          </div> -->
                          <!-- </div>   -->
                          <!-- Control to get the collection Name-->
                          <input type="hidden" value='' formControlName="name" />

                          <div class="aggregate flex-col">
                            <div *ngFor="let fields of funcfields.controls; let i = index"
                              class="list-group list-group-flush">
                              <ng-container>
                                <div class="title flex-row">
                                  <span class="name">Field {{i +1}}</span>
                                  <span class="option" (click)="addBase(i)">
                                    <clr-icon title="Add" shape="plus-circle" size="20"></clr-icon>
                                  </span>
                                  <span class="option" *ngIf="funcfields.controls.length > 1"
                                    (click)="deleteBaseField(i)">
                                    <clr-icon title="Delete" shape="minus-circle" size="20"></clr-icon>
                                  </span>

                                </div>
                                <div class="field-group flex-col">
                                  <div class="createview-list-group">

                                    <div [formGroup]="fields" class="form-row">
                                      <div class="form-group col-6">

                                        <clr-select-container>
                                          <select #myBasefieldSelect formControlName="name" class="use-clr-stylee"
                                            clrSelect required (change)="onChangeBaseField(myBasefieldSelect.value,i)">
                                            <option value="">Select</option>
                                            <option *ngFor="let opt of ItemsBaseCol" value="{{opt.label}}">{{opt.label}}
                                            </option>
                                          </select>

                                        </clr-select-container>

                                      </div>
                                      <div class="form-group col-6">
                                        <input clrInput type="text" formControlName="alias" name="alias"
                                          placeholder="alias">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </ng-container>


                            </div>

                          </div>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container" style="margin-top:20px">
          <div class="row">

          </div>
        </div>



        <!-- Add lookup Button-->
        <div class="container">
          <div class="row">
            <div class="clr-col-lg-12 clr-col-md-8 clr-col-12">
              <button type="button" class="btn btn-primary-outline" (click)="OpenlookupCollectionDlg()">Add lookup
                Collection</button>
            </div>
          </div>
        </div>

        <div formArrayName="lookups">
          <div *ngFor="let lookups of formData.controls; let i = index" formGroupName="{{i}}">
            <div style="width: 80%" *ngIf="islookupsSelected">
              <div class="container">
                <div class="clr-col-lg-12 clr-col-md-8 clr-col-12">
                  <div class="card">

                    <div style="font-size:20px;width:100%;background-color: #ccc;height: 29px;">
                      &nbsp;{{selectedlookupsCol[i]}}

                      <span class="option" (click)="deleteLookup(i)" style="float:right">
                        <clr-icon title="Delete" shape="minus-circle" size="20"></clr-icon>
                      </span>

                    </div>

                    <div class="card-block modal-createview-content">
                      <div class="card-text">
                        <div class="aggregate flex-col">
                          <div class="group flex-col">
                            <div class="title flex-row">
                              <!-- <span class="name"><label>{{selectedlookupsCol[i]}}</label></span> -->
                              <!-- <span class="option" (click)="deleteLookup(i)">
                                <clr-icon title="Delete" shape="minus-circle" size="20"></clr-icon>
                            </span> -->
                            </div>
                          </div>
                        </div>
                        <div class="aggregate flex-col" formArrayName="fields">
                          <div class="group flex-col"
                            *ngFor="let name of lookups.controls.fields.controls; let j = index" formGroupName="{{j}}">

                            <div class="title flex-row">
                              <span class="name">Field {{j+1}}</span>
                              <span class="option" (click)="addlookup(i)">
                                <clr-icon title="Add" shape="plus-circle" size="20"></clr-icon>
                              </span>
                              <span class="option" *ngIf="lookups.controls.fields.controls.length > 1"
                                (click)="deletelookupField(i,j)">
                                <clr-icon title="Delete" shape="minus-circle" size="20"></clr-icon>
                              </span>
                            </div>

                            <div class="field-group flex-col">
                              <div class="fields flex-row">
                                <clr-select-container>
                                  <select #mylookupfieldSelect formControlName="name" class="use-clr-stylee" clrSelect
                                    placeholder="opt.name" name="opt-name"
                                    (change)="onChangeLookupField(mylookupfieldSelect.value,j)" required>
                                    <option value="">Select</option>
                                    <option value="{{opt.label}}" *ngFor="let opt of ItemslookupCol[i]">
                                      {{opt.label}}</option>
                                  </select>

                                </clr-select-container>
                              </div>

                              <div>
                                <input clrInput type="text" formControlName="alias" placeholder="alias">
                              </div>
                            </div>


                          </div>

                        </div>
                        <!-- localForeignFields"> -->

                        <div class="container" style="margin-top:20px">
                          <div class="row">

                          </div>
                        </div>

                        <div formArrayName="localForeignFields">

                          <div class="group flex-col"
                            *ngFor="let name of lookups.controls.localForeignFields.controls; let lffj = index"
                            formGroupName="{{lffj}}">

                            <div class="title flex-row">
                              <span class="name">Field Mapping {{lffj+1}}</span>
                              <span class="option" (click)="addlocalForeignFields(i)">
                                <clr-icon title="Add" shape="plus-circle" size="20"></clr-icon>
                              </span>
                              <span class="option" *ngIf="lookups.controls.localForeignFields.controls.length > 1"
                                (click)="deletelocalForeignFields(i,lffj)">
                                <clr-icon title="Delete" shape="minus-circle" size="20"></clr-icon>
                              </span>

                            </div>


                            <div class="field-group flex-col">
                              <div class="d-flex flex-row bd-highlight mb-3">
                                <div style="width: 50%;">Source Fields</div>
                                <div class="p-8 bd-highlight">Lookup Fields</div>
                              </div>
                              <div class="fields flex-row">

                                <clr-select-container>
                                  <select style="width: 97%;" #localFieldSelect formControlName="localField" clrSelect
                                    placeholder="opt.name" name="opt-name" required>
                                    <option value="">Select</option>
                                    <option value="{{opt.label}}" *ngFor="let opt of ItemsBaseCol">
                                      {{opt.label}}</option>
                                  </select>

                                </clr-select-container>

                                <clr-select-container>
                                  <select style="width: 97%;" #foreignFieldSelect formControlName="foreignField"
                                    clrSelect placeholder="opt.name" name="opt-name" required>
                                    <option value="">Select</option>
                                    <option value="{{opt.label}}" *ngFor="let opt of ItemslookupCol[i]">
                                      {{opt.label}}</option>
                                  </select>

                                </clr-select-container>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="container" style="margin-top:20px">
                          <div class="row">

                          </div>
                        </div>

                        <div>
                          <input clrInput type="text" formControlName="alias" placeholder="Collection alias" disabled>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="modal-footer">
          <button type="submit" class="btn btn-primary-outline">
            Create
          </button>
          <button type="button" (click)="closeCreateViewDlg()" class="btn btn-warning-outline">
            Cancel
          </button>
        </div>

      </form>
    </div>
  </clr-modal>
  <!--End of Form array-->


  <!-- Select Collection Name -->
  <clr-modal [(clrModalOpen)]="lookupsColwin">
    <h3 class="modal-title">Select lookups </h3>
    <div class="modal-body">
      <select clrSelect #lookupsSelectCollectionName class="use-clr-stylee"
        (change)="onlookupsCollectionSelected(lookupsSelectCollectionName.value)" style="color: #000">
        <option value="-1">Select CollectionName</option>
        <option *ngFor="let item of updatedlookupcollectionnames" value="{{ item }}">{{ item }}</option>
      </select>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="lookupsColwin = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="addUser()">Ok</button>
  </div> -->
  </clr-modal>
  <!-- End Collection Name -->

</div>