<ngx-charts-area-chart-normalized
class="x-chart"
[class.legend-down]="chartconfig?.legendPositionDown"
  [scheme]="colorScheme"
  [gradient]="chartconfig.gradient"
  [legend]="chartconfig.legend"
  [showXAxisLabel]="chartconfig.showXAxisLabel"
  [showYAxisLabel]="chartconfig.showYAxisLabel"
  [xAxis]="chartconfig.xAxis"
  [yAxis]="chartconfig.yAxis"
  [xAxisLabel]="chartconfig.xAxisLabel"
  [yAxisLabel]="chartconfig.yAxisLabel"
  [timeline]="chartconfig.timeline"
  [showGridLines]="chartconfig.showGridLines"
  [legendPosition]="chartconfig?.legendPositionDown?'down':'right'"
  [results]="data"
  (select)="onSelect($event)"
  [legendPosition]="chartconfig?.legendPositionDown?'down':'right'"
  [class.legend-down]="chartconfig?.legendPositionDown"
>
</ngx-charts-area-chart-normalized>