
<div class="popupbgimg modal-content" style="margin-top:400px;" ng-controller="AdminCtrl">
<div class="modal-header">
    <span style="font-size: 16px"> Update License Key</span>
    
    <!-- <a ng-click="cancel();$dismiss()">
	<img src="./assets/img/close.png" style="float:right;width: 10%" >
</a> -->
<button type="button" class="close" ng-click="cancel();$dismiss()" aria-label="closeed">
			<span aria-hidden="true"> x</span>
		</button> 
  </div>

  
<div class="modal-body">
   
      <form name="form" ng-submit=saveNewLicenseKey(form.newLicenseKey) >
      
  <div class="form-group" >
    <label for="licenseKey">License Key</label>
    <input type="input" class="form-control" id="newLicenseKey" ng-model="form.newLicenseKey" placeholder="License Key" required>
  </div>
  
  <button type="submit" style="margin-left:20%; margin-right:5px;" class="btn btn-success">Submit</button>

  <button type="button" style="margin-left:2%;" class="btn btn-danger" ng-click="cancel();$dismiss()">Cancel</button>
  
   </form>
     </div>
     </div>