<div class="widgets gridster" ng-controller="chefMetricsCtrl">
<!-- <a data-toggle="modal"  class="ion-android-arrow-back" ng-class="{'on':var2}"style="float:right; margin-top: 0%;margin-right: 2%;margin-bottom:1%;text-decoration: underline;font-size: 17px;color: #fff;" ng-click="back()"> Back</a> -->
	<div class="row"  ng-init="chefCookbookNamesData();">
		<div class=" pie-charts" >
			<div class="pie-chart-item-container" style="margin-left:122px;">
			   <div ba-panel style="margin-top:20px;">
					<div class="pie-chart-item" id="totalnodescount" ng-init="">
						<div style="font-size: 15px; text-align:center" >Total Environments deployed</div>
						<div class="description-stats" style="font-size: 40px;margin-top:20px;text-align:center">{{chefLastRunOnNodes.length}}</div>
					</div>
				</div>
			</div>
			
			<div class="pie-chart-item-container">
			   <div ba-panel style="margin-top:20px">
					<div class="pie-chart-item" id="totalrunscount"  ng-init="totalRunsCount()">
						<div style="font-size: 15px;text-align:center" >Total Deployments</div>
						<div class="description-stats" style="font-size: 40px;margin-top:20px;text-align:center">{{totalcookbookrunscount}}</div>
					</div>
				</div>
			</div>
		
			<div class="pie-chart-item-container">
			   <div ba-panel style="margin-top:20px">
					<div class="pie-chart-item" id="totalrunssuccesscount" ng-init="totalSuccessCount()" >
						<div style="font-size: 15px;text-align:center" >Total Successful Deployments</div>
						<div class="description-stats" style="font-size: 40px;margin-top:20px;text-align:center">{{totalrunssuccesscount}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6" ba-panel ba-panel-title="Last Deployment on Environments" ba-panel-class="with-scroll" >
			<div id="latestRun" style="text-align: left" ng-init="">
				<table id="lruns" class="table">
			   		<tr>
			   			<td style="width:25%; font-size: 15px; text-align:left">Node Name</td>
						<td style="width:35%; font-size: 15px; text-align:left">Deployment Date</td>
						<td style="width:30%; font-size: 15px; text-align:left">Deployment Status</td>
						<td style="width:10%; font-size: 15px; text-align:left">Indicator</td>
					</tr>
					<tr ng-repeat="lastrundetail in chefLastRunOnNodes">
						<td style="width:25%; font-size: 15px; text-align:left"><a style="color: #58d68d" ng-model="lastrundetail.nodename" ng-click="openNode(lastrundetail)"><B>{{lastrundetail.nodename}}</B></a></td>
						<td style="width:35%; font-size: 15px; text-align:left">{{lastrundetail.starttime}}</td>
						<td style="width:30%; font-size: 15px; text-align:left"><font ng-style="{{lastrundetail.iconcolor}}">{{lastrundetail.status}}</font></td>
						<td style="width:10%; font-size: 15px; text-align:left"><font ng-style="{{lastrundetail.iconcolor}}"><span class="{{lastrundetail.icon}}"></span></font></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-md-6" ba-panel ba-panel-title="Last Successful Deployment on Environments" ba-panel-class="with-scroll" >
			<div id="latestSuccessfulRun" class="" style=" text-align: left" ng-init="">
				<table id="lruns" class="table">
			   		<tr>
			   			<td style="width:25%; font-size: 15px; text-align:left">Node Name</td>
						<td style="width:35%; font-size: 15px; text-align:left">Deployment Date</td>
						<td style="width:30%; font-size: 15px; text-align:left">Deployment Status</td>
						<td style="width:10%; font-size: 15px; text-align:left">Indicator</td>
					</tr>
					<tr ng-repeat="lastsuccessfulrundetail in chefLastSuccessfulRunOnNodes">
						<td style="width:25%; font-size: 15px; text-align:left"><a style="color: #58d68d" ng-model="lastsuccessfulrundetail.nodename" ng-click="openNode(lastsuccessfulrundetail)"><B>{{lastsuccessfulrundetail.nodename}}</B></a></td>
						<td style="width:35%; font-size: 15px; text-align:left">{{lastsuccessfulrundetail.starttime}}</td>
						<td style="width:30%; font-size: 15px; text-align:left"><font ng-style="{{lastsuccessfulrundetail.iconcolor}}">{{lastsuccessfulrundetail.status}}</font></td>
						<td style="width:10%; font-size: 15px; text-align:left"><font ng-style="{{lastsuccessfulrundetail.iconcolor}}"><span class="{{lastsuccessfulrundetail.icon}}"></span></font></td>
					</tr>
				</table>
			</div>
		</div>
	</div>	
	
	<div class="row">
	
	<div class="col-lg-12 col-md-12 col-sm-12" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">
						Deployment Status Daily Trend
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','line','Deployment Status Daily Trend')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','line','Deployment Status Daily Trend')"><i
										class="fa fa fa-area-chart" download="Deployment Status Daily Trend.jpg"></i>Download JPEG</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body" style="padding-right: 0px;">
					<div
					ng-include="'app/LifeCycle/Tools/Infra/charts/chefRunsLinechart.html'"></div>
			</div>

			</div>
		</div>
		</div>
	<div class="row">
	
	
	<div class="col-lg-6 col-md-12 col-sm-12" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">
						Deployments By Status
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','barchart','Deployments By Status')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','barchart','Deployments By Status')"><i
										class="fa fa fa-area-chart" download="Deployments By Status.jpg"></i>Download JPEG</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body" style="padding-right: 0px;">
					<div
					ng-include="'app/LifeCycle/Tools/Infra/charts/chefRunsBarChart.html'"></div>
			</div>

			</div>
		</div> 
	
		
		
		
		<!-- 
		<div class="col-lg-6 col-md-12 col-sm-12"
			ba-panel
			ba-panel-title="Deployments By Status"
			ba-panel-class="with-scroll">
			<div ng-include="'app/LifeCycle/charts/chefDataChart/chefRunsBarChart.html'"></div> 
		</div> -->
		
		
		
		<div class="col-lg-6 col-md-12 col-sm-12" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">
						Deployments By Nodes
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','my-funnel','Deployments By Nodes')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','my-funnel','Deployments By Nodes')"><i
										class="fa fa fa-area-chart" download="Deployments By Nodes.jpg"></i>Download JPEG</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body" style="padding-right: 0px;">
					<div
					ng-include="'app/LifeCycle/Tools/Infra/charts/chefRunsFunnelChart.html'"></div>
			</div>

			</div>
		</div>
		
	</div>	
</div>