<ngx-charts-bar-vertical-group-gauge class="x-chart"  *ngIf="data && data.length && chartconfig" 
 [class.legend-down]="chartconfig?.legend && chartconfig.legendPositionDown" 
 [class.date-grouped]="chartconfig?.dateSeries && chartconfig.dateGroup"
  [scheme]="colorScheme" 
  [schemeType]="chartconfig.schemeType == 'linear' ?  chartconfig.schemeType : 'ordinal'"
  [results]="data" 
  [gradient]="chartconfig.gradient" 
  [xAxis]="chartconfig.xAxis" 
  [yAxis]="chartconfig.yAxis"
  [legend]="chartconfig.legend"
  [legendTitle]="chartconfig.legendTitle"
  [legendPosition]="chartconfig?.legendPositionDown?'down':'right'"
  [showXAxisLabel]="chartconfig.showXAxisLabel" 
  [showYAxisLabel]="chartconfig.showYAxisLabel"
  [xAxisLabel]="chartconfig.xAxisLabel" 
  [yAxisLabel]="chartconfig.yAxisLabel"
  [roundDomains]="chartconfig.roundDomains"
  [animations]="chartconfig.animations"
  [showGridLines]="chartconfig.showGridLines"
  [showDataLabel]="chartconfig.showDataLabel"
  [trimXAxisTicks]="chartconfig.trimXAxisTicks"
  [trimYAxisTicks]="chartconfig.trimYAxisTicks"
  [maxXAxisTickLength]="chartconfig.maxXAxisTickLength"
  [maxYAxisTickLength]="chartconfig.maxYAxisTickLength"
  [rotateXAxisTicks]="chartconfig.rotateXAxisTicks"
  [noBarWhenZero]="chartconfig.noBarWhenZero"
  [barPadding]="chartconfig.barPadding || 8"
  [groupPadding]="chartconfig.groupPadding || 16"
  [roundEdges]="chartconfig.roundEdges"
  [tooltipDisabled]="chartconfig.tooltipDisabled"
  [yScaleMax]="chartconfig.yScaleMax || yScaleMax"
  (select)="onSelect($event)"
  [xAxisTickFormatting]="seriesFormatter"
  >
</ngx-charts-bar-vertical-group-gauge>