<div class="row pie-charts" ng-controller="TestCasesCtrl"
	style="display: flex; margin-top: 100px; margin-bottom: 100px"
	ng-init="gettimeperiod();">


	<div class="pie-chart-item-container" style="margin-left: 122px">
		<div ba-panel>
			<div class="pie-chart-item" id="totaltestcount">

				<div style="font-size: 15px; text-align: center"
					ng-init="initialtestcount()">Total Test Count</div>

				<div style="font-size: 15px; text-align: center"></div>
				<div class="description-stats"
					style="font-size: 40px; margin-top: 20px; text-align: center">{{testCount}}
				</div>
				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/tc_count.html','sm')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 20px">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="pie-chart-item-container" style="margin-right: auto">
		<div ba-panel>
			<div class="pie-chart-item" ng-init="regressionautomationFilter()">
				<div class="chart" id="regautofilter" rel="rgba(255,255,255,0.4)">
					<span class="percent"> </span>
				</div>

				<div class="">

					<div
						style="font-size: 15px; padding-top: 20px; padding-left: 100px !important;"
						class="description-stats">Regression Automation Coverage</div>
					<div class="description-stats"></div>

				</div>
				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/test_case_cov.html','lg')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 20px">
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="pie-chart-item-container" style="margin-right: auto">
		<div ba-panel>
			<div class="pie-chart-item" ng-init="autoCoverageFilter()">
				<div class="chart" id="autocovfilter" rel="rgba(255,255,255,0.4)">
					<span class="percent"> </span>
				</div>

				<div class="">

					<div
						style="font-size: 15px; padding-top: 20px; padding-left: 100px !important;"
						class="description-stats">Automation Coverage</div>
					<div class="description-stats"></div>

				</div>
				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/test_auto_coverage.html','lg')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 20px">
					</a>
				</div>
			</div>
		</div>
	</div> -->
</div>