<div class="row pie-charts" ng-controller="TestExecutionCtrl"  ng-init="gettimeperiod();" style="display: flex; margin-top: 100px; margin-bottom: 100px">


<div class="pie-chart-item-container" style="margin-left: auto"> 
		<div ba-panel>
			<div class="pie-chart-item" id="onChangeTcCount"  >

<div style="font-size: 15px;text-align:center" ng-init="initialtccount()" >Total Execution Count</div>
				
<div style="font-size: 15px;text-align:center"></div>
				<div class="description-stats" style="font-size: 40px;margin-top:20px;text-align:center">{{tcexecnt}}
</div>	
<!-- <div style="font-size: 13px; margin-top:10px; margin-left:15px; text-align:center" ng-init="manualtccount()">Manual :  {{tcmanual}} <a ng-click="open('app/pages/dashboard/infoDialog/tot_exec.html','sm')">
            <img src="app/pages/dashboard/infoDialog/info.png" width="20" height="20" style="float:right" ></a> </div>
<div style="font-size: 13px;margin-top:5px; text-align:center" ng-init="autotccount()" >Automated : {{tcauto}} </div>	 -->




 <div>
            
      </div>
			</div>
		</div>
	</div>
	
<div class="pie-chart-item-container" style="margin-right: auto" >
  <div ba-panel>
   <div class="pie-chart-item" ng-init="tccoverage()">
    <div class="chart"  id="tccov" rel="rgba(60, 193, 95, 0.9)" > <span class="percent"> </span> </div>
    
    <div class="">
     
      <div style="font-size:15px;padding-top:20px; padding-left: 100px !important;" class="description-stats" >Test Execution Coverage</div>
      <div class="description-stats"></div>
      
      </div>
       <div>
            <a ng-click="open('app/pages/dashboard/infoDialog/exe_cov.html','lg')">
            <img src="app/pages/dashboard/infoDialog/info.png" width="20" height="20" style="float:right; margin-top:20px" ></a>
      </div>
      </div>
      </div>
      </div>
      
      <div class="pie-chart-item-container" style="margin-right: auto" >
  <div ba-panel>
   <div class="pie-chart-item" ng-init="firstpassrate()">
    <div class="chart"  id="passrate" rel="rgba(64, 146, 217, 0.9)" > <span class="percent"> </span> </div>
    
    <div class="">
     
      <div style="font-size:15px;padding-top:20px; padding-left: 100px !important;" class="description-stats" >First Time Pass Rate</div>
      <div class="description-stats"></div>
      
      </div>
       <div>
            <a ng-click="open('app/pages/dashboard/infoDialog/passrate.html','lg')">
            <img src="app/pages/dashboard/infoDialog/info.png" width="20" height="20" style="float:right; margin-top:20px" ></a>
      </div>
      </div>
      </div>
      </div>
      
      <div class="pie-chart-item-container" style="margin-right: auto" >
 <!--  <div ba-panel>
   <div class="pie-chart-item" ng-init="errordiscoveryrate()" >
    <div class="chart"  id="errorrate" rel="rgba(162, 116, 189, 0.9)" > <span class="percent"> </span> </div>
    
    <div class="">
     
      <div style="font-size:15px;padding-top:20px; padding-left: 100px !important;" class="description-stats" >Error Discovery Rate</div>
      <div class="description-stats"></div>
      
      </div>
       <div>
            <a ng-click="open('app/pages/dashboard/infoDialog/errordiscover.html','lg')">
            <img src="app/pages/dashboard/infoDialog/info.png" width="20" height="20" style="float:right; margin-top:20px" ></a>
      </div>
      </div>
      </div> -->
      </div>
	</div>