<div class="widgets gridster" ng-controller="slideShowCtrl"
	ng-init="openpopup('lg')" ng-init="menubar = menubarPopup"
	style="background-color: #2fd4c9;">

	<!-- <img ng-src="./assets/img/lfg.png" style="height: 90px; width: 280px;"
		src="./assets/img/lfg.png"> -->

	<div
		class="SlideShowheading">
		{{displayDashName}}</div>

	<div class="row"
		style="padding: 15px 22px; background: #2fd4c9; border-color: blue; border-top-color: #0cdee4; margin-top: 1%"
		ng-init="">

		<!-- <button type="button" ng-click="onExit();" aria-label="closeed" data-backdrop="static"
	style="float:right; margin-top: -8%; margin-right: 2%;">
			<span aria-hidden="true"> x</span>
		</button> -->

		<!-- <div style="margin-left: 98%">
		<button data-backdrop="static" data-keyboard="false" ng-click="gotodashboard()">
		<span> x</span>
		</button></div> -->



		<div uib-carousel active="popupactive" interval="myPopupInterval"
			no-wrap="noPopupWrapSlides">
			<div uib-slide ng-repeat="slide in popupslides track by slide.id"
				index="slide.id">
				<!-- 				<div -->
				<!-- 					style="font-size: 35px; text-align: center; margin-top: 1%; color: black"> -->
				<!-- 					{{slide.text}}</div> -->

				<div style="margin-top: 3%;">
					<ng-include src="slide.image" style="margin:auto;"></ng-include>
				</div>

			</div>


		</div>


	</div>


</div>



