<div ng-controller="GitChartCtrl" >

	<div class="row">
		<div class="col-md-12">
			<div class="form-group" ng-init="settype()">		
		<div class="form-group col-md-2" style="margin-left:-8px">
		  <label>Type</label>
		<select style="outline: 0; width: 180px; height: 30px; margin-right: 30px; background-color: rgba(87, 95, 118, 1)"
					name='type' id="type" class="form-control"
					ng-model="selectedtype"
					ng-options="type for type in types"
					ng-change="getusertype(selectedtype)" required>
					<option value="" disabled>Select Type</option>	
				</select> 			
			</div>	
			
				<div class="form-group col-md-2" ng-init="getusertype(selectedtype)">
				<label>GitName</label>
		<select style="outline: 0; width: 180px; height: 30px; margin-right: 30px; background-color: rgba(87, 95, 118, 1)"
					name='gitname' id="gitname" class="form-control"
					ng-model="UserName"
					ng-options="gitname for gitname in gitnames"
					ng-change="getRepoList(UserName)" required >
					<option value="" disabled>Select GitName</option>	
				</select> 			
			</div>	
			
			<div class="form-group col-md-2" ng-init="getRepoList(UserName)">
			<label>Repository</label>
		<select style="outline: 0; width: 180px; height: 30px; margin-right: 30px; background-color: rgba(87, 95, 118, 1)"
					name='repo' id="repo" class="form-control"
					ng-model="selectedRepo"
					ng-options="repo for repo in repos"
					ng-change="getSelectedRepo(selectedRepo);selectedRepository();gettimeperiod();getcontributor()"required >
					<option value="" disabled>Select Repository</option>	
				</select> 			
			</div>	
<!-- <a data-toggle="modal"  class="ion-android-arrow-back" ng-class="{'on':var2}"style="float:right; margin-top: 0%;margin-right: 2%;margin-bottom:1%;text-decoration: underline;font-size: 17px;color: #fff;" ng-click="back()"> Back</a> -->
		</div>   	
		    </div>
		</div>
	

<div class="row pie-charts">
	<div class="pie-chart-item-container">
	   <div ba-panel style="margin-top:20px;">

			<div class="pie-chart-item" id="filecount"  ng-init="getfilesize()" >
				<div style="font-size: 15px; text-align:center" >File Size</div>
				<div class="description-stats" style="font-size: 40px;margin-top:20px;text-align:center" >{{filesize | number : 2}} MB <span class="glyphicon glyphicon-file" style="font-size:30px; color:#f4d32c"></span></div>
			  <!--  	<div>
		          <a ng-click="open('app/pages/charts/requirements/requirementsdata/reqcount.html','sm')"> 
		           <img src="app/pages/dashboard/infoDialog/info.png" width="20" height="20" style="float:right; margin-top:20px" ></a>
		     	</div> -->

			</div>
		</div>
	</div>
	
	
	<div class="pie-chart-item-container">
	   <div ba-panel style="margin-top:20px;">

			<div class="pie-chart-item" id="commitscount"  ng-init="commitscount()" >
				<div style="font-size: 15px; text-align:center" >Commits Count</div>
				<div class="description-stats" style="font-size: 40px;margin-top:20px;text-align:center" >{{commitcount}}<img src="images/TEST.png" style="width:32px;height:32px;margin-left: 5px;"></div>
			  <!--  	<div>
		          <a ng-click="open('app/pages/charts/requirements/requirementsdata/reqcount.html','sm')"> 
		           <img src="app/pages/dashboard/infoDialog/info.png" width="20" height="20" style="float:right; margin-top:20px" ></a>
		     	</div> -->

			</div>
		</div>
	</div>
	
	<div class="pie-chart-item-container">
	   <div ba-panel style="margin-top:20px;">

			<div class="pie-chart-item" id="contributorscount"  ng-init="contributorscount()" >
				<div style="font-size: 15px; text-align:center" >Contributors Count</div>
				<div class="description-stats" style="font-size: 40px;margin-top:20px;text-align:center">{{contributorcount}}<span class="glyphicon glyphicon-user" style="font-size:30px; color:#f4d32c"></span></div>
			</div>
		</div>
	</div>
	
	<div class="pie-chart-item-container">
	   <div ba-panel style="margin-top:20px;">

			<div class="pie-chart-item" id="contributorscount"  ng-init="watcherscount(); starscount()" >
				<!-- <div style="font-size: 15px; text-align:center" >Contributors Count</div> -->
					
					<table>
					<tr>
					<td class="col-lg-7 col-md-12 col-sm-12" style="width: 51%"> 
					<div style="font-size: 15px;text-align:center">Watchers</div>
					<div class="description-stats" style="font-size: 30px;margin-top:20px;text-align:center">{{watchers}} <span class="glyphicon glyphicon-eye-open" style="font-size:20px; color:#f4d32c"></span></div>
	</td>
					<td class="col-lg-7 col-md-12 col-sm-12" style="width: 51%">
					<div style="font-size: 15px;text-align:center" >Stargazers</div>
					<div class="description-stats" style="font-size: 30px;margin-top:20px;text-align:center">{{stars}}<span class="glyphicon glyphicon-star" style="font-size:20px;color:#f4d32c"></span> </div>
					</td></tr></table>		
				
			  <!--  margin-top:-65px;margin-top:20px;	<div>
		          <a ng-click="open('app/pages/charts/requirements/requirementsdata/reqcount.html','sm')"> 
		           <img src="app/pages/dashboard/infoDialog/info.png" width="20" height="20" style="float:right; margin-top:20px" ></a>
		     	</div> -->

			</div>
		</div>
	</div>
	
</div>	

<div class="row">
	<div class="col-lg-8 col-md-12">
<div class="row">
<div class="col-lg-6 col-md-6"
         ba-panel
         ba-panel-title="Pull Request"
         ba-panel-class="with-scroll">
 	<div id="pullrequest" class="" ng-init="pullrequest()" >
 	<div class="progress">
   <div class="progress-bar" style="background-color:#06702f;width: {{mergedinpercentage}}%">
  <label ng-if="!mergedinpercentage == 0">Merged : {{mergedinpercentage}}%</label> 
  </div>
  <div class="progress-bar" style="background-color:#656565;width: {{proposedinpercentage}}%">
   <label ng-if="!proposedinpercentage == 0">  Proposed : {{proposedinpercentage}}%</label> 
  </div>
</div>
  <div class="description-stats" style="font-size: 12px;margin-top:20px;text-align:center"> Merged Count : {{pulls[1]}} &nbsp &nbsp &nbsp &nbsp  Proposed Count : {{pulls[0]}}</div>


 	</div> 
 	 </div> 
 	 
 	 <div class="col-lg-6 col-md-6"
         ba-panel
         ba-panel-title="Issues"
         ba-panel-class="with-scroll" >
 	<div id="issues" class=" " ng-init="issuecount()" >
 	<div class="progress">
   <div class="progress-bar progress-bar-success" style="background-color:#06702f;width: {{closedissuepercentage}}%">
  <label ng-if="!closedissuepercentage == 0"> Closed : {{closedissuepercentage}}%</label>
  </div>
  <div class="progress-bar progress-bar-warning" style="background-color:#656565;width: {{newissuepercentage}}%">
    <label ng-if="!newissuepercentage == 0">New : {{newissuepercentage}}%</label>
  </div>
</div>
  <div class="description-stats" style="font-size: 12px;margin-top:20px;text-align:center"> Closed Count : {{issues[1]}} &nbsp &nbsp &nbsp &nbsp  New Count : {{issues[0]-issues[1]}}</div>

 	</div> 
 	 </div> 
 	 </div>	
 	 
 	 
 	 
 	 
 	 <div class="col-lg-12 col-md-12 col-sm-12" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">
						Commits Trend
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','commitsubdiv','Commits Trend')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','commitsubdiv','Commits Trend')"><i
										class="fa fa fa-area-chart" download="Commits Trend.jpg"></i>Download JPEG</a></li>
							</ul>
						</div>
					</h3>
				</div>
				    <div class="row" style="margin-left: 2%" ng-init="getcontributor()">
	 	<div class="col-lg-1 col-md-3 col-sm-3">
		  <label>Time Period</label>
		  </div>
		  <div class="col-lg-3 col-md-3 col-sm-3">
		<select style="outline: 0; background-color: rgba(87, 95, 118, 1)" 
					name='timeperioddrop' id="timeperioddrop" class="form-control"
					ng-model="timeperioddrop"
					ng-options="timeperioddrop for timeperioddrop in timeperioddrops"
					ng-change="gettimeperiodselection(timeperioddrop)" required>
					<option value="" disabled>Select Time Period</option>	
				</select> 
				</div>
				<div class="col-lg-1 col-md-3 col-sm-3">
		  <label>Contributor</label>
		  </div>
				<div class="col-lg-3 col-md-3 col-sm-3" style="margin-left: 2%">
		<select style="outline: 0;background-color: rgba(87, 95, 118, 1)"
					name='contributedrop' id="type" class="form-control"
					ng-model="contributedrop"
					ng-options="contributedrop for contributedrop in contributedrops"
					ng-change="getcontributorselection(contributedrop)" required>
					<option value="" disabled>Select Contributor</option>	
				</select> 
				</div>	
			</div>	   
	 	  
				<div class="panel-body" style="padding-right: 0px;">
					<div id="commitdiv" class="admin-chart" ng-init="commitTrend()" style="height:300px; margin-top:1%">

 <canvas id="commitsubdiv">
</canvas>
                
</div>

			</div>
		</div></div>
 	
</div>

 	 <div class="col-lg-4 col-md-6"
 	 ba-panel
         ba-panel-title="Top Contributors (Based on Commits)"
         ba-panel-class="with-scroll"
         >
 	<div class="feed-messages-container panel contributor-panel" track-width="smallContainerWidth" min-width="360" ng-init="topcontributorscount(selectedrepo)">
  <div class="feed-message" ng-repeat="message in feed | orderBy:'-contributions' | limitTo : 5" style="padding:12px">
    <div class="message-icon">
      <img class="photo-icon" ng-src="{{message.avatarURL}}">
    </div>
    <div class="text-block text-message">
      <div class="message-header">
        <span class="author" style="margin-left:10px">{{message.login}}</span>
              </div>
              <div class="message-content line-clamp" ng-class="{'line-clamp-2' : !message.expanded}" style="margin-left:54px">
        Contributions : {{::message.contributions}}
      </div>
    </div>
  </div>
</div> 
</div>


</div>

	</div>