:host {
  display: flex;
  align-items: center;
}
.upload-wrapper {
  display: flex;
  align-items: center;
}
.uploader::after {
  content: attr(data-file);
  margin-left: 12px;
  margin-bottom: 8px;
  font-weight: bold;
}
.image-icon {
  height: 90%;
  width: 90%;
  color: var(--fg1);
}
.image-icon-error {
  height: 36px;
  width: 36px;
  color: var(--red);
  margin-left: calc(50% - 18px);
}
