<ng-progress [thick]="true"></ng-progress>
<clr-main-container (window:keydown.control.Backspace)="onBack()" [attr.data-theme]="theme$ | async">
  <app-top-nav></app-top-nav>
  <div class="content-container">
    <div class="sidebar">
      <router-outlet name="sidebar"></router-outlet>
    </div>
    <div class="main-page full" [class.has-header]="showFullHeader$|async">
      <router-outlet></router-outlet>
    </div>
  </div>
  <ng-container *ngIf="loaded && !openRoute && !authenticated">
    <app-login [reloadWindow]="false"></app-login>
  </ng-container>
</clr-main-container>