
<!-- <div ng-controller="UserStoryCtrl"> -->
<!-- For Jira -->

<div ng-controller="UserStoryLifeCtrl" ng-init="getvaluesJira()">

	
			<div class="row">
				<div class="col-md-12">
					<div class="form-group" ng-init="initialJiraProjects();intervalJira(selectedJiraProject);">
						<select ng-disabled="!formelem"
							style="outline: 0; width: 35%; height: 10%; font-size: xx-small; background-color: rgba(87, 95, 118, 1)"
							name='projectName' id="projectNamehome" class="form-control"
							ng-model="selectedJiraProject"
							ng-options="prjName for prjName in jiraprojects"
							ng-change="changeSelectedJiraProjectHome(selectedJiraProject);initLifeUserStorySprintName(selectedJiraProject);initLifeSprintdaysleft(selectedJiraProject);initLifeSprintStatus(selectedJiraProject);" required>
							<option value="" disabled>Projects</option>
						</select>
					</div>
				</div>
			</div>

		<div class="row">
			<div class=" col-md-12 " ba-panel ba-panel-title="User Story Analysis">
				<div>
			 		<a ng-click="open()" >View more metrics</a> 
					<!-- <a href="#userstorieslifecycledetails">View more metrics</a> -->
				</div>
				<div class="row pie-charts" style="text-align: left; height: 139px; margin-left: 2%" >
				
					<div class="description-stats" ng-init="initLifeUserStorySprintName(selectedJiraProject)"
						style="font-size: 14px; margin-top: 8%">Active Sprint : {{jiraUserStoryactiveSprintName}}</div>
						
					<div class="description-stats" ng-init="initLifeSprintdaysleft(selectedJiraProject)" 
						style="margin-top: 4%;font-size: 14px"><label style="font-size: 18px">{{sprintDaysLeft}}</label>&nbsp;Days left in Sprint </div>
					
					<div class="description-stats" ng-init="initLifeSprintStatus(selectedJiraProject)"
						style="font-size: 14px; margin-top: 4%"> To-Do : {{jirauserstorytodo}} &nbsp;    In-Progress : {{jirauserstoryprogress}}  &nbsp;  Done : {{jirauserstorycompleted}} </div>
				</div>
			</div>
		</div>
</div>



<!-- For rally -->
<!-- <div ng-controller="UserStoryLifeCtrl" ng-init="getvalues()">

	
			<div class="row">
				<div class="col-md-12">
					<div class="form-group" ng-init="initialProjects();interval(selectedRallyProject);">
						<select
							style="outline: 0; width: 35%; height: 10%; font-size: xx-small; background-color: rgba(87, 95, 118, 1)"
							name='projectName' id="projectNamehome" class="form-control"
							ng-model="selectedRallyProject"
							ng-options="prjName for prjName in projects"
							ng-change="changeSelectedProjectHome(selectedRallyProject);initLifeUserStorySprintCount(selectedRallyProject);initialLifeCycUserStorycount(selectedRallyProject)" required>
							<option value="" disabled>Projects</option>
						</select>
					</div>
				</div>
			</div>

		<div class="row">
				<div class=" col-md-12 " ba-panel ba-panel-title="User Story Analysis">
		
			<div>
			 	<a ng-click="open()" >View more metrics</a> 
				<a href="#userstorieslifecycledetails">View more metrics</a>
			</div>
			<div class="row pie-charts" style="text-align: center; height: 139px" >
				
					<div class="description-stats" ng-init="initLifeUserStorySprintCount(selectedRallyProject);initialLifeCycUserStorycount(selectedRallyProject)"
						style="font-size: 18px; margin-top: 20%">{{lifeuserStorySprintData}}
						Iterations, {{lifeuserStoryData}} User Stories</div>
			</div>
		</div>
	</div>
</div> -->


