<app-container>
  <div class="login-wrapper card profile">
    <form class="login" clrForm [formGroup]="form">
      <h3 class="welcome">Change Password</h3>
      <div class="login-group">
        <clr-password-container>
          <input type="password" name="oldPassword" minlength="8" autocomplete="off" clrPassword placeholder="Old Password"
          formControlName="oldPassword" />
        </clr-password-container>
        <div class="clr-form-control" style="padding: 0 12px;">
          <div class="clr-control-container" [class.clr-error]="form.get('newPassword').invalid">
            <div class="clr-input-wrapper" style="position: relative;">
              <input class="clr-input" [attr.type]="showPass ? 'text' : 'password'" name="password" minlength="8" autocomplete="off"
                placeholder="New Password" [class.ng-invalid]="form.get('newPassword').invalid"
                formControlName="newPassword" required />
              <div class="show-password is-link" style="position: absolute;margin-left: calc(100% - 1rem);top: 2px;color:var(--fg1);">
                <clr-icon [attr.shape]="showPass?'eye-hide' : 'eye'" [attr.title]="showPass?'Hide' : 'Show'"
                  (click)="showPass=!showPass"></clr-icon>
              </div>
              <div class="clr-validate-icon tooltip tooltip-top-left tooltip-lg" style="margin-left: 2px;">
                <clr-icon shape="exclamation-circle" size="24"></clr-icon>
                <span class="error-message tooltip-content ">{{password.message}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="clr-form-control" style="padding: 0 12px;">
          <div class="clr-control-container"
            [class.clr-error]="form.get('newPassword').value !== form.get('confirmPassword').value">
            <div class="clr-input-wrapper">
              <input class="clr-input" type="password" name="confirmPassword" minlength="8" autocomplete="off"
                placeholder="Confirm Password"
                [class.ng-invalid]="form.get('newPassword').value !== form.get('confirmPassword').value"
                formControlName="confirmPassword" required />
              <div class="clr-validate-icon tooltip tooltip-top-left" style="margin-left: 2px;">
                <clr-icon shape="exclamation-circle" size="24"></clr-icon>
                <span class="error-message tooltip-content">passwords doesn't match</span>
              </div>
            </div>
          </div>
        </div>
        <button (click)="changePassword()" class="btn btn-primary-outline btn-login"
        [disabled]="form.invalid || form.get('newPassword').value !== form.get('confirmPassword').value">Change Password</button>
        <button (click)="close()" class="btn btn-warning-outline btn-login close-btn"
          >Close</button>
      </div>
    </form>
  </div>
</app-container>