<div class="row" ng-controller="AdminCtrl">
	<div id="createNew" class="row">
		<button type="button" data-toggle="modal" class="btn btn-default"
			style="float: right; margin-right: 1%; margin-bottom: 1%;"
			ng-model="numberTemplate" ng-click="createNewTemplate()"
			>Create New Template</button>

	</div>
	<div class="col-lg-12 col-md-12 col-sm-12" ba-panel
		ba-panel-title="Custom Template" ba-panel-class="with-scroll">

		<div>
			<div></div>
			<table class="table" ng-init="templateDetails();">
				<thead>
					<tr class="sortable">

						<th style="width: 10%; font-weight: bold">Template Name</th>
						<th style="width: 15%; font-weight: bold">Rolling Period</th>
						<th style="width: 10%; font-weight: bold">Actions</th>

					</tr>
				</thead>
				<tbody> 

					<tr ng-repeat="item in templateTableDetails">
						<td style="width: 10%">{{item.templateName}}</td>
						<td style="width: 15%">{{item.rollingPeriod}}</td>


						<td style="width: 10%;">
						<a style="color:#4c4c4c; margin-left: 2%"
							ng-click="updateTemplateDetails(item.templateName)" class="ion-edit"></a>
							&nbsp;
							<a style="color: #4c4c4c;" ng-click= "getselectedtemp(item.templateName)">
								<img src="app/admin/templateCustomization/infoDialog/info.png" width="20" height="20">
							</a>
							<a
									style="color: #4c4c4c; margin-left: 3%"
									ng-click="deleteTemplate(item.templateName)" class="ion-trash-b"></a>
							
						</td>

					</tr>
				</tbody>
			</table>


		</div>
	</div>
</div>