<div ng-controller="octaneCtrl" ng-init="getvalues()">

	
			<div class="row">
				<div class="col-md-12">
					<div class="form-group" ng-init="initialOctaneProjects();">
						<select ng-disabled="!formelem"
							style="outline: 0; width: 35%; height: 10%; font-size: xx-small; background-color: rgba(87, 95, 118, 1)"
							name="projectName" id="projectNamehome" class="form-control"
							ng-model="selectedOctaneProject"
							ng-options="prjName for prjName in octaneprojects"
							ng-change="changeSelectedOctaneProjectHome(selectedOctaneProject);initLifeOctaneSprintName(selectedOctaneProject);initLifeSprintdaysleft(selectedOctaneProject);initOctaneBacklogStatus(selectedOctaneProject);" required>
							<option value="" disabled>Projects</option>
						</select>
					</div>
				</div>
			</div>

		<div class="row">
			<div class=" col-md-12 " ba-panel ba-panel-title="User Story Analysis">
				<div>
			 		<a ng-click="open()" >View more metrics</a> 
					<!-- <a href="#userstorieslifecycledetails">View more metrics</a> -->
				</div>
				<div class="row pie-charts" style="text-align: left; height: 139px; margin-left: 2%" >
				
					<div class="description-stats" ng-init="initLifeOctaneSprintName(selectedOctaneProject)"
						style="font-size: 14px; margin-top: 8%">Current Release : {{octaneReleaseName}}&nbsp;Current Sprint : {{octaneSprintName}}</div>
						
					<div class="description-stats" ng-init="initLifeSprintdaysleft(selectedOctaneProject)" 
						style="margin-top: 4%;font-size: 14px"><label style="font-size: 16px">{{sprintDaysLeft}}</label>&nbsp;Days left in Sprint </div>
					
					<div class="description-stats" ng-init="initOctaneBacklogStatus(selectedOctaneProject)"
						style="font-size: 14px; margin-top: 4%">Total Backlog Items : {{octaneBacklogCount}}</div>
				</div>
			</div>
		</div>
</div>

