<head>
<meta name="viewport"
	content="width=device-width,height=device-height,initial-scale=1.0" />
</head>
<div class="popupbgimg modal-content" style="margin-top: 50%"
	ng-controller="almToolConfigurationCtrl">

	<div class="modal-header" style="padding: 0px">
		<div>
			<label style="font-size: 16px; padding: 14px">Add ALM Project</label>
			<button style="float: right" "type="button" class="close"
				ng-click="closeAlmProjects()"> 
				<span> x</span>
			</button>
		</div>
	</div>
	<div class="modal-body" style="margin: 2%;">
		<div style="padding-bottom: 1%; border: 1px solid grey;">
			<div class="row" style="margin-top: 1%;">
				<div class="col-md-4">
					<label style="font-size: 16px;color:black; padding: 14px"><b>Domains</b></label>
				</div>
				<div >

					<table id="jiraProjects">
						<tr class="col-md-8">
							<th width=20%><input id="almProject"
								style="height: 30px; background-color: transparent; margin-left: 10px; border: 1px solid #cbcbcb"
								ng-model="almProject" type="text" name="almProject"></th>
							<th width=20%><button type="submit"
									class="btn btn-success col-md-1 "
									style="width: 150px; margin-left: 30px;"
									ng-click="addAlmProjectData(selectedDomain,almProject,almId)">Add
									Project</button></th>
							<!-- <th width=20%><button type="submit"
									class="btn btn-danger col-md-1"
									style="width: 150px; margin-left: 30px;"
									ng-click="closeAlmProjects()">Close</button></th> -->
						</tr>
					</table>


				</div>
			</div>
			<div class="row">
				<div class="col-md-4" >
					<select multiple style="height: 95%;color:black;" name='selectedDomain' id="selectedDomain"
						ng-model="selectedDomain"
						ng-options="domainListItem.domain for domainListItem in domainList"
						ng-click="loadProjectData(selectedDomain)">

					</select>
				</div>
				<div class="col-md-8">
					<table style="margin-left: 3%;" id="jstalmprojects"
						st-table="stalmprojectsTable" st-safe-src="stalmprojects">
						<thead>
							<tr >
								<th height=40px width=82%><B>Projects</B></th>
								<th width=20%><B>Option</B></th>
							</tr>
						</thead>
						
							<tr style="margin-top: -1%;" ng-repeat="x in stalmprojectsTable">
								<td height=20px>{{x.project}}</td>
								<td><a ng-click=deleteAlmProject(selectedDomain,x.project,almId)
									id={{x.project}}>Delete</a></td>
							</tr>
						
						<tfoot>
							<tr>
								<td colspan="6" class="text-center" style="float: left;">
									<div st-pagination="popuppagProject" st-items-by-page="5">pagination</div>
								</td>
							</tr>
						</tfoot>
					</table>
					<BR>
					
				</div>
			</div>
		</div>
	</div>

</div>