<head>
<meta name="viewport"
	content="width=device-width,height=device-height,initial-scale=1.0" />

</head>
<body>
	<div class="popupbgimg modal-content" style="margin-top: 80%"
		ng-controller="almToolConfigurationCtrl">

		<div class="modal-header" style="padding: 0px">
			<div>
				<label style="font-size: 16px; padding: 14px">View Instance
					Details</label>
				<button style="float: right" "type="button" class="close"
					ng-click="closeAlmDomains()">
					<span> x</span>
				</button>
			</div>
		</div>

		<div>
			<div class="modal-body" style="margin: 2%;">
				<div style="padding-bottom: 1%; border: 1px solid grey;">
					<div class="row"
						style="margin-top: 1%; margin-bottom: 5%; width: 80%">
						<div style="margin-left: 3%;">
							<div>
								
								<ul style="font-size:16px;color:black">
									<li ng-repeat="list in domainList">{{list.domain}}
									<ul ng-if="list.projects">
									<li ng-repeat="listProject in list.projects">{{listProject.project}}
									<ul style="font-size:16px;color:black" ng-if="listProject.releases">
									<li ng-repeat="listRelease in listProject.releases" >
									<div ng-if="listRelease.release && !(listRelease.releaseId)">Release Name : {{listRelease.release}}</div>
									<div ng-if="listRelease.releaseId ">Release Id : {{listRelease.releaseId}}</div>
									<ul style="font-size:16px;color:black" ng-if="listRelease.cycles">
									<li ng-repeat="listCycle in listRelease.cycles" >
									<div ng-if="listCycle.cycle && !(listCycle.cycleId)">Cycle Name : {{listCycle.cycle}}</div>
									<div ng-if="listCycle.cycleId">Cycle Id : {{listCycle.cycleId}}</div>
									</li>
									</ul>
									</li>
									</ul>
									</li></ul>
									</li>
									</ul>

							</div>
						</div>
					</div>




				</div>
			</div>
		</div>
	</div>

</body>