<info-Dialog></info-Dialog>
<div class="widgets gridster" ng-controller="UserStoryLifeCtrl" id ="usrStrLifeDiv">

	<div class=" pie-charts">
		<div class="row">
			<div class="form-group col-md-2" ng-init="initialJiraProjects();">
				<label>Project</label>
				<select
							style="outline: 0; background-color: rgba(87, 95, 118, 1)"
							name='projectName' id="projectNamehome" class="form-control"
							ng-model="selectedJiraProject"
							ng-options="prjName for prjName in jiraprojects"
							ng-change="" disabled>
							<option value="" disabled>Projects</option>
				</select>
			</div>
			<div class="form-group col-md-2" ng-init="getJiraSprintPeriod();">
				<label>Select Sprint</label>
				<select
					style="outline: 0; background-color: rgba(87, 95, 118, 1)"
					name='sprintperioddrop' id="sprintperioddrop" class="form-control"
					ng-model="selectedsprintperioddrop"
					ng-options="jirasprintperioddrop for jirasprintperioddrop in jirasprintperioddrops"
					ng-change="getSprintPeriodSelection(selectedsprintperioddrop);getJiraSprintChangeData();" required>
					<option value="" disabled>Select Sprint</option>
				</select>
			</div>
		</div>
		<br>
	</div>
	
	<div class="row pie-charts">
		<div class="pie-chart-item-container">
			<div ba-panel style="background-color: rgba(96, 130, 155, 1)">
				<div class="pie-chart-item" id="totaljiralist">
					<div style="font-size: 15px; text-align: center"
						ng-init="getJiraBacklogCount()">Total Stories in Backlog</div>
					<div class="description-stats"
						style="font-size: 40px; margin-top: 20px; text-align: center">{{totalstorybacklog}}</div>
				</div>
			</div>
		</div>
		
		
		<div class="pie-chart-item-container" id="sprintscompleted">
			<div ba-panel style="background-color: rgba(96, 130, 155, 1)">
				<div style="font-size: 15px; text-align: center;"
					ng-init="getJiraSprintCount()">Total Sprints Completed</div>
				<div class="description-stats"
					style="font-size: 40px; margin-top: 20px; text-align: center">{{sprintscompleted}}</div>
			</div>
		</div>
		
	</div>
	 <div class="row pie-charts">
		<div class="col-lg-6 col-md-12 col-sm-12" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">
						Defects By Priority
						
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','.ct-chart','Defects By Priority')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('png','.ct-chart','Defects By Priority')"><i
										class="fa fa fa-area-chart" download="DefectsByPriority.jpg"></i>Download JPEG</a></li>
							</ul>
						</div> 
					</h3>
				</div> 
				<div class="panel-body" style="padding-right: 0px;">
					<div
						ng-include="'app/LifeCycle/lifecycle/userstories/userstoriesdata/userstoryStatusbarchart.html'"></div>
				</div>

			</div>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">
						Velocity Chart
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','userStrStatuschart','Velocity Chart')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','userStrStatuschart','Velocity Chart')"><i
										class="fa fa fa-area-chart" download="Velocity Chart.jpg"></i>Download JPEG</a></li>
							</ul>
						</div> 
					</h3>
				</div> 
				<div class="panel-body" style="padding-right: 0px;">
					<div
						ng-include="'app/LifeCycle/lifecycle/userstories/userstoriesdata/userstoryVelocityBarChart.html'"></div>
				</div>

			</div>
		</div>
	
	</div>
	
	 <div class="row pie-charts">
		<div class="col-lg-6 col-md-12 col-sm-12" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">
						Story vs Bug Report
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','simplebarchart','Story vs Bug Report')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','simplebarchart','Story vs Bug Report')"><i
										class="fa fa fa-area-chart" download="Story vs Bug Report.jpg"></i>Download JPEG</a></li>
							</ul>
						</div> 
					</h3>
				</div> 
				<div class="panel-body" style="padding-right: 0px;">
					<div
						ng-include="'app/LifeCycle/lifecycle/userstories/userstoriesdata/userstoryReportBar.html'"></div>
				</div>

			</div>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">
						Recently Created Issues
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','issuepiechart','Recently Created Issues')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','issuepiechart','Recently Created Issues')"><i
										class="fa fa fa-area-chart" download="Recently Created Issues.jpg"></i>Download JPEG</a></li>
							</ul>
						</div> 
					</h3>
				</div> 
				<div class="panel-body" style="padding-right: 0px;">
					<div
						ng-include="'app/LifeCycle/lifecycle/userstories/userstoriesdata/userstoryIssueChart.html'"></div>
				</div>

			</div>
		</div>
	
	</div> 
</div>
<!-- <div class="widgets gridster" ng-controller="UserStoryLifeCtrl" id ="usrStrLifeDiv">

	<div class=" pie-charts">
		<div class="row">

			<div class="row" ng-controller="UserStoryCtrl">
			<div class="row" ng-controller="UserStoryLifeCtrl">
				<div class="col-md-12">
					<a data-toggle="modal"  class="ion-android-arrow-back" style="float:right; margin-top: 0%;margin-right: 2%;margin-bottom:1%;text-decoration: underline;font-size: 17px;color: #fff;" ng-click="back()"> Back</a>
					<div class="form-group">
						<div class="form-group col-md-3" ng-init="initProjectsList()">

							<select
								style="outline: 0; width: 180px; height: 30px; margin-right: 30px; background-color: rgba(87, 95, 118, 1)"
								name='CA UserStory' id="userStory" class="form-control"
								ng-model="selectedProjectName"
								ng-options="prjName for prjName in projects track by prjName"
								ng-change="onSelectedLifeProject(selectedProjectName);" required>
								<option value="" disabled>Projects</option>
							</select>

						</div>

						<div class="form-group col-md-4" ng-init="initProjectsList();selectedPrjectForIterationsList(selectedProjectName)">

							<select
								style="outline: 0; width: 180px; height: 30px; margin-right: 30px; background-color: rgba(87, 95, 118, 1)"
								name='Ca Iterations' id="caIterations" class="form-control"
								ng-model="selectedIterationName"
								ng-options="iterName for iterName in iterationsList"
								ng-change="onSelectedLifeIteration(selectedProjectName,selectedIterationName);"
								required>
								<option value="">Select Iterations</option>
							</select>
						</div>
					</div>
					
				</div>
				
				
			</div>

		</div>

		<div class="col-md-12" id="iterationDetails">
<div class="row">
			<div class="pie-chart-item-container">
				<div ba-panel style="margin-top: 20px">
					<div class="pie-chart-item" id="userIterationID">
						<div style="font-size: 15px; text-align: center;">{{iterationDetails.iterationName}}
						</div>
						<a href="#userStoryDefectDetails" class="descriptionLink">
						<div class="description-stats"
							style="font-size: 18px; margin-top: 20px; text-align: center">
							{{iterationDetails.creationDate|date}} -
							{{iterationDetails.endDate|date}}</div>
					</div>
				</div>
			</div>

			<div class="pie-chart-item-container">
				<div ba-panel style="margin-top: 20px">
					<div class="pie-chart-item" id="userStrCT">
						<div style="font-size: 15px; text-align: center;">No.
							Of Stories in Iteration</div>
						<div class="description-stats"
							style="font-size: 40px; margin-top: 20px; text-align: center">{{iterationStoryCt}}
						</div>
					</div>
				</div>
			</div>

			<div class="pie-chart-item-container">
				<div ba-panel style="margin-top: 20px">
					<div class="pie-chart-item" id="userStoryPointdID">
						<div style="font-size: 15px; text-align: center;" ng-init="">Planned
							Effort(Total Story Points)</div>
						<a href="#userStoryDefectDetails" class="descriptionLink">
						<div class="description-stats"
							style="font-size: 40px; margin-top: 20px; text-align: center">{{iterationUserStoryPoints}}
						</div>
						</a>

					</div>
				</div>
			</div>

			<div class="pie-chart-item-container">
				<div ba-panel style="margin-top: 20px">
					<div class="pie-chart-item" id="toralUserStoryPointdID">
						<div style="font-size: 15px; text-align: center;" ng-init="">Total
							No. of User Stories in Project Backlog</div>
						<div class="description-stats" style="font-size: 40px; margin-top: 20px; text-align: center">{{userStoryIterBackLogData}}</div>
						</a>

					</div>
				</div>
			</div>

</div>
		</div>
	

	</div>

	<div class="pie-charts">
		<div>
				
		<div class="col-lg-12 col-md-12 col-sm-12" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">
						User Story by Status
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','userStrStatuschart','User Story by Status')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','userStrStatuschart','User Story by Status')"><i
										class="fa fa fa-area-chart" download="User Story by Status.jpg"></i>Download JPEG</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body" style="padding-right: 0px;">
					<div
					ng-include="'app/LifeCycle/lifecycle/userstories/userstoriesdata/userstoryStatusbarchart.html'"></div>
			</div>

			</div>
		</div>
		
		<div class="col-lg-12 col-md-12 col-sm-12" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">
						User Story Trend
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','line','User Story Trend')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','line','User Story Trend')"><i
										class="fa fa fa-area-chart" download="User Story Trend.jpg"></i>Download JPEG</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body" style="padding-right: 0px;">
					<div
					ng-include="'app/LifeCycle/lifecycle/userstories/userstoriesdata/userStorylinechart.html'"
					onload="item = rightItem"></div>
			</div>

			</div>
		</div>
		
		
		</div>
		
		
		</div>




	</div>
</div> -->