<!-- <div ng-controller="riskComplianceCtrl">
	

	<div class="row with-scroll">

		<div class="col-lg-6 col-md-6 col-sm-6" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title" style="font-weight: bold">
						Archer By Division
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','archerdivision','Archer by Division')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','archerdivision','Archer by Division')"><i
										class="fa fa fa-area-chart"></i>Download JPEG</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body">

					<div class="horizontal-scroll">


					<div
						ng-include="'/app/pages/riskCompliance/archerByDivision.html'"></div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title" style="font-weight: bold">
						Network Penetration By Division
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','archerdivision','Network Penetration By Division')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','archerdivision','Network Penetration By Division')"><i
										class="fa fa fa-area-chart"></i>Download JPEG</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body">

					
					<div
						ng-include="'/app/pages/riskCompliance/networkPenetrationbyDivision.html'"></div>




				</div>



			</div>
		</div>


	</div>
	<div class="row with-scroll">
		<div class="col-lg-6 col-md-6" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title" style="font-weight: bold">
						AST-Qualys Vulnerabilities by Division
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','archerdivision','Qualys Vulnerabilities by Division')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','archerdivision','Qualys Vulnerabilities by Division')"><i
										class="fa fa fa-area-chart"></i>Download JPEG</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body">

					<div
						ng-include="'/app/pages/riskCompliance/qualysVulnerabilitiesByDivision.html'"></div>

				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title" style="font-weight: bold">
						Ethical Hack Findings By Division
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','archerdivision','Ethical Hack Findings By Division')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','archerdivision','Ethical Hack Findings By Division')"><i
										class="fa fa fa-area-chart"></i>Download JPEG</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body">

					<div
						ng-include="'/app/pages/riskCompliance/ethicalHackFindingsbyDivision.html'"></div>




				</div>

			</div>
		</div>
	</div>
</div>
 -->
 
 <div ng-controller="riskComplianceCtrl" ng-init="archerByDivisionChart();NetworkPenetrationByDivision();QualysVulnerabilitiesbyDivision();EthicalHackFindingsByDivision();">
	

	<div class="row with-scroll">

		<div class="col-lg-6 col-md-6 col-sm-6" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title" style="font-weight: bold">
						Archer By Division
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','archerdivision','Archer by Division')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','archerdivision','Archer by Division')"><i
										class="fa fa fa-area-chart"></i>Download JPEG</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body" >

					<div class="horizontal-scroll">



						<div id="divisiondiv" class="admin-chart"
							
							style="height: 300px; margin-top: 1%">

							<canvas id="archerdivision" height="100%">
</canvas>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title" style="font-weight: bold">
						Network Penetration By Division
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','archerdivision','Network Penetration By Division')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','archerdivision','Network Penetration By Division')"><i
										class="fa fa fa-area-chart"></i>Download JPEG</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body" >

					<div class="horizontal-scroll">
						<div id="divisionNetworkdiv" class="admin-chart"
							
							style="height: 300px; margin-top: 1%">

							<canvas id="networkdivision" height="100%">
</canvas>
						</div>
					</div>




				</div>



			</div>
		</div>


	</div>
	<div class="row with-scroll">
		<div class="col-lg-6 col-md-6" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title" style="font-weight: bold">
						AST-Qualys Vulnerabilities by Division
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','archerdivision','Qualys Vulnerabilities by Division')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','archerdivision','Qualys Vulnerabilities by Division')"><i
										class="fa fa fa-area-chart"></i>Download JPEG</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body" ng-init="">

					<div class="horizontal-scroll">
						<div id="divisionQualysdiv" class="admin-chart"
							
							style="height: 300px; margin-top: 1%">

							<canvas id="qualysdivision" height="100%">
</canvas>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title" style="font-weight: bold">
						Ethical Hack Findings By Division
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','archerdivision','Ethical Hack Findings By Division')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','archerdivision','Ethical Hack Findings By Division')"><i
										class="fa fa fa-area-chart"></i>Download JPEG</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body" ng-init="">

					<div class="horizontal-scroll">
						<div id="divisionethicaldiv" class="admin-chart"
					
							style="height: 300px; margin-top: 1%">

							<canvas id="ethicaldivision" height="100%">
</canvas>
						</div>
					</div>




				</div>

			</div>
		</div>
	</div>
</div>