<ngx-charts-bar-vertical-stacked
class="x-chart"
  [scheme]="colorScheme"
  [results]="data"
  [gradient]="chartconfig.gradient"
  [xAxis]="chartconfig.xAxis"
  [yAxis]="chartconfig.yAxis"
  [legend]="chartconfig.legend"
  [legendTitle]="chartconfig.legendTitle"
  [showXAxisLabel]="chartconfig.showXAxisLabel"
  [showYAxisLabel]="chartconfig.showYAxisLabel"
  [xAxisLabel]="chartconfig.xAxisLabel"
  [yAxisLabel]="chartconfig.yAxisLabel"
  [roundDomains]="chartconfig.roundDomains"
  [animations]="chartconfig.animations"
  [showGridLines]="chartconfig.showGridLines"
  [showDataLabel]="chartconfig.showDataLabel"
  [trimXAxisTicks]="chartconfig.trimXAxisTicks"
  [trimYAxisTicks]="chartconfig.trimYAxisTicks"
  [maxXAxisTickLength]="chartconfig.maxXAxisTickLength"
  [maxYAxisTickLength]="chartconfig.maxYAxisTickLength"
  [rotateXAxisTicks]="chartconfig.rotateXAxisTicks"
  [noBarWhenZero]="chartconfig.noBarWhenZero"
  [barPadding]="chartconfig.barPadding || 8"
  [tooltipDisabled]="chartconfig.tooltipDisabled"
  [yScaleMax]="chartconfig.yScaleMax"
  (select)="onSelect($event)"
  [legendPosition]="chartconfig?.legendPositionDown?'down':'right'"
  [class.legend-down]="chartconfig?.legend && chartconfig.legendPositionDown"
  [xAxisTickFormatting]="seriesFormatter"
>
</ngx-charts-bar-vertical-stacked>