<app-container>
  <div class="login-wrapper card profile">
    <form class="login">
      <h3 class="welcome">Change Password</h3>
      <div class="login-group">
        <clr-password-container>
          <input type="password" name="oldPassword" minlength="8" clrPassword placeholder="Old Password"
            [(ngModel)]="form.oldPassword" />
        </clr-password-container>
        <clr-password-container>
          <input type="password" name="newPassword" minlength="8" clrPassword placeholder="New Password"
            [(ngModel)]="form.newPassword" />
        </clr-password-container>
        <input type="password" name="confirmPassword" minlength="8" class="clr-input" placeholder="Confirm Password"
          [(ngModel)]="form.confirmPassword" required />
        <div class="error" [class.active]="failedAttempt>0">
          Invalid user name or password
        </div>
        <button (click)="changePassword()" class="btn btn-primary-outline btn-login"
          [disabled]="!validForm">Change Password</button>
        <button (click)="close()" class="btn btn-warning-outline btn-login close-btn"
          >Close</button>
      </div>
    </form>
  </div>
</app-container>