<style type="text/css">
.bgimg {

    background-image: url("images/Qbot-landing-bg.jpg");
    padding: 5%; 
    margin-top: 40%;
    
}

</style>

<div class="bgimg" class="col-md-12 col-lg-3-5"  >
<button  class="topcorner"  type="button"  ng-click="$dismiss()">X</button>

<div display:inline; >

FROM
<input type="date" name="id" maxlength="30" value=""  />

TO
<input type="date" name="pw" maxlength="30" value="" />

<input type="submit" name="submit" value="Search" />

 </div>
 
 
 
  <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="dt" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
 
 
 
 
<div data-ng-init="myfunc(id,pw)" id="linechart11"  style="background: transparent !important;background: rgba(255, 255, 255, 0.1) !important;">
     </div>
      </div>
   

