<style type="text/css">
.bgimg {

    background-image: url("images/Qbot-landing-bg.jpg");
    padding: 5%; 
    
}

</style>

<div class="bgimg" class="col-md-12 col-lg-3-5">
<button  class="topcorner"  type="button"  ng-click="$dismiss()">X</button>


<div>
<p class="result_txt">Showing results for  <b class="result_yellowtxt" id="searchWord1" ng-bind-html="appropriateString"></b></p>

<div >
     <table class="table table-striped">
   
    <tbody >
  
    <tr   ng-repeat="list in summaryListInPanel" >
     <td class="Att_key" style="border-right: 1px solid rgba(255,255,255,0.1);">  {{list.Key}} </td>
<td  class="Att_val">{{list.value}} </td>
      </tr>
    </tbody>
                 
   
    </table>
    </div>
</div>
</div>
