gridster {
  background-color: var(--bg1);
  width: 100% !important;
  max-width: calc(100vw - 24px);
  margin: auto;
  &.no-margin {
    gridster-item {
      padding: 4px;
    }
  }
  gridster-item {
    transition: outline 0.15s linear;
    &.active {
      outline: var(--fg1) 2px solid;
      &::ng-deep {
        .analysis-title {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }

    .remove {
      position: absolute;
      top: 1px;
      right: 0;
      z-index: 999;
      color: var(--fg1);
      &.is-chart {
        color: var(--chart-title-color);
      }
    }
    background: unset;
    div {
      background: var(--chart-card-bg);
      color: var(--fg1);
    }
  }
  &::ng-deep {
    .chart-card .analysis-title {
      padding-right: 20px;
      .filler {
        cursor: move;
      }
      .tool-link,
      app-item-filters {
        display: none;
      }
    }
  }
}

.gridster-row {
  border-top: 1px solid var(--chart-card-bg) !important;
  border-bottom: 1px solid var(--chart-card-bg) !important;
}

.gridster-column {
  border-left: 1px solid var(--chart-card-bg) !important;
  border-right: 1px solid var(--chart-card-bg) !important;
}
