html {
  position: relative;
  min-width: 320px; }

html, body {
  min-height: 100%;
  height: 100%; }

body {
  font: 12px/16px "Roboto", sans-serif;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../assets/img/iDashboard-bg.jpg") no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: -1; }
    
   @media screen and (min-width: 992px) {
   .mleft{
   margin-left:50%;
   }
   }

.page-not-found-modal{
  
 text-align: center;
    width: 580px;
    margin: 0 auto;
    border-radius: 5px;
    background: #0032a1;
    color: #fff;
    padding: 30px 50px;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate3d(-50%, -60%, 0px);
  }
  .page-not-found-modal h1 {
    font-weight: 300;
    margin-bottom: 32px; }
  .page-not-found-modal p {
    font-size: 16px;
    line-height: 24px; }
  .page-not-found-modal a {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #209e91;
    display: inline-block; }
    .page-not-found-modal a:hover {
      color: #1b867b; }
