<div class="options flex-col">
    <div class="option" *ngFor="let param of params" [attr.data-param-type]="param.type"
        [attr.data-param-name]="param.name"
        [class.disabled]="param.disabled || disabled[param.name] || (param.dependsOn && !data[param.dependsOn])">
        <ng-container [ngSwitch]="param.type">
            <ng-container *ngSwitchCase="'number'">
                <clr-input-container class="flex-col">
                    <label>{{param.label}}</label>
                    <input placeholder="{{param.label}}" name="item-options-{{param.name}}" clrInput
                        [(ngModel)]="data[param.name]" (ngModelChange)="onChange(param,$event)" type="number" />
                </clr-input-container>
            </ng-container>
            <ng-container *ngSwitchCase="'color'">
                <clr-input-container class="flex-col">
                    <label>{{param.label}}</label>
                    <input placeholder="{{param.label}}" name="item-options-{{param.name}}" clrInput
                        [(ngModel)]="data[param.name]" (ngModelChange)="onChange(param,$event)" type="color" />
                </clr-input-container>
            </ng-container>
            <ng-container *ngSwitchCase="'image'">
                <div class="imagelabel flex-col">
                    <label>{{param.label}}</label>
                    <div class="tool-image">
                        <app-image-upload [(data)]="data[param.name]" type=".png"
                            (dataChange)="onImageChange(param,$event)"></app-image-upload>
                    </div>
                    <span style="margin: auto;font-weight: 200;">Select Image: (Please Upload "PNG" File)</span>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'boolean'">
                <clr-checkbox-wrapper class="flex-col">
                    <input clrCheckbox type="checkbox" name="item-options-{{param.name}}" [(ngModel)]="data[param.name]"
                        (ngModelChange)="onChange(param,$event)" />
                    <label [attr.title]="param.desc" class="no-select">{{param.label}}</label>
                </clr-checkbox-wrapper>
            </ng-container>
            <ng-container *ngSwitchCase="'select'">
                <clr-select-container class="flex-col">
                    <label class="clr-control-label">{{param.label}}</label>
                    <select class="use-clr-stylee" clrSelect placeholder="Field" name="item-options-{{param.name}}"
                        [(ngModel)]="data[param.name]" (ngModelChange)="onChange(param,$event)">
                        <option [value]="opt" *ngFor="let opt of param.data;">
                            {{opt}}</option>
                    </select>
                </clr-select-container>
            </ng-container>
            <ng-container *ngSwitchCase="'textarea'">
                <clr-textarea-container class="flex-col">
                    <label>{{param.label}}</label>
                    <textarea clrTextarea placeholder="{{param.label}}" name="item-options-{{param.name}}"
                        [(ngModel)]="data[param.name]" (ngModelChange)="onChange(param,$event)"></textarea>
                </clr-textarea-container>
            </ng-container>
            <ng-container *ngSwitchCase="'arrowbuttons'">
                <label>Control Padding</label>
                <ng-container *ngTemplateOutlet="arrowTpl"></ng-container>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <clr-input-container class="flex-col">
                    <label>{{param.label}}</label>
                    <input placeholder="{{param.label}}" name="item-options-{{param.name}}" clrInput
                        [(ngModel)]="data[param.name]" (ngModelChange)="onChange(param,$event)" type="text" />
                </clr-input-container>
            </ng-container>
        </ng-container>

        <ng-template #arrowTpl>
            <div class="flex-col">
                <!-- styling required -->
                <ng-container [ngSwitch]="param.label">
                    <button *ngSwitchCase="'PaddingLeft'" type="button" (click)="increasePadding(param)"
                        class="btn btn-icon right" aria-label="left">
                        <clr-icon shape="angle right"></clr-icon>
                    </button>
                    <button *ngSwitchCase="'PaddingLeft'" type="button" (click)="decreasePadding(param)"
                        class="btn btn-icon left" aria-label="right">
                        <clr-icon shape="angle left"></clr-icon>
                    </button>

                    <button *ngSwitchCase="'PaddingTop'" type="button" (click)="decreasePadding(param)"
                        class="btn btn-icon down" aria-label="down">
                        <clr-icon shape="angle up"></clr-icon>
                    </button>
                    <button *ngSwitchCase="'PaddingTop'" type="button" (click)="increasePadding(param)"
                        class="btn btn-icon up" aria-label="down">
                        <clr-icon shape="angle down"></clr-icon>
                    </button>
                </ng-container>
            </div>
        </ng-template>
    </div>
</div>