<div class="modal-content" style="margin-top:450px;" ng-controller="LifeCycleDashboardCtrl">
  <div class="modal-header bg-danger">
    <i class="ion-flame modal-icon"></i><span>Delete</span>
  </div>
 
  <div class="modal-body text-center">Are you sure  to delete Dashboard?</div>
  <div class="modal-footer">

    <button type="button" class="btn btn-danger" ng-click="deleteKpiDashboardInfo(data);">Yes</button>
     <button type="button" class="btn btn-danger" ng-click="$dismiss()">No</button>
  </div>
</div>