clr-modal::ng-deep {
  .modal {
    top: 60px !important;
    padding: 0;
  }
  .modal-backdrop {
    top: 60px !important;
  }
  .modal-dialog {
    width: 100%;
    .modal-content {
      width: 100%;
      height: calc(100vh - 60px);
      background: var(--bg3);
      padding: 0;
      box-shadow: none;
      color: var(--fg1);
      * {
        color: var(--fg1);
      }
      .modal-header {
        display: none;
      }
      .modal-body {
        overflow-x: auto;
        padding: 0;
        min-height: calc(100vh - 60px);
      }
    }
  }
}
.modal-wrapper {
  --header-height: 60px;
  top: var(--header-height);
  left: 0;
  width: 100vw;
  height: 100%;
  height: calc(100vh - var(--header-height));
  position: absolute;
  z-index: 5000;
  background: var(--bg3);
}
