
<!-- <div >
 <label style="margin-left: 6px;margin-bottom: 46px;margin-top: 115px;font-size: 28px;">Internal Report Data </label></div> -->
 <div ng-controller="reportDataCtrl" >
		
<div class="row">

		<div class="form-group col-md-2" ng-init="getVerticalData();">
			<label>Vertical:</label> <select id="vertical"style="outline: 0; background-color: rgba(87, 95, 118, 1)" 
					name='verticaldrop' id="verticaldrop" class="form-control" placeholder="SelectVertical"
					ng-model="selectedVertical"
					ng-options="verticaldrop for verticaldrop in verticaldrops"
					 ng-change="getSelectedVertical(selectedVertical)" ng-required="true">
			<option value="" ng-disabled="true">Select Vertical</option>	 
				
						
				</select> 
		</div> 
		
	    	<div class="form-group col-md-2" ng-init="getGeoDropData();">
			<label>Geo:</label> <select style="outline: 0; background-color: rgba(87, 95, 118, 1)" 
					name='Geodrop' id="Geodrop" class="form-control" placeholder="Select Geo"
					ng-model="selectedGeo"
					ng-options="Geodrop for Geodrop in Geodrops"
					ng-change="getSelectedGeo(selectedGeo)" ng-required="true"> 
				<option value="" ng-disabled="true">Select Geo</option> 
				
				</select> 
		</div> 
	
	<div class="form-group col-md-2" ng-init="getTypeofSupportData();">
			<label>Type of Support:</label> <select style="outline: 0; background-color: rgba(87, 95, 118, 1)" 
					name='TypeofSupportdrop' id="TypeofSupportdrop" class="form-control"placeholder="Select Type of Support"
					ng-model="selectedTypeOfSupport"
					ng-options="TypeofSupportdrop for TypeofSupportdrop in TypeofSupportdrops"
					 ng-change="getSelectedTypeofsupport(selectedTypeOfSupport)" ng-required="true">
				 <option value="" ng-disabled="true">Select Type of Support</option> 	
					
				</select> 
		</div> 
		<div class="form-group col-md-2" ng-init="getCoETrackData();">
			<label>Capability:</label> <select style="outline: 0; background-color: rgba(87, 95, 118, 1)" 
					name='CoETrackdrop' id="CoETrackdrop" class="form-control" placeholder="Select CoE Track"
					ng-model="selectedCoETrack"
					ng-options="CoETrackdrop for CoETrackdrop in CoETrackdrops"
					 ng-change="getSelectedCoETrack(selectedCoETrack)" ng-required="true"> 
			<option value="" ng-disabled="true">Select Capability</option>
					
				</select> 
		</div> 
		
	</div>
	
	
	
	<div class="row">

			<div class="form-group col-md-2" ng-init="getHighImpactData();">
			<label>Impact Of Contribution:</label> <select style="outline: 0; background-color: rgba(87, 95, 118, 1)" 
					name='highimpactdrop' id="highimpactdrop" class="form-control" placeholder="Select  high impact Contribution"
					ng-model="selectedisItAHighiImpactContribution"
					ng-options="highimpactdrop for highimpactdrop in highimpactdrops"
					 ng-change="getSelectedHighImpact(selectedisItAHighiImpactContribution)" ng-required="true"> 
				 	<option value=""  ng-disabled="true">Select Impact Of Contribution</option> 
				
						
				</select> 
		</div> 
		<!-- <div class="form-group col-md-2" ng-init="">
			<label style="outline: 0; background-color: rgba(87, 95, 118, 1)" >Month</label>
               <input class="form-control" id="month" type="month"	placeholder="Select Month" ng-model ="month" ng-required="true">
		</div>
		 -->
	    	<div class="form-group col-md-2" ng-init="">
			<label>Vertical POC:</label>
               <input class="form-control" id="VerticalPOC" type="text"	placeholder="Vertical POC" ng-model = "VerticalPOC" ng-required="true">
		</div> 
		
	    	<div class="form-group col-md-2" ng-init="">
			<label>Comments:</label>
               <input class="form-control" id="comments" type="text"	placeholder="Comments" ng-model = "comments" ng-required="true">
		</div> 
		
		<div class="form-group col-md-2" ng-init="">
			<label>Customer:</label>
               <input class="form-control" id="Customer" type="text"	placeholder="Customer" ng-model = "Customer" ng-required="true">
		</div> 
	
	
	
	</div>
	

	<div>
	
  <button type="button"  class="btn btn-default btn-raised" style="background:#1c3f5d;margin-bottom:15px" ng-click="getTDMDetails(1);initialCountofDetails();">Search</button>
 <!--  <a href="#/reportcharts"style="color: #58d68d ; padding-left:56px;" ng-click="openReportcharts();"> vertical charts</a>
  <a href="#/capabilityreportchart"style="color: #58d68d; padding-left:56px;" ng-click="openCapabilitycharts();">Capability charts</a> -->


</div>
	
<div class="row" style="margin-top:25px;">	
<div class="col-lg-12 col-md-12 col-sm-12" ba-panel-class="with-scroll" >
<div class="panel panel-blur" zoom-in="" ba-panel-blur=""style="background-size: 1433px 915px; background-position: 0px -158px;">
<div class="panel-heading clearfix"><h3 class="panel-title">REPORT DETAILS</h3>

<div uib-dropdown=""style="float: right; margin-top: -17px; color: #58D68D;">
						<a id="exportThis" uib-dropdown-toggle="" class="dropdown-toggle"
							aria-haspopup="true" aria-expanded="false"> <i
							class="fa fa fa-bars"></i>
						</a>
						<ul class="top-dropdown-menu profile-dropdown dropdown-menu"
							uib-dropdown-menu="">
							<li><i class="dropdown-arr"></i></li>
							<li><a href="" ng-click="exportDataInCSV()"><i
									class="ion-document"></i>Export in CSV</a></li>
							<li><a href="" id="exportThis" ng-click="exportData()"><i
									class="ion-document-text"></i>Export in XLS</a></li>
						</ul>
					</div>



</div>

<div class="panel-body" style="padding-right: 0px;">

	<div class="horizontal-scroll" >
	<div><table class="table"  ng-init="gettdmDetails(1);initialcountofDetails();"></div>
    <thead>

    <tr class="sortable ">
     <th style="width:5%" >Vertical</th>
    
   <th style="width:5%" >Customer</th>
 
    <th style="width:5%" >Geo</th>
    <th style="width:10%" >Type of support</th>
    <th style="width:15%" >Vertical POC</th>
     <th style="width:10%" >Capability</th>
         <th style="width:15%" >Impact Of Contribution </th>
         
     <th style="width:30%" >Comments</th>
       <th style="width:15%;" >Solution Tracker</th>
     

     <!--  <th style="width:15%" >Month</th>
       <th style="width:15%" >Email Communication Dates</th> -->
   
</tr>
</thead>
<tbody >
 <tr dir-paginate="item in TDMDetails | itemsPerPage: 5" total-items="detailsCount" current-page="pageno"  >
     <td style="width:5%">{{item.vertical}}</td>
     <td style="width:5%" >{{item.customer}}</td>

      <td style="width:5%" >{{item.geo}}</td>
      <td style="width:10%">{{item.typeOfSupport}}</td>
      <td style="width:15%">{{item.verticalPOC}}</td>
      <td style="width:10%">{{item.coETrack}}</td>
      <td style="width:15%">{{item.highImpactContribution}}</td>
      
      <td style="width:30%" class="more">{{item.comments}}</td>
           <td style="width:15%" >{{item.solutionTrack}}</td>
             <!--  <td style="width:15%">{{item.month}}</td>
        <td style="width:15%">{{item.emailCommunicationDates}}</td> -->
      
    </tr>
    </tbody>
   
  </table>
   <!-- <div>
  <dir-pagination-controls 
  directions-links="true"  boundary-links="true"
    pagination-id= "defpaginate"
              on-page-change="pageChangedLevel(newPageNumber)"></dir-pagination-controls> 
              </div> 
 -->
 <div>
 	<dir-pagination-controls directions-links="true"
				boundary-links="true"
				
				on-page-change="pageChangedLevel(newPageNumber)"></dir-pagination-controls></div>

</tbody>
</table>
   
     
</div>
</div></div></div>
			
			</div>
 		
</div>

<div>
 <div ng-init="getCsvTableDetails()"></div>
 <div ng-hide=true id="exportableBizReportDetails">
 <table class="table"   border="1">
    <thead>

	
    <tr class="sortable ">
     <th style="width:5%" >Vertical</th>
    
   <th style="width:5%" >Customer</th>
 
    <th style="width:5%" >Geo</th>
    <th style="width:10%" >Type of support</th>
    <th style="width:15%" >Vertical POC</th>
     <th style="width:10%" >Capability</th>
         <th style="width:15%" >Impact Of Contribution </th>
         
     <th style="width:30%" >Comments</th>
       <th style="width:15%;" >Solution Tracker</th>
     

      <!-- <th style="width:15%" >Month</th>
       <th style="width:15%" >Email Communication Dates</th> -->
   
</tr>
</thead>
<tbody >
 <tr ng-repeat="item in TDMDetails" >
     <td style="width:5%">{{item.vertical}}</td>
     <td style="width:5%" >{{item.customer}}</td>

      <td style="width:5%" >{{item.geo}}</td>
      <td style="width:10%">{{item.typeOfSupport}}</td>
      <td style="width:15%">{{item.verticalPOC}}</td>
      <td style="width:10%">{{item.coETrack}}</td>
      <td style="width:15%">{{item.highImpactContribution}}</td>
      
      <td style="width:30%">{{item.comments}}</td>
           <td style="width:15%" >{{item.solutionTrack}}</td>
         <!--      <td style="width:15%">{{item.month}}</td>
        <td style="width:15%">{{item.emailCommunicationDates}}</td> -->
      
    </tr>
    </tbody>
   
  </table>
	</div>
</div>
	
</div>
 