
<div ng-controller="AdminCtrl" ng-init="loadItems();loadJiraItems()">

	<button type="button" style="margin-left: 0%; margin-bottom: 1%"
		class="btn btn-primary btn-with-icon" ng-click="createAdminUser()">
		<i class="ion-android-contact"></i>Create New User
	</button>
	<button type="button" style="margin-left: 1%; margin-bottom: 1%"
		class="btn btn-primary btn-with-icon" ng-click="createOrg()">
		<i class="ion-android-add"></i>Add Organization
	</button>
	<!-- 	<button type="button" style="margin-left: 1%; margin-bottom: 1%" class="btn btn-primary btn-with-icon" ng-click="Hpalmdetails()">Tool Configuration</button>
 -->
	<!-- 
	<button type="button" style="margin-left: 1%; margin-bottom: 1%"
		class="btn btn-primary btn-with-icon"
		ng-click="toolSelection('operational')">
		<i class="ion-settings"></i>Operational Customization
	</button>
	
	 -->
	<button type="button" style="margin-left: 1%; margin-bottom: 1%"
		class="btn btn-primary btn-with-icon"
		ng-init="isToolSelectedAlready()"
		ng-click="toolSelection('lifecycle')">
		<i class="ion-settings"></i>LifeCycle Layout Selection
	</button>
	<button type="button" style="margin-left: 1%; margin-bottom: 1%"
		class="btn btn-primary btn-with-icon"
		ng-click="toolSelection('operationalCustomization')">
		<i class="ion-settings"></i>Template Customization
	</button>


	<div class="row pie-charts " ng-controller="AdminCtrl"
		ng-init="getAdminTableDetails();getUserCount();lockedAccountCount()">
		<div ba-panel-class="with-scroll" class="col-lg-9 col-xs-12 col-md-9">
			<div class="panel panel-blur with-scroll animated zoomIn" zoom-in=""
				ba-panel-blur="">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">Manage User Configurations</h3>
					<div uib-dropdown=""
						style="float: right; margin-top: -17px; color: #58D68D;">
						<a id="exportThis" uib-dropdown-toggle="" class="dropdown-toggle"
							aria-haspopup="true" aria-expanded="false"> <i
							class="fa fa fa-bars"></i>
						</a>
						<ul class="top-dropdown-menu profile-dropdown dropdown-menu"
							uib-dropdown-menu="">
							<li><i class="dropdown-arr"></i></li>
							<li><a href="" ng-click="exportDataInCSV()"><i
									class="ion-document"></i>Export in CSV</a></li>
							<li><a href="" id="exportThis" ng-click="exportData()"><i
									class="ion-document-text"></i>Export in XLS</a></li>
						</ul>
					</div>
				</div>

				<div class="panel-body">

					<table class="table" st-table="userDetails"
						st-safe-src="rowCollection">
						<thead>
							<tr class="sortable">

								<th style="width: 10%;" st-sort="userId" st-sort-default="true">User
									ID</th>
								<th style="width: 10%;" st-sort="userName"
									st-sort-default="true">User Name</th>
								<th style="width: 15%" st-sort="role">Role</th>
								<th style="width: 15%" st-sort="role">Org.Logo</th>
								<th style="width: 20%;">Accessible To</th>
								<th style="width: 5%;">LDAP Enabled</th>
								<th style="width: 25%;">Action</th>

							</tr>
							<tr>

								<th style="width: 10%;"><input st-search="userId"
									placeholder="Search User ID"
									class="input-sm form-control search-input" type="search" /></th>
								<th style="width: 10%;"><input st-search="userName"
									placeholder="Search User Name"
									class="input-sm form-control search-input" type="search" /></th>
								<th style="width: 15%;"><input st-search="role"
									placeholder="Search Role"
									class="input-sm form-control search-input" type="search" /></th>
								<th style="width: 15%;"></th>
								<th style="width: 20%;"></th>
								<th style="width: 5%;"></th>
								<th style="width: 25%;"></th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="details in userDetails" class="editable-row">

								<td style="width: 10%;"><a ng-click="updateUser(details);">{{details.userId}}</a></td>
								<td style="width: 10%;">{{details.userName}}</td>
								<td style="width: 10%;" class="select-td"><span
									editable-select="details.role" class="ion-edit e-name="
									role" e-ng-options="s.value as s.text for s in statuses">
										{{showStatus(details)}} </span></td>
								<td style="width: 15%;"
									ng-if="details.orgLogo != '' && details.orgLogo !=null"><a
									ng-click="removeImg(details.userId)">Remove<br></a><img
									ng-src="data:image/png;base64,{{details.orgLogo}}" width="60"
									height="30"></td>
								<td style="width: 15%;"
									ng-if="details.orgLogo == '' || details.orgLogo ==null"><a
									style="margin-left: 1%; margin-bottom: 1%"
									ng-click="createOrg(details.userId)">Upload...</a></td>
								<!-- <td>{{item.environment}}</td> -->
								<td style="width: 20%;">
									<div ng-if="details.operational == true">{{details.operational
										== true ?"Operational" : "-- "}}</div>
									<div ng-if="details.lifeCycle == true">{{details.lifeCycle
										== true ? "LifeCycle": "-- "}}</div>
									<div ng-if="details.qbot == true">{{details.qbot == true
										? "Intelligent" : "--"}}</div>
									<div ng-if="details.coEDashboard == true">{{details.coEDashboard
										== true ? "CoEDashboard" : "-- "}}</div>
									<div ng-if="details.riskCompliance == true">{{details.riskCompliance
										== true ? "RiskCompliance" : "-- "}}</div>
								</td>
								<td style="width: 5%;">{{details.ldap == true ? "Yes" :
									"No"}}</td>
								<td style="width: 30%;"><div>
										<a ng-click="editUser(details);">Edit Layers & Permission</a><br />
									</div>
									<div ng-if="details.operational == true">
										<a
											ng-click="projectAccess(details);changeRouteOperational(details);changeJiraRouteOperational(details);">Project
											Access</a><br />
									</div></td>

							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6" class="text-center">
									<div st-pagination="" st-items-by-page="smartTablePageSize"
										st-displayed-pages="5"></div>
								</td>
							</tr>
						</tfoot>
					</table>

				</div>
			</div>
		</div>

		<div class="col-lg-3 col-xs-12 col-md-3">
			<uib-accordion ng-init="getLicenseDetailsForAdmin()">
			<uib-accordion-group heading="License Details"
				class="licensepopubgimg"
				panel-class="panel-primary bootstrap-panel accordion-panel">
			<table class="table" st-table="licenseDetails"
				st-safe-src="safeLicenseDetails" style="color: #4c4c4c">
				<tr ng-repeat="details in licenseDetails">
					<th>Version : {{details.version}}</th>
				</tr>
				<tr ng-repeat="details in licenseDetails">
					<th>User : {{details.user}}</th>
				</tr>
				<tr ng-repeat="details in licenseDetails">
					<th>Start Date : {{details.startDate | date:'MM/dd/yyyy'}}</th>
				</tr>
				<tr ng-repeat="details in licenseDetails">
					<th>End Date : {{details.endDate | date:'MM/dd/yyyy'}}</th>
				</tr>
				<tr ng-repeat="details in licenseDetails">
					<th>License is expiring in <b> {{details.daysRemaining}} </b>
						day(s)
					</th>
				</tr>
			</table>
			<button type="button" class="btn btn-primary btn-sm ng-scope"
				ng-click="updateLicenseKey()">
				<i class="fa fa-key" style="margin-right: 10px;"></i>Update Key
			</button>
			<button type="button" class="btn btn-primary btn-sm">
				<a href="mailto:iDashboardSupport@cognizant.com"
					style="color: #fff;"><i class="ion-android-contacts"
					style="margin-right: 10px;"></i>Contact Support</a>
			</button>
			</uib-accordion-group> </uib-accordion>
		</div>

		<div class="col-lg-3 col-xs-12 col-md-3">
			<div ba-panel ba-panel-title="User Count"
				ba-panel-class="with-scroll">

				<div class="col-md-4">
					<label class="userText">Total</label><br> <label
						class="userCount" style="color: #FFE082;"> {{totalcnt}} </label>
				</div>

				<div class="col-md-4">
					<label class="userText">Active</label><br> <a
						data-toggle="modal"
						ng-click="open('app/pages/admin/activeUsers.html','md')"
						class="userCount" style="color: #81C784;">{{activeUsersCount}}</a>

				</div>


				<div class="col-md-4">
					<label class="userText">Inactive</label> <br>
					<a data-toggle="modal"
						ng-click="open('app/pages/admin/inactiveUsers.html','md')"
						class="userCount" style="color: #EF9A9A;">{{inactiveUsersCount}}</a>

				</div>


			</div>

			<div ba-panel ba-panel-title="Login Requests"
				ba-panel-class="with-scroll">


				<label class="userText">Pending</label> <a data-toggle="modal"
					ng-click="open('app/pages/admin/loginRequests.html','md')"
					class="userCount" style="color: #EF9A9A; padding-left: 20%">{{pendingRequestsCount}}</a>


			</div>

			<div ba-panel ba-panel-title="Locked Accounts"
				ba-panel-class="with-scroll">


				<label class="userText">Total</label> <a data-toggle="modal"
					ng-click="open('app/pages/admin/lockedRequests.html','md')"
					class="userCount" style="color: #EF9A9A; padding-left: 20%">{{lockedAccountCount}}</a>


			</div>

		</div>
	</div>

	<!-- 	<div ng-init="getAdminTableDetails()">
		<div id="content">
			<table st-table="userDetails" st-safe-src="rowCollection"
				style="width: 1020px; font-size: 11px;" border="1">

				<thead  >
				<tr class="sortable" align="left">
					<th st-sort="userName" st-sort-default="true">User Name</th>


					<th>Accessible To</th>

					<th st-sort="userId" st-sort-default="true">User ID</th>

					<th style="padding: 0px;" st-sort="role">Role</th>
					<th>LDAP Enabled</th>
				</tr>
				<tr ng-repeat="details in userDetails" align="left">
					<td>{{details.userName}}</td>
					<td>{{details.operational == true ? "Operational" : "--
						"}},{{details.lifeCycle == true ? "LifeCycle" : "--
						"}},{{details.qbot == true ? "QBot" : "-- "}}</td>
					<td>{{details.userId}}</td>
					<td>{{showStatus(details)}}</td>
					<td>{{details.ldap == true ? "Yes" : "No"}}</td>
				</tr>
			</table>
		</div>
	</div> -->

	<div>
		<div ng-init="getAdminTableDetails()"></div>
		<div ng-hide=true id="exportableBizAdminDetails">
			<table class="table" border="1">
				<thead>


					<tr class="sortable ">
						<th style="width: 5%">User Name</th>

						<th style="width: 5%">User ID</th>

						<th style="width: 5%">Role</th>
						<th style="width: 5%">Accessible To</th>
						<th style="width: 10%">LDAP Enabled</th>

					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="details in userDetails">
						<td style="width: 5%">{{details.userName}}</td>
						<td style="width: 5%">{{details.userId}}</td>

						<td style="width: 5%">{{showStatus(details)}}</td>
						<td style="width: 10%">{{details.operational == true ?
							"Operational" : "-- "}},{{details.lifeCycle == true ? "LifeCycle"
							: "-- "}},{{details.qbot == true ? "Intelligent" : "-- "}}</td>
						<td style="width: 15%">{{details.ldap == true ? "Yes" :
							"No"}}</td>

					</tr>
				</tbody>

			</table>
		</div>
	</div>
</div>

