<div class="popupbgimg modal-content" style="margin-top:450px;" ng-controller="AdminCtrl">
<div class="modal-header">
    <span style="font-size: 16px">Organization details</span>
    
    <!-- <a ng-click="cancel();$dismiss();">
	<img src="./assets/img/close.png" style="float:right;width: 10%" >
</a> -->
 <button type="button" class="close" ng-click="cancel();$dismiss()" aria-label="closeed">
			<span aria-hidden="true"> x</span>
		</button> 
  </div>

  
<div class="modal-body">
      
  <form name="form"  ng-init="getusers()" ng-submit="uploadImage(getid)">
  
 
    <label for="org" style="color:#4c4c4c;">Organization</label>
    <input type="input" class="form-control" id="org" ng-model="org" placeholder="Org. Name" required>
 
   	<label for="org" style="color:#4c4c4c; margin-top:3px;">Logo</label>
   	<input class="form-control" type="file" ng-model="picFile" name="file" id="file" onchange="angular.element(this).scope().UploadResourceFile(this.files)" accept="image/x-png,image/gif,image/jpeg"> 

  	<label for="org" style="color:#4c4c4c; margin-top:3px;">Users</label>
  	<div ng-if="multidropdown" style="width: 100%" ng-dropdown-multiselect=""
			options="multiusers" selected-model="selusers"
			extra-settings="scrollsettings" events="myEventListenersuser"></div>
	<input type="input" class="form-control" ng-if="!multidropdown" ng-model="getid" disabled></input>
 
  <button type="submit" style="margin-left:20%;margin-top:10px; margin-right:8px;" class="btn btn-success">Create</button>
  <button type="button" style="margin-left:2%; margin-bottom:-11px;" class="btn btn-danger" ng-click="cancel();$dismiss();">Cancel</button>
</form>
 
     </div>
     </div>