
<div class="widgets" ng-controller="AdminCtrl" autocomplete="off">
	<div class="col-md-6" ba-panel ba-panel-title="Create Instance"
		ba-panel-class="with-scroll" style="padding-left: 0px">

		<form name="form" ng-submit="saveInstance(form)" id="form"
			ng-controller="AdminCtrl" autocomplete="off">
			<div class="row">
				<div class="form-group col-md-3">
					<label> InstanceName</label> <input type="input"
						class="form-control" id="instanceName"
						ng-model="form.instanceName" placeholder="InstanceName" required>
				</div>

           <div class="form-group col-md-3">
					<label> ServerUrl</label> <input type="input"
						class="form-control" id="serverUrl"
						ng-model="form.serverUrl" placeholder=serverUrl required>
				</div>

				<div class="form-group col-md-3">
					<label>UserId</label> <input type="input" class="form-control"
						id="userId" ng-model="form.userId" placeholder="userId" required>
				</div>
				<div class="form-group col-md-3">
					<label>Password</label> <input type="password" class="form-control"
						id="Password" ng-model="form.password" placeholder="Password"
						required>
				</div>
				<button type="submit" class="btn btn-primary btn-sm ng-scope"
					style="margin-top: 0px; margin-left: 28px; padding: 6px;">Add
					Instance</button>
			</div>
		</form>




		<div class="row" style="margin-top: 25px;">
			<div class="col-lg-12 col-md-12 col-sm-12" ba-panel
				ba-panel-title="Instance Details" ba-panel-class="with-scroll">

				<div>
					<div></div>
					<table class="table" ng-init="instanceDetailsfn();"
						style="border-spacing: 0px; border-collapse: separate;">
						<thead>
							<tr class="sortable">

								<th style="width: 20%; font-weight: bold">InstanceName</th>
								<th style="width: 20%; font-weight: bold">ServerUrl</th>
								<th style="width: 25%; font-weight: bold">UserId</th>
							<th>Action</th>

							</tr>
						</thead>
						<tbody ng-repeat="item in instanceDetails">

							<tr>
								<td style="width: 10%"><a style="color: #58d68d"
							ng-model="item.instanceName"
							ng-click="createDomainAndpoject(item);"><B>{{item.instanceName}}</B></a></td>
								<!-- <td style="width: 10%" >{{item.instanceName}}</td> -->
								<td style="width: 10%">{{item.serverUrl}}</td>
								<td style="width: 25%" >{{item.userId}}</td>
								<td><a
							style="color: #ffffff;margin-left: 10%"
							ng-click="deleteHPALMInstance(item)" class="ion-trash-b"></a></td>
								<!-- <td><a ng-click="createDomainAndpoject(item);">Add_Domain_project</a></td> -->

							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- </form> -->

	</div>


	<!-- <div ng-show="visible"> -->
		<div class="col-md-6" ba-panel
			ba-panel-title="Create domain and project for : {{instanceName}}"
			ba-panel-class="with-scroll"
			style="padding-left: 0px;">
			<form name="form" ng-submit="UpdateInstance(form);" method="post"
				autocomplete="off" ng-controller="AdminCtrl">

				<div class="row">
					<div class="form-group col-md-3">
						<label>Domain</label> <input type="input" class="form-control"
							id="domain" ng-model="form.domain" placeholder="Domain" required>
					</div>

					<div class="form-group col-md-3">
						<label>Project</label> <input type="input" class="form-control"
							id="project" ng-model="form.project" placeholder="Project"
							required>
					</div>

					<button type="submit" class="btn btn-primary btn-sm ng-scope"
						style="margin-top: 23px; margin-left: 28px; padding: 6px;">Add Projects
					</button>
				</div>

			</form>

		</div>
	<!-- </div> -->



	<!-- <div class="row" style="margin-top: 25px;"> -->
		<div class="col-lg-6 col-md-6 col-sm-6" ba-panel
			ba-panel-title="Domain and Project Details for : {{instanceName}}"
			ba-panel-class="with-scroll"style="margin-left: -14px; margin-top: 11px; padding-right: 0px;">

			<div>
				<div></div>

				<table class="table">
					<thead>
						<tr>
							
							<th>Domain</th>
							<th>Project</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in domainAndProjectDetails">

							
							<td>{{item.domain}}</td>
							<td>{{item.project}}</td>
							<td style="width: 10%;">
					
							 
							<a
							style="color: #ffffff;margin-left: 10%"
							ng-click="deleteHPALMRow(item)" class="ion-trash-b"></a>
							
							
						</td>
						<!-- 	<td><a ng-click="deleteHPALMRow(item)">Remove</a></td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<!-- 
</div> -->

