<div class="modal-content" ng-controller="AdminCtrl">
  <div class="modal-header bg-warning">
    <i class="ion-warning modal-icon"></i><span> Warning</span>
     <!--  <a ng-click="cancelTemplate()">
	<img src="./assets/img/close.png" style="float:right;width: 10%" >
</a> -->
<button type="button" class="close" ng-click="$dismiss()" aria-label="closeed">
			<span aria-hidden="true"> x</span>
		</button> 
  </div>
 
  <div class="modal-body text-center">Please Select the metrics from the Industry Standard Metrics List </div>
  <div class="modal-footer">
  <!--   <button type="button" class="btn btn-success" ng-click="$dismiss()">OK</button>
 -->  </div>
</div>