<style>
/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
	min-height: 42px;
	padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
	display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
	background-color: #ddd;
	display: block;
	min-height: 42px;
}

.simpleDemo ul[dnd-list] li {
	border: 1px solid #ddd;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
	color: #3c763d;
}

#div1 {
	float: left;
	width: 120px;
	height: 120px;
	margin: 10px;
	padding: 10px;
}

#div2 {
	float: left;
	width: 120px;
	height: 120px;
	margin: 10px;
	padding: 10px;
	border: 1px solid white;
}

#div3 {
	float: left;
	width: 200px;
	height: 120px;
	margin: 10px;
	padding: 10px;
	border: 1px solid white;
}
</style>



<div class="widgets" ng-controller="AdminCtrl">
	<div class="row">
		<div ba-panel ba-panel-class="with-scroll">
			<ba-wizard> <ba-wizard-step title="Metrics Selection"
				form="vm.personalInfoForm">

			<div class="col-md-12" ng-init="generateModel()">
				<div class="simpleDemo row">
					<div class="row">
						<div ng-repeat="title in titleList" class="col-md-6">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">{{title}}</h3>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div ng-repeat="(listName, list) in models.lists"
								class="col-md-6">
								<ul dnd-list="list">
									<li ng-repeat="item in list" dnd-draggable="item"
										dnd-dragend="list.dragging = false"
										dnd-moved="list.splice($index, 1)" dnd-effect-allowed="move"
										dnd-selected="models.selected = item"
										ng-class="{'selected': models.selected === item}">
										{{item.label}}</li>
								</ul>

							</div>
						</div>
					</div>
				</div>
			</div>

			</ba-wizard-step> <ba-wizard-step title="Tool Selection" id="testApp">
			<div ba-panel ba-panel-title="Tools"
				ba-panel-class="with-scroll col-md-6">
				<div ng-repeat="img in imglist" id="div1"
					ondrop="angular.element(document.getElementById('testApp')).scope().drop(event)"
					ondragover="angular.element(document.getElementById('testApp')).scope().allowDrop(event)" style="border:1px solid #4c4c4c;"">
					<img src={{img}} draggable="true"
						ondragstart="angular.element(document.getElementById('testApp')).scope().drag(event)"
						id="drag{{img}}" width="100" height="100">
				</div>
			</div>
			<div class="col-md-1"></div>
			<div ba-panel ba-panel-title="Template"
				ba-panel-class="with-scroll col-md-5">
				<div class="row">

					<div ng-repeat="img in imglist" id="div2"
						ondrop="angular.element(document.getElementById('testApp')).scope().drop(event)"
						ondragover="angular.element(document.getElementById('testApp')).scope().allowDrop(event)" style="border:1px solid #4c4c4c;"></div>

					<!-- <div ba-panel ba-panel-title="Template 2"
						ba-panel-class="with-scroll" class="form-group col-md-6">
						<div ng-repeat="img in imglist" id="div3"
							ondrop="angular.element(document.getElementById('testApp')).scope().drop(event)"
							ondragover="angular.element(document.getElementById('testApp')).scope().allowDrop(event)"></div>
					</div> -->
				</div>
			</div>

			</ba-wizard-step> <ba-wizard-step title="Final Layout">
			<div>
				<div class="panel-heading clearfix">
					<h3 class="panel-title"
						style="font-weight: bold; margin-left: -14px;">Final Layout
						for LifeCycle Module</h3>
				</div>
				<div ba-panel ba-panel-class="with-scroll" class="col-md-12 ">
					<div>
						<table class="table">
							<thead>
								<tr class="sortable">
									<td ng-repeat="item in models.lists.selected track by $index">{{item.label}}</td>

								</tr>

							</thead>

							<tbody>

								<tr>
									<td ng-repeat="imgList in imglist track by $index"><img
										src={{imgList}} width="100" height="100" style="border:1px solid #4c4c4c;"></td>
								</tr>
							</tbody>
						</table>




					</div>
				</div>


				<div style="float: right; margin-right: 88px; margin-top: -2px;">
					<button
						style="margin-left: -2%; padding-left: 19px; padding-right: 18px; margin-right: 10px;"
						class="btn btn-success" ng-click="saveToolDetails(demo)">Save</button>
					<button type="button" style="margin-left: 2%;"
						class="btn btn-danger" ng-click="cancel();$dismiss();">Cancel</button>
				</div>
			</div>

			</ba-wizard-step> </ba-wizard>
		</div>
	</div>
</div>

