<div class="page-content full">
    <div class="dashboard-panel flex-col full">
        <div class="dashbaord-header">
            <div class="search flex-row">
                <input type="text" [(ngModel)]="filterDataby" (keyup.enter)="updateSearchKeyword(filterDataby)">
                <clr-icon shape="search" size="28" (click)="updateSearchKeyword(filterDataby)"></clr-icon>
            </div>
            <div class="options right ">
                <div class="btn-group btn-outline-primary btn-md btn-icon">
                    <button class="btn" title="Save Dashboard" [disabled]="!(projects?.length>0 && dashboard)"
                    (click)="showSaveModal = true;dashboardName = lastSearch;projectId = projects[0].id;">
                        <clr-icon shape="floppy"></clr-icon>
                    </button>
                    <button class="btn" title="close" (click)="close()">
                        <clr-icon shape="times"></clr-icon>
                    </button>
                </div>
            </div>
        </div>
        <leap-dashboard-view [dashboard]="dashboard" [page]="activePage" [update]="loadedItem" class="flex-col full"
            *ngIf="dashboard && filterDataby && filterDataby !='' && dashboard.pages[0].items.length>0 else askSerachTpl">
        </leap-dashboard-view>
    </div>
</div>
<ng-template #askSerachTpl>
    <span class="title"
        style="margin: 10% auto;font-size:18px;">{{filterDataby && filterDataby !='' && dashboard? 'no charts found':'use keywords to search' }}</span>
</ng-template>

<clr-modal [(clrModalOpen)]="showSaveModal" [clrModalSize]="'md'">
    <h3 class="modal-title">Save Dashboard</h3>
    <div class="modal-body">
        <div class="flex-col save-form">
            <clr-input-container style="margin-top: 0;">
                <label>DashBoard Name</label>
                <input clrInput name="dashboard-name" [(ngModel)]="dashboardName" />
              </clr-input-container>
        <clr-select-container>
            <label>Select Project</label>
            <select clrSelect name="projectId" [(ngModel)]="projectId">
              <option [value]="project.id" *ngFor="let project of projects">{{project.name}}</option>
            </select>
          </clr-select-container>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="saveDashboard()">Save</button>
        <button type="button" class="btn btn-outline" (click)="showSaveModal = false">Cancel</button>
    </div>

</clr-modal>