.search {
  flex-grow: 1;
  max-width: 30rem;
  margin: auto;
  clr-icon {
    cursor: pointer;
    padding: 4px 2px;
    margin-top: 2px;
    margin-left: .125rem;
    border-radius: 2px;
    &:hover{
      background-color: var(--bg1);
    }
  }
  input {
    border: none;
    padding-left: 8px;
  }
}
app-dashboard-view {
  background: var(--bg1);
}
:host::ng-deep {
  .dashboard-renderer {
    background: var(--bg1)!important;
  }
}
.dashboard-panel {
  background-color: var(--bg1);
}
.save-form{
  min-height: 5rem;
  &::ng-deep{
    .clr-control-container,.clr-select-wrapper{
      width: 100%;
    }
  }
}
clr-modal{
  &::ng-deep{
    .modal-content {
      width: 100%;
      background: var(--bg3);
      padding: 18px;
      box-shadow: none;
      color: var(--fg1);
     .modal-title{
        color: var(--fg1);
      }
    }
  }
 
}