.x-chart {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  &::ng-deep {
    .grid-panel.even {
      .gridpanel {
        opacity: 0.5;
        fill: var(--bg1);
        &:hover {
          opacity: 0.4;
        }
      }
    }
    .grid-panel.odd {
      .gridpanel {
        opacity: 0;
      }
    }
    .date-grouped .grid-panel {
      .gridpanel {
        opacity: 0.2;
        fill: var(--bg1);
        &:hover {
          opacity: 0.4;
        }
      }
    }
    ngx-charts-chart,
    .ngx-charts-outer {
      height: 100%;
      max-height: 100%;
      width: 100%;
      max-width: 100%;
    }
  }
}
.x-chart.legend-down {
  &::ng-deep {
    .ngx-charts-outer {
      display: flex;
      flex-direction: column;
      //  workaround https://github.com/swimlane/ngx-charts/issues/1248 , https://github.com/swimlane/ngx-charts/issues/1040
      g.chart {
        transform-origin: center;
        transform: scaleY(0.9) translateX(40px) translateY(-6px);
      }
      g[ngx-charts-timeline] {
        transform: translateX(40px) translateY(-42px);
      }
    }

    .chart-legend {
      .legend-label-text {
        min-width: fit-content;
        max-width: 6rem;
      }
      .legend-title {
        margin-top: -24px;
        position: absolute;
      }
      .legend-labels {
        overflow-x: auto;
        line-height: 50%;
        li {
          display: inline-block;
          margin: 3px 6px;
        }
      }
    }
  }
}
