<ngx-charts-area-chart-stacked class="x-chart" 
[results]="data"
[xAxis]="chartconfig.xAxis"
[yAxis]="chartconfig.yAxis"
[showXAxisLabel]="chartconfig.showXAxisLabel"
[showYAxisLabel]="chartconfig.showYAxisLabel"
[legend]="chartconfig.legend"
[legendPosition]="chartconfig?.legendPositionDown?'down':'right'"
[class.legend-down]="chartconfig?.legendPositionDown"
[xAxisLabel]="chartconfig.xAxisLabel"
[yAxisLabel]="chartconfig.yAxisLabel"
[scheme]="colorScheme"
[timeline]="chartconfig.timeline"
[animations]="chartconfig.animations"
[showGridLines]="chartconfig.showGridLines"
[legendPosition]="chartconfig?.legendPositionDown?'down':'right'"
[tooltipDisabled]="chartconfig.tooltipDisabled"
(select)="onSelect($event)"
>
</ngx-charts-area-chart-stacked>