<div class="main-container-class" data-theme="default">
  <div class="content-container">
    <clr-vertical-nav class="vertical-nav">
      <a clrVerticalNavLink [routerLink]="['/admin/users']" routerLinkActive="active">
        <clr-icon shape="users" class="is-solid"></clr-icon>Users
      </a>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink [routerLink]="['/admin/roles']" routerLinkActive="active">
        <clr-icon shape="id-badge" class="is-solid"></clr-icon>Roles
      </a>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink (click)="reloadWhitelist()" routerLinkActive="active">
        <clr-icon shape="sync" class="is-solid"></clr-icon>Refresh Whitelist
      </a>
    </clr-vertical-nav>
    <div class="content-area-class">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>