<ngx-charts-gauge class="x-chart" *ngIf="data && chartconfig" [class.show-axis]="chartconfig?.showAxis" [scheme]="colorScheme" [results]="data"
 [legend]="chartconfig?.legend" [legendTitle]="chartconfig.legendTitle" [animations]="chartconfig.animations"
 [min]="chartconfig.min" [max]="chartconfig.max"
 [units]="chartconfig.units"
 [bigSegments]="chartconfig.bigSegments || 10"
 [smallSegments]="chartconfig.smallSegments || 5"
 [showAxis]="chartconfig.showAxis"
 [tooltipDisabled]="chartconfig.tooltipDisabled"
 [showText]="chartconfig.showText"
 [legendPosition]="chartconfig?.legendPositionDown?'down':'right'"
 [class.legend-down]="chartconfig?.legend && chartconfig.legendPositionDown" (select)="onSelect($event)">
</ngx-charts-gauge>


<!-- [angleSpan]="chartconfig.angleSpan"
 [startAngle]="chartconfig.startAngle" -->