<ngx-charts-polar-chart  class="x-chart"
[scheme]="colorScheme"
[legend]="chartconfig.legend"
[legendTitle]="chartconfig.legendTitle"
[showXAxisLabel]="chartconfig.showXAxisLabel"
[showYAxisLabel]="chartconfig.showYAxisLabel"
[xAxis]="chartconfig.xAxis"
[yAxis]="chartconfig.yAxis"
[xAxisLabel]="chartconfig.xAxisLabel"
[yAxisLabel]="chartconfig.yAxisLabel"
[animations]="chartconfig.animations"
[rangeFillOpacity]="chartconfig.rangeFillOpacity"
[showGridLines]="chartconfig.showGridLines"
[tooltipDisabled]="chartconfig.tooltipDisabled"
[trimYAxisTicks]="chartconfig.trimYAxisTicks"
[maxYAxisTickLength]="chartconfig.maxYAxisTickLength"
[autoScale]="chartconfig.autoScale"
[labelTrim]="chartconfig.labelTrim"
[labelTrimSize]="chartconfig.labelTrimSize"
[results]="data"
(select)="onSelect($event)"
[legendPosition]="chartconfig?.legendPositionDown?'down':'right'"
[class.legend-down]="chartconfig?.legend && chartconfig.legendPositionDown">
</ngx-charts-polar-chart>