<ng-container *ngIf="native else clrModal">
    <div class="modal-wrapper" *ngIf="open">
        <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
    </div>
</ng-container>
<ng-template #clrModal>
    <clr-modal [clrModalOpen]="open" (clrModalOpenChange)="close()" [clrModalStaticBackdrop]="false"
        [clrModalSize]="size" *ngIf="open">
        <div class="modal-body flex-col">
            <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
        </div>
    </clr-modal>
</ng-template>
<ng-template #loading>
    <div class="loading">
        <span class="spinner spinner-inline center"></span> Loading...</div>
</ng-template>
<ng-template #contentTpl>
    <ng-content selector="modal-content"></ng-content>
</ng-template>