
<div class="popupbgimg" style="margin-top: 450px;"
	ng-controller="AdminCtrl">

	<!-- <a ng-click="cancel();$dismiss();">
         <img src="./assets/img/close.png" style="float:right; margin-top: 2px; margin-right: 2px; height: 25px; width: 25px;" >
  </a> -->
	<button type="button" class="close" ng-click="cancel();$dismiss()"
		aria-label="closeed">
		<span aria-hidden="true"> x</span>
	</button>
	<div class="headingDiv" style="height: 60px">
		<label class="custom-checkbox"
			style="font-weight: normal; margin-top: 20px; margin-left: 9px;">Pending
			login requests</label>
	</div>

	<div ng-init="getLoginRequests()" style="margin-left: 20px">

		<form ng-submit="processLogins(loginRequests)" id="mapvo">


			<table class="table table-striped" st-table="loginRequests"
				st-safe-src="rowCollection">
				<thead>
					<tr class="sortable">

						<th st-sort="userId" st-sort-default="true">User ID</th>
						<th st-sort="userName">User Name</th>

						<th>Action</th>

					</tr>
					<tr>

						<th><input st-search="userId" placeholder="Search User ID"
							class="input-sm form-control search-input" type="search" /></th>
						<th><input st-search="userName"
							placeholder="Search User Name"
							class="input-sm form-control search-input" type="search" /></th>

						<th></th>

					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="details in loginRequests">

						<td ng-model="details.userId">{{details.userId}}</td>
						<td ng-model="details.userName">{{details.userName}}</td>
						<!-- <td>{{item.environment}}</td> -->
						<td><label class="custom-checkbox" style="margin-left: 0px"><input
								type="checkbox" ng-model="details.accessible"><span></span></label>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="6" class="text-center">
							<div st-pagination="" st-items-by-page="smartTablePageSize"
								st-displayed-pages="5"></div>
						</td>
					</tr>
				</tfoot>
			</table>
			<table>
				<tr>
					<td>
						<button id="detailsid" type="submit"
							ng-click="processLogins(loginRequests)"
							style="margin-left: 10%; margin-bottom: 10%;"
							class="btn btn-success">
							<label class="" style="cursor: pointer;">Approve</label>
						</button>
					</td>
					<td>
						<button type="submit" class="btn btn-danger col-md-1"
							style="width: 100%; margin-left: 30%; margin-bottom: 10%; padding-bottom: 10px;"
							ng-click="deleteUserInfo(loginRequests);">Delete</button>
					</td>
					<td>
						<button type="button" class="btn btn-danger col-md-1 "
							style="width: 100%; margin-left: 55%; margin-bottom: 10%; padding-bottom: 10px;"
							ng-click="cancel();$dismiss();">Cancel</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>


</div>