
<div class="page-top clearfix" scroll-position="scrolled"
	max-height="50" ng-class="{'scrolled': scrolled}" ng-init="">

	<a class="al-logo clearfix" Style="padding-left: 0px"> <img
		ng-src="{{::( 'Logo' | profilePicture )}}">
	</a> <a ng-show="menubar" href class="collapse-menu-link ion-navicon"
		ba-sidebar-toggle-menu></a>

	<div class="menu-top clearfix" scroll-position="scrolled"
		max-height="50" ng-class="{'scrolled': scrolled}">

		<div class="menuBar clearfix">

			<a href="#/Operational" ng-if="operational" ng-model="role"
				ng-class="{'on':var1}" class="menuBar-item"
				ng-click="SessionData(role,'Operational')" Style="padding-left: 0px">Operational
			</a> <a href="#/lifecycledashboard" ng-if="lifeCycle" ng-model="role"
				ng-class="{'on':var2}" class="menuBar-item"
				ng-click="SessionData(role,'lifecycle')" Style="padding-left: 0px">LifeCycle
			</a> <a href="#/dashbot" ng-if="qbot" ng-model="role"
				ng-class="{'on':var3}" class="menuBar-item"
				ng-click="SessionData(role,'dashbot')" Style="padding-left: 0px">Intelligent
			</a>

			<!-- <a href='#/internalreport' ng-if="coEDashboard"
				ng-click="SessionData(role,'internalreport')" ng-class="{'on':var5}"
				class="menuBar-item " style="padding-left: 0px">CoE Dashboard</a>
				
				 -->
			<a href="#/admin" ng-if="isAdmin" ng-model="admin"
				class="menuBar-item" ng-class="{'on':var4}"
				Style="padding-left: 0px">Admin </a> <span uib-dropdown=""
				class="dropdown open" style=""> <a id="exportThis"
				uib-dropdown-toggle="" ng-click="SessionData(role,'custmetric')"
				ng-class="{'on':var6}" class="menuBar-item"
				ng-show="coEDashboard || riskCompliance" class="dropdown-toggle on"
				aria-haspopup="true" aria-expanded="true" style="cursor: pointer;">
					Custom Metrics </a>
				<ul class="top-dropdown-menu profile-dropdown dropdown-menu"
					uib-dropdown-menu="" style="left: -52px; top: 22px;">
					<li><i class="dropdown-arr"></i></li>
					<li><a href="#/internalreport"
						ng-click="SessionData(role,'internalreport')"
						ng-class="{'on':var7}" ng-if="coEDashboard"
						style="color: rgb(29, 25, 25);" class="on"><i
							class="fa fa-pie-chart" aria-hidden="true"></i>CoE Dashboard</a></li>
					<li><a href="#/riskCompliance"
						ng-click="SessionData(role,'riskCompliance');"
						ng-class="{'on':var8}" ng-if="riskCompliance"
						style="color: #1d1919;"><i class="fa fa-area-chart"
							aria-hidden="true"></i>Risk And Compliance</a></li>
				</ul>
			</span>

			<!-- <div uib-dropdown="" style="float: right;" class="dropdown open">
							<a id="exportThis" uib-dropdown-toggle ng-class="{'on':var7}" ng-show="coEDashboard || riskCompliance"> Custom Metrics
						</a>
							<ul class="top-dropdown-menu profile-dropdown dropdown-menu" uib-dropdown-menu="">
								<li><i class="dropdown-arr"></i></li>
								<li><a href="" ng-click="SessionData(role,'internalreport')"><i class="fa fa fa-bar-chart-o"></i>CoE Dashboard</a></li>
								<li><a href="" ng-click="SessionData(role,'riskCompliance');"><i class="fa fa fa-area-chart"></i>Risk And Compliance</a></li>
							</ul>
						</div> -->

		</div>

	</div>

	<div class="user-profile clearfix" ng-controller="LoginCtrl">


		<div class="al-user-profile" uib-dropdown>
			<a uib-dropdown-toggle class="profile-toggle-link"
				ng-if="profilePicAvailable"><img
				ng-src="data:image/png;base64, {{picSrc}}"> </a> <a
				uib-dropdown-toggle class="profile-toggle-link"
				ng-if="!profilePicAvailable"><img
				ng-src="data:image/png;base64, {{picSrc}}"> </a>
			<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
				<li><i class="dropdown-arr"></i></li>
				<li><a ng-if="isLdap != true" href=""
					ng-click="open('app/admin/changePassword.html','sm')"><i
						class="fa fa-key"></i>Change Password</a></li>
				<li ng-if="isLdap != true"><a href=""
					ng-click="open('app/admin/changeProfilePic.html','sm')"><i
						class="ion-android-contact"></i>Change Profile Pic</a></li>
				<li><a href="" ng-click="logout()" class="signout"><i
						class="fa fa-power-off"></i>Sign out</a></li>
			</ul>
		</div>



		<div class="reset">
			<div class="welcomeText">
				Welcome
				<div>{{userNamee}}</div>
				{{role}}
			</div>
		</div>

		<div></div>
	</div>
	<div>
		<a style="margin-left: 2%" class="al-logo clearfix"
			ng-if="orgLogo != '' && orgLogo !=null"> <img
			ng-src="data:image/png;base64,{{orgLogo}}" width="100" height="40">
		</a>
	</div>
</div>