<app-container>
  <div class="flex-col contents clr-col clr-col-xl-10 clr-col-sm-12">
    <div class="head flex-row">
      <div class="title">
        <h3>Projects</h3>
      </div>
      <div class="options" style="padding-top: 10px;">
        <div>
          <div class="search flex-row" style="padding-top: 2px;">
            <clr-icon shape="search" style="margin-top: 6px;position: relative;transform: translatex(24px);"></clr-icon>
            <clr-input-container style="margin: 0 6px;">
              <input clrInput placeholder="search project" name="search-project" [(ngModel)]="searchBy"
                style="padding-left: 24px;" />
            </clr-input-container>
          </div>
          <button class="btn btn-link" [routerLink]="['./','new']">
            <clr-icon shape="add-text"></clr-icon>New Project
          </button>
        </div>
      </div>
    </div>
    <div class="main-content projects clr-row" *ngIf="projects$|async as projects">
      <div class="clr-col-lg-4 clr-col-md-6 clr-col-12" *ngFor="let project of projects | callback:projectsFilter">
        <div class="card">
          <div class="card-header">
            {{project.name}}
          </div>
          <div class="card-block">
            <div class="card-text">
              {{project.description}}
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-link" [routerLink]="['../' , project.id , 'dashboards']">DashBoards</button>
            <!-- <button class="btn btn-sm btn-link" (click)="showSettings(project)">Settings</button> -->
            <button class="btn btn-sm btn-link" (click)="showTeams(project)">Teams</button>
            <button class="btn btn-sm btn-link btn-warning" (click)="delete(project)">Delete</button>
            <!-- <clr-icon shape="file-settings"></clr-icon> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</app-container>

<clr-modal [clrModalOpen]="teamsProject && allTeams && allTeams.length"
  (clrModalOpenChange)="teamsProject = false;" [clrModalStaticBackdrop]="false"  [clrModalSize]="'md'">
  <span class="modal-title">Select Teams</span>
  <div class="modal-body flex-col" style="overflow: hidden;">
    <div class="flex-col team-selection-container full">
      <clr-datagrid *ngIf="allTeams && allTeams.length" class="data-grid" [(clrDgSelected)]="selectedTeams"
        [clrDgRowSelection]="true">
        <clr-dg-column>Team
          <clr-dg-string-filter [clrDgStringFilter]="teamNameFilter"></clr-dg-string-filter>
        </clr-dg-column>
        <clr-dg-row *clrDgItems="let team of allTeams" [clrDgItem]="team">
          <clr-dg-cell>{{ team.name }}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>{{allTeams.length}} Teams</clr-dg-footer>
      </clr-datagrid>
    </div>
  </div>
  <div class="modal-footer">    
    <button type="button" class="btn btn-outline" (click)="updateTeamsMapping(teamsProject)">Update</button>
</div>
</clr-modal>
