 <div class="popupbgimg col-md-12" style="margin-top:400px;">
<div class="row pie-charts " ng-controller="AdminCtrl">

<div class="headingDiv"     style="height: 40px">
 <label  class="custom-checkbox" style="font-weight:normal;    margin-top: 20px;
    margin-left: 2px;">Edit Details of Active users</label></div> 

<div class="col-md-12" ng-init="getActiveUsers()">
<table class="table table-striped" st-table="activeUsers" st-safe-src="rowCollection">
    <thead>
    <tr class="sortable">
   
      <th st-sort="userId" st-sort-default="true">User ID</th>
      <th st-sort="username">User Name</th>
 
      <th  >Deactivate</th>
       
      
    </tr>
    <tr>
 
      <th><input st-search="userId" placeholder="Search User ID" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="userName" placeholder="Search User Name" class="input-sm form-control search-input"
                 type="search"/></th>
       <th></th>
       
       
     
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="details in activeUsers">
    
      <td ng-model="userId">{{details.userId}}</td>
      <td ng-model="userName">{{details.userName}}</td>
      <!-- <td>{{item.environment}}</td> -->
      <td> <label class="custom-checkbox" style="margin-left:0px"><input  type="checkbox" ng-model="details.active"><span></span></label>
       </td>
      
      
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
 
</div>
 
  <button type="submit" class="btn btn-success" ng-click="inactivateUsers(activeUsers);reload()">Deactivate Users</button>
 
</div>

 
 </div>