<div class="popupbgimg modal-content" style="margin-top:400px;" ng-controller="AdminCtrl">
<div class="modal-header">
    <span style="font-size: 16px">Change Profile Pic</span>
    
    <!-- <a ng-click="cancel();">
	<img src="./assets/img/close.png" style="float:right;width: 10%" >
</a> -->
<button type="button" class="close" ng-click="cancel();$dismiss()" aria-label="closeed">
			<span aria-hidden="true"> x</span>
		</button> 
  </div>

  
<div class="modal-body">
      
  <form name="form" ng-submit="uploadUserImage()">

   	<label for="org" style="color:#fff;">Profile Pic</label>
   	<input class="form-control" type="file" ng-model="picFile" name="file" id="file" onchange="angular.element(this).scope().UploadResourceFile(this.files)" accept="image/x-png,image/gif,image/jpeg"> 

  <button type="submit" style="margin-left:20%; margin-top:10px;" class="btn btn-success">Upload</button>
  <button type="button" style="margin-left:5%; margin-bottom:-11px;" class="btn btn-danger" ng-click="cancel()">Cancel</button>
</form>
 
     </div>
     </div>