
<div class="popupbgimg modal-content" style="margin-top:150%;" ng-controller="LoginCtrl">
	<div class="modal-header">
		<!-- <a ng-click="cancel()"> <img src="./assets/img/close.png"
			style="float: right; margin-top: 2px; margin-right: 2px; height: 25px; width: 25px;">
		</a> -->
		<button type="button" class="close" ng-click="cancel();$dismiss()" aria-label="closeed">
			<span aria-hidden="true"> x</span>
		</button> 
		<div style="height: 40px">
			<label class="custom-checkbox"
				style="font-weight: normal; margin-top: 20px; margin-left: 5px;">Change
				Password</label>
		</div>
	</div>

		<div class="modal-body">

			<ng-form name="passchangeform" class="form-horizontal">
			 <div class="form-group">
                    <label class="col-sm-2 control-label" style="width: 150px; padding-right: 0px; padding-left: 5px; margin-left: 10px; color: black"
					for="oldPassword">Enter Current Password</label>
					<div class="col-sm-10">
                    <input type="password" class="form-control" id="oldpassword" autocomplete="off" name="oldPassword"
                        style="padding-right: 5px; padding-left: 5px; margin-left: 10px;"
                        ng-model="oldPassword" placeholder="Current Password" required>
                    </div>
                    
             </div>
                
			<div class="form-group">
				<label class="col-sm-2 control-label"
					style="width: 150px; padding-right: 0px; padding-left: 5px; margin-left: 10px; color: black"
					for="newPassword">Enter New Password</label>
				<div class="col-sm-10">
					<input class="form-control" id="newPassword" name="newPassword"
						style="padding-right: 5px; padding-left: 5px; margin-left: 10px;"
						type="password" placeholder="New Password" ng-model="newPassword"
						ng-model-options="{ updateOn: 'blur' }"
						ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$_@$!%*#?&])[A-Za-z\d$_@$!%*#?&]{8,20}$/"
						ng-required="true"> <span style="color: red"
						ng-show="passchangeform.newPassword.$error.required && passchangeform.newPassword.$dirty">password
						is required.</span> <span style="color: red; font-size: 14px;" id="demo"
						ng-show="passchangeform.newPassword.$error.pattern && passchangeform.newPassword.$dirty">Password
						should be at least 8 characters long and should contain one
						number,one uppercase,one lowercase and one special character</span> <br />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"
					style="width: 150px; padding-right: 0px; padding-left: 5px; margin-left: 10px; color: black"
					for="confirmnewpassword">Confirm New Password</label>
				<div class="col-sm-10">
					<input class="form-control" id="confirmnewpassword"
						style="padding-right: 5px; padding-left: 5px; margin-left: 10px;"
						type="password" placeholder="Confirm New Password"
						ng-model="confirmnewpassword" ng-required="true">
				</div>
			</div>
			<br>
			<div class="form-group">

				<button ng-disabled="passchangeform.$invalid" type="submit"
					class="btn btn-default btn-auth" style="float: right;  margin-right: 10px"
					ng-click="savenewpassword(oldPassword,newPassword,confirmnewpassword)">Save</button>
				<button class="btn btn-default btn-auth"
					style="float: right; margin-right: 15px;" ng-click="$dismiss()">Cancel</button>

			</div>
			</ng-form>

		</div>


</div>