<combo-chart-component *ngIf="barData && lineData && chartconfig" class="x-chart"
  [class.legend-down]="chartconfig?.legend && chartconfig.legendPositionDown" [scheme]="colorScheme" [colorSchemeLine]="colorScheme"
  [results]="barData" [lineChart]="lineData" [tooltipDisabled]="chartconfig.tooltipDisabled"
  [yAxisTickFormatting]="chartconfig.yLeftTickFormat" [yLeftAxisScaleFactor]="chartconfig.yLeftAxisScale"
  [yRightAxisScaleFactor]="chartconfig.yRightAxisScale" [yRightAxisTickFormatting]="chartconfig.yRightTickFormat"
  [gradient]="chartconfig.gradient" [xAxis]="chartconfig.xAxis" [yAxis]="chartconfig.yAxis"
  [legend]="chartconfig.legend" [legendPosition]="chartconfig?.legendPositionDown?'down':'right'" [legendTitle]="chartconfig.legendTitle"
  [showXAxisLabel]="chartconfig.showXAxisLabel" [showYAxisLabel]="chartconfig.showYAxisLabel"
  [xAxisLabel]="chartconfig.xAxisLabel" [yAxisLabel]="chartconfig.yAxisLabel"
  [showGridLines]="chartconfig.showGridLines" [showXAxisLabel]="chartconfig.showXAxisLabel"
  [showYAxisLabel]="chartconfig.showYAxisLabel" [showRightYAxisLabel]="chartconfig.showYAxisLabel"
  [yAxisLabelRight]="chartconfig.yAxisLabelRight">
</combo-chart-component>