<info-Dialog></info-Dialog>
<div class="widgets gridster" ng-controller="UserStoryCtrl">
	<!-- ng-init="initial(DomainVal,EnvVal,RelVal)" -->
	
		<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12" ba-panel
			ba-panel-title="User Story Test Case details"
			ba-panel-class="with-scroll">
			<div class="horizontal-scroll">
				<div ng-init="userStoryTestCaseTableData(1)"></div>
				<table class="table">
					<thead>  

						<tr class="sortable ">

							<th style="width: 10%" ng-click="sort('storyID',1)">Story ID
								<span class="glyphicon sort-icon" ng-show="sortBy=='storyID'"
								ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
							</span>
							</th>
							<th style="width: 15%" ng-click="sort('testID',1)">Test ID
								<span class="glyphicon sort-icon"
								ng-show="sortBy=='storyName'"
								ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
							</span>
							</th>
							<th style="width: 20%" ng-click="sort('Name',1)">Test Name
								<span class="glyphicon sort-icon"
								ng-show="sortBy=='description'"
								ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
							</span>
							</th>

							<th style="width: 10%" ng-click="sort('storyOwner',1)">Description
								<span class="glyphicon sort-icon"
								ng-show="sortBy=='storyOwner'"
								ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
							</span>
							<!-- </th>
							<th style="width: 10%" ng-click="sort('storyOwner',1)">Status
								<span class="glyphicon sort-icon"
								ng-show="sortBy=='storyOwner'"
								ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
							</span>
							</th>
							<th style="width: 10%" ng-click="sort('storyOwner',1)">Priority
								<span class="glyphicon sort-icon"
								ng-show="sortBy=='storyOwner'"
								ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
							</span>
							</th> -->
							
							<!-- <th style="width: 15%" ng-click="sort('storyCreationDate',1)">Created
								On <span class="glyphicon sort-icon"
								ng-show="sortBy=='storyCreationDate'"
								ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
							</span>
							</th>
							<th style="width: 15%" ng-click="sort('storyLastUpdateDate',1)">Modified
								On <span class="glyphicon sort-icon"
								ng-show="sortBy=='storyLastUpdateDate'"
								ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
							</span>
							</th> -->
							
							<th style="width: 15%" ng-click="sort('projectName',1)">Project
								<span class="glyphicon sort-icon"
								ng-show="sortBy=='projectName'"
								ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
							</span>
							</th>
							
							<!-- <th style="width:20%" ng-click="sort('status',1)">Status
      <span class="glyphicon sort-icon" ng-show="sortBy=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
      </span>
      </th>
      <th style="width:15%" ng-click="sort('priority',1)">Priority
      <span class="glyphicon sort-icon" ng-show="sortBy=='priority'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
    </span>
    </th>-->


	</tr>
		<tr>
		<th style="width:10%">
		<input class="form-control" ng-model="storyID" placeholder="Search" type="search" ng-change="searchTestCase(1,'storyID',storyID)" />	 			
		</th>
		
		<th style="width:15%">
		
		<input class="form-control" ng-model="testIDsearch" placeholder="Search" type="search" ng-change="searchTestCase(1,'testID',testIDsearch)" />		
		</th>
		
		<th style="width:15%">
		<input class="form-control" ng-model="testNamesearch" placeholder="Search" type="search" ng-change="searchTestCase(1,'testName',testNamesearch)" />		
		</th>
		
		<th style="width:20%">
		<input class="form-control" ng-model="descriptionsearch" placeholder="Search" type="search" ng-change="searchTestCase(1,'testDescription',descriptionsearch)" /> 		
		</th>
		<!-- <th style="width:15%">
		<input class="form-control" ng-model="statussearch" placeholder="Search" type="search" ng-change="search(1,'status',statussearch)" />		
		</th>
		<th style="width:10%">
		<input class="form-control" ng-model="prioritysearch" placeholder="Search" type="search" ng-change="searchTestCase(1,'priority', prioritysearch)" />		
		</th>
		<th style="width:15%">
	      <input class="form-control" ng-model="creationTimesearch" placeholder="Search" type="search" ng-change="searchdate(1,'testCreationDate',creationTimesearch)" />		
 		</th>
		<th style="width:15%">
	  	 <input class="form-control" ng-model="lastModifiedsearch" placeholder="Search" type="search" ng-change="searchdate(1,'testLastUpdateDate',lastModifiedsearch)" />		
		</th>
		 -->
		<th style="width:20%">
		<input class="form-control" ng-model="projectNamesearch" placeholder="Search" type="search" ng-change="searchTestCase(1,'projectName', projectNamesearch)" />		
		</th>
		
		</tr>	
					</thead>
					<tbody ng-init="initialTestCasecountpaginate()">

						<tr
							dir-paginate="item in userStoryTestCaseTableDetails |orderBy:sortBy:reverse|itemsPerPage: 5"
							total-items="reqdatapaginate" current-page="pageno"
							pagination-id="userStoryTestCasepaginate">
							<td style="width: 10%">{{item.storyID}}</td>
							<td style="width: 10%">{{item.testID}}</td>
							<td style="width: 10%">{{item.testName}}</td>
							<td style="width: 10%">{{item.testDescription}}</td>
							<!-- <td style="width: 10%">{{item.status}}</td>
							<td style="width: 10%">{{item.priority}}</td>
							
							<!-- <td style="width: 15%">{{item.testCreationDate |
								date:'MM-dd-yyyy'}}</td>
							<td style="width: 15%">{{item.testLastUpdateDate |
								date:'MM-dd-yyyy'}}</td>  -->
							<td style="width: 10%">{{item.projectName}}</td>
							<!-- <td style="width:20%">{{item.status}}</td>
      <td style="width:15%">{{item.priority}}</td>
     
      -->
						</tr>
					</tbody>

				</table>
				<dir-pagination-controls directions-links="true"
					pagination-id="userStoryTestCasepaginate" boundary-links="true"
					on-page-change="userStoryTestpageChangedLevel(newPageNumber)"></dir-pagination-controls>

			</div>
		</div>
	</div>

</div>



