.fab {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.fab.bottom {
  bottom: 30px;
}
.fab.top {
  top: 80px;
}
.fab.right {
  right: 30px;
}

:host /deep/ .fab .active-item {
  min-width: 2rem;
  min-height: 2rem;
  background: var(--main-theme-color);
  color: white;
  border-radius: 50%;  
  display: flex;
  justify-content: center;
  margin: 8% 0;
}

:host /deep/ .fab.link .active-item {
  min-width: 2rem;
  min-height: 1rem;
  border-radius: 2px;
  cursor: pointer;
  padding: 0 8px;
}
:host /deep/ .fab .active-item a:hover {
    color: white;
    transform: scale(1.1);
    transform-origin: center;
    text-decoration: none;
}
