<div class="container-full">
  <div class="login-wrapper">
    <form class="login">
      <section class="title">
        <h3 class="welcome">Create a New Account</h3>
      </section>
      <div class="login-group">
        <clr-select-container>
          <select clrSelect name="type" [(ngModel)]="form.type" disabled>
            <option value="ldap">LDAP</option>
            <option value="native">Native</option>
          </select>
        </clr-select-container>
        <clr-input-container>
          <input type="text" name="firstName" clrInput placeholder="First Name" [(ngModel)]="form.firstName" />
        </clr-input-container>
        <clr-input-container>
          <input type="text" name="lastName" clrInput placeholder="Last Name" [(ngModel)]="form.lastName" />
        </clr-input-container>
        <clr-input-container>
          <input type="email" name="email" clrInput placeholder="Email Id" [(ngModel)]="form.email" />
        </clr-input-container>
        <clr-password-container>
          <input type="password" name="password" minlength="8" clrPassword placeholder="Password"
            [(ngModel)]="form.password" />
        </clr-password-container>
        <div class="clr-form-control">
          <div class="clr-control-container" [class.clr-error]="form.password !== form.confirmPassword">
            <div class="clr-input-wrapper">
              <input class="clr-input" type="password" name="confirmPassword" minlength="8"
                placeholder="Confirm Password" [class.ng-invalid]="form.password !== form.confirmPassword"
                [(ngModel)]="form.confirmPassword" required />
              <div class="clr-validate-icon tooltip" style="margin-left: 2px;">
                <clr-icon shape="exclamation-circle" size="24"></clr-icon>
                <span class="error-message tooltip-content"> passwors does not match </span>
              </div>
            </div>
          </div>
        </div>
        <button (click)="createAccount()" class="btn btn-primary btn-login" style="margin-top: 2rem;"
          [disabled]="!form.email || !form.password || !form.confirmPassword">Create Account</button>
      </div>
    </form>
  </div>
</div>