<!DOCTYPE html>
<html lang="en" ng-app="MetricsPortal">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1 , maximum-scale=1, user-scalable=0">
<title>iDashboard</title>

<!-- build:css({.tmp/serve,src}) styles/app.css -->
<!-- inject:css -->
<link rel="stylesheet" href="lib/textAngular.css">
<link rel="stylesheet" href="lib/bootstrap.css">
<link rel="stylesheet" href="lib/ionicons.css">
<link rel="stylesheet" href="lib/font-awesome.css">
<link rel="stylesheet" href="lib/morris.css">
<link rel="stylesheet" href="lib/chartist.min.css">
<link rel="stylesheet" href="lib/chartist-plugin-tooltip.css">

<link rel="stylesheet" href="app/main.css">
<!-- endinject -->
<!-- endbuild -->
<body ng-controller="LoginCtrl" ng-init="licenseCheck();SessionData()">
	<!-- licenseCheck(); -->


	<div ng-if="aclockonwrongpassword || acLock" ng-include="'acLock.html'"></div>
	<div ng-if="passReset" ng-include="'app/Login/PasswordReset.html'"></div>
	<div ng-if="noLicenseMsg" ng-include="'licenseExpiredPage.html'"></div>
	<div
		ng-if="!loggedIn && !registration && !registereduser && !licenseExpiry && !noLicenseMsg && !passReset && !aclockonwrongpassword && !acLock"
		ng-include="'auth.html'"></div>
	<div ng-if="licenseExpiry" ng-include="'licenseExpiredPage.html'"></div>
	<div ng-if="registration && !loggedIn"
		ng-include="'app/Login/register.html'"></div>
	<div ng-if="registereduser && !loggedIn"
		ng-include="'app/Login/registeredUser.html'"></div>
	<div
		ng-if="active && !admin && !operational && !lifeCycle && !qbot && !customMetrics"
		ng-include="'app/Login/noAccessUser.html'"></div>

	<!--  <div class="body-bg"></div> -->
	<main ng-show="loggedIn " ng-if="$pageFinishedLoading"
		ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed()}">
		<ba-sidebar ng-show="menubar" ng-if="loggedIn"></ba-sidebar>
		<page-top
			ng-if="isAdmin || operational || lifeCycle || qbot || customMetrics"></page-top>

		<div ng-class="(menubar == false  ? 'al-mainnew' : 'al-main')">
			<div
				ng-class="(hidepagetop == true  ? 'al-slideshowcontent' : 'al-content')">
				<admin-top
					ng-show="(operational || lifecycle || qbot || customMetrics) && isAdmin "
					ng-class="(menubar == false  ? 'content-top-qbot' : 'content-top')"></admin-top>
				<admin-top
					ng-show="!isAdmin && (operational || lifecycle || qbot || customMetrics)"
					ng-class="(menubar == false  ? 'content-top-qbot' : 'content-top')"></admin-top>

				<admin-top
					ng-show="isAdmin && !operational && !lifecycle && !qbot && !customMetrics"
					ng-class="(menubar == false  ? 'content-top-qbot' : 'content-top')"></admin-top>


				<!--   <level-selection ng-if="operationaldrops"></level-selection>  -->

				<div ui-view autoscroll="true" autoscroll-body-top></div>


			</div>
		</div>

		<footer ng-show="menubar" class="al-footer clearfix">
			<!-- footer Image -->
			<div class="al-footer-left">
				<div class="al-copy">
					<img style="height: 25px; margin-top: 5px; margin-left: 34px;"
						src="assets/img/app/profile/footerlogo.png"">
				</div>
			</div>
			<!-- footer copyrights -->
			<div class="al-footer-right">

				© 2020 Cognizant. All rights reserved. Cognizant Confidential and/or
				Trade Secret. Click here for<a
					ng-href="https://www.cognizant.com/privacy-statement"
					target="_blank" Style="color: #4c4c4c"> Cognizant’s Privacy
					Statement </a>

			</div>
			<div class="al-footer-main clearfix"></div>
		</footer>
		<back-top></back-top>
	</main>

	<div id="preloader" ng-show="!$pageFinishedLoading">
		<div></div>
	</div>
	
	<div id="cover-spin" ng-show="dataloader"></div>

	<!-- build:js(src) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="lib/tableExport.js"></script>
	<script src="lib/fileSaver.min.js"></script>



	<script src="lib/angular.js"></script>
	<script src="app/app.js"></script>
	<script src="lib/jquery.js"></script>
	<script src="lib/jquery-ui.js"></script>
	<script src="lib/jstree.js"></script>
	<script src="lib/ngJsTree.js"></script>
	<script src="lib/angular-animate.js"></script>
	<script src="lib/jquery.shorten.1.0.js"></script>
	<script src="lib//jquery.easing.js"></script>
	<script src="lib/jquery.easypiechart.js"></script>

	<!-- AES lib -->
	
	<script src="lib/AES/aes.min.js"></script>
	<script src="lib/AES/pbkdf2.js"></script>
	<script src="lib/AES/gk.js"></script>
	
	<!--  -->

	<script src="lib/bootstrap.min.js"></script>
	<script src="lib/ui-bootstrap-tpls.js"></script>
	<script src="lib/angular-ui-router.js"></script>
	<script src="lib/angular-base64.min.js"></script>

	<script src="lib/angular-carousel.min.js"></script>
	<script src="lib/chartist.min.js"></script>
	<script src="lib/angular-chartist.js"></script>
	<script src="lib/chartist-plugin-legend.js"></script>
	<script src="lib/chartist-plugin-tooltip.js"></script>
	<script src="lib/chartist-plugin-tooltip.min.js"></script>
	<script src="lib/chartist-plugin-axistitle.js"></script>

	<script src="app/theme/theme.module.js"></script>
	<script src="app/theme/theme.run.js"></script>
	<script src="app/theme/theme.service.js"></script>
	<script src="app/theme/theme.constants.js"></script>
	<script src="app/theme/theme.config.js"></script>
	<script src="app/theme/theme.configProvider.js"></script>
	<script src="app/theme/directives/zoomIn.js"></script>
	<script src="app/theme/components/components.module.js"></script>

	<script src="app/theme/components/toastrLibConfig.js"></script>
	<script src="lib/angular-toastr.tpls.js"></script>

	<script src="lib/angular-drag-and-drop-lists.js"></script>

	<script src="app/theme/services/preloader.js"></script>
	<script src="app/theme/services/baUtil.js"></script>

	<script src="app/theme/components/baWizard/baWizard.directive.js"></script>
	<script
		src="app/theme/components/baWizard/operationalbaWizard.directive.js"></script>
	<script src="app/theme/components/baWizard/baWizardCtrl.js"></script>
	<script src="app/theme/components/baWizard/baWizardStep.directive.js"></script>
	<script
		src="app/theme/components/baWizard/operationalbaWizardStep.directive.js"></script>

	<script src="app/theme/filters/image/profilePicture.js"></script>

	<script src="lib/angular-cookies.min.js"></script>
	<script src="lib/ngStorage.min.js"></script>
	<script src="lib/angular-route.js"></script>
	<script src="lib/angular-idle.min.js"></script>

	<script src="lib/select.js"></script>

	<script src="lib/rangy-core.js"></script>
	<script src="lib/rangy-selectionsaverestore.js"></script>

	<script src="lib/textAngular.js"></script>
	<script src="lib/textAngular-sanitize.js"></script>
	<script src="lib/textAngularSetup.js"></script>


	<script src="lib/angular-local-storage.js"></script>



	<!-- -----------------------------------Start------------------------------------------- -->

	<!-- init -->

	<script src="app/pages.module.js"></script>

	<!-- ----------------------------------------------------------------------------------- -->


	<!-- ---------------------------------End-------------------------------------------------- -->


	<!-- -----------------------------------Start------------------------------------------- -->

	<!-- Login dependency -->


	<script src="app/Login/login.module.js"></script>
	<script src="app/Login/loginCtrl.js"></script>
	<script src="app/Login/RegCtrl.js"></script>
	<!-- ---------------------------------End-------------------------------------------------- -->

	<!-- -----------------------------------Start------------------------------------------- -->

	<!-- Admin dependency -->
	<script src="app/admin/admin.module.js"></script>
	<script src="app/admin/AdminCtrl.js"></script>
	<script
		src="app/admin/toolsConfiguration/alm/almToolConfigurationCtrl.js"></script>
	<script
		src="app/admin/toolsConfiguration/jira/jiraToolConfigurationCtrl.js"></script>
	<!-- <script src="app/admin/templateCustomization/templateCustomizationCtrl.js"></script> -->
	<script
		src="app/admin/lifecycleLayoutSelection/lifecycleLayoutSelectionCtrl.js"></script>

	<!-- ---------------------------------End-------------------------------------------------- -->
	<script src="lib/ocLazyLoad.min.js"></script>
	<script src="lib/angular-re-captcha.js"></script>

	<!-- -----------------------------------theme Start------------------------------------------- -->
	<script src="app/theme/components/contentTop/contentTop.directive.js"></script>
	<script src="app/theme/components/adminTop/adminTop.directive.js"></script>
	<script src="app/theme/components/pageTop/pageTop.directive.js"></script>
	<script src="app/theme/components/pageTop/PageTopCtrl.js"></script>
	<script src="app/theme/components/baSidebar/baSidebar.directive.js"></script>
	<script src="app/theme/components/baSidebar/baSidebar.service.js"></script>
	<script src="app/theme/components/baSidebar/BaSidebarCtrl.js"></script>
	<script src="app/theme/components/backTop/backTop.directive.js"></script>
	<script src="app/theme/components/backTop/lib/jquery.backTop.min.js"></script>


	<!-- ---------------------------------End-------------------------------------------------- -->



	<script src="app/Dashboard/dashboard.module.js"></script>
	<!-- <script src="app/pages/admin/admin.module.js"></script> -->

	<script src="app/Operational/Home/operational.module.js"></script>

	<script src="app/Operational/charts.module.js"></script>
	<script src="app/Operational/UserStories/userstories.module.js"></script>
	<script src="app/Operational/Defects/defects.module.js"></script>
	<script src="app/Operational/Requirements/requirements.module.js"></script>
	<script src="app/Operational/Design/testcases.module.js"></script>
	<script src="app/Operational/Execution/testexecution.module.js"></script>

	<!-- <script src="app/LifeCycle/LifeCycle.module.js"></script> -->
	<!-- <script src="app/LifeCycle/lifecycle/lifecycle.module.js"></script> -->
	<script src="app/SlideShow/SlideShow.module.js"></script>
	<!-- <script src="app/LifeCycle/lifecycle/codeRepo/codeRepo.module.js"></script> -->
	<script src="app/QBot/QBot.module.js"></script>
	<!-- <script src="app/pages/reportData/reportData.module.js"></script>
	<script src="app/pages/riskCompliance/riskCompliance.module.js"></script>
	<script src="app/pages/riskCompliance/riskComplianceCtrl.js"></script>-->
	<script src="app/Dashboard/dashboardPieChart.directive.js"></script>



	<script src="app/Operational/Execution/JiraTestExecutionCtrl.js"></script>
	<script src="app/Operational/Requirements/ReqAnalyzeCtrl.js"></script>
	<script src="app/Operational/Design/DesignAnalyzeCtrl.js"></script>
	<script src="app/Operational/Execution/ExecutionAnalyzeCtrl.js"></script>
	<script src="app/Operational/Defects/defectPopupDataCtrl.js"></script>

	<script
		src="app/theme/components/baSidebar/baSidebarHelpers.directive.js"></script>

	<script src="app/theme/components/baPanel/baPanel.directive.js"></script>
	<script src="app/theme/components/baPanel/baPanel.service.js"></script>

	<script src="lib/Chart.bundle.js"></script>
	<script src="lib/angular-chart.js"></script>

	<script src="lib/smart-table.js"></script>
	<script src="lib/angular-touch.js"></script>
	<script src="lib/raphael.min.js"></script>
	<script src="lib/morris.min.js"></script>
	<script src="lib/angular-morris-chart.min.js"></script>

	<script src="lib/dirPagination.js"></script>

	<!-- <script src="lib\plugins\export\libs\FileSaver.js"></script> -->

	<script src="lib/d3.js"></script>
	<script src="lib/crossfilter.js"></script>
	<script src="lib/dc.js"></script>
	<script src="lib/canvas-toBlob.js"></script>
	<script src="lib/Chart.PieceLabel.js"></script>
	
	<!-- -----------------------------------Start------------------------------------------- -->

	<!-- Lifecycle dependency -->
	
	<script src="app/LifeCycle/LifeCycle.module.js"></script>
	<script src="app/LifeCycle/Tools/lifecycleTool.module.js"></script>
	<script src="app/LifeCycle/dataFactories/code-analysis-data.js"></script>
	<script src="app/LifeCycle/dataFactories/build-data.js"></script>
	
	
	<!-- -----------------------------------End------------------------------------------- -->

	<!-- -----------------------------------Start------------------------------------------- -->

	<!-- Lifecycle dependency -->

	<script src="app/CustomMetrics/ReportData/reportData.module.js"></script>
	<script src="app/CustomMetrics/RiskCompliance/riskCompliance.module.js"></script>
	<script src="app/CustomMetrics/RiskCompliance/riskComplianceCtrl.js"></script>
	
	<!-- -----------------------------------End------------------------------------------- -->
</body>
<style>

</style>
</html>