<div>
  <div class="title">
    <h3 class="userTitle">Manage Options</h3>
  </div>
  <div class="footer" [class.scroll-active]="false" style="float: right;">
    <button type="button" class="btn btn-primary-outline" (click)="updateOptions($event);">Apply</button>
    <button type="button" class="btn btn-warning-outline" (click)="close($event);">Close</button>
  </div>
  <div class="parent">
    <clr-tabs>
      <clr-tab>
        <button clrTabLink>ID</button>
        <clr-tab-content>
          <form clrForm *ngIf="autoSuggest">
            <clr-input-container>
              <label class="userLabel">Auto Suggest Id</label>
              <input class="userInput" type="text" name="name" clrInput placeholder="Auto Suggest Id"
                [(ngModel)]="autoSuggest.id" [disabled]="!isNewAutoSuggest" />
            </clr-input-container>
          </form>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>Fields</button>
        <clr-tab-content *clrIfActive="!isNewAutoSuggest">
          <clr-datagrid *ngIf="fieldIds" class="user-grid" [clrDgSelected]="fieldSelected" [clrDgRowSelection]="true"
            (clrDgSelectedChange)="fieldSelectionChanged($event)">
            <clr-dg-column>Field<clr-dg-string-filter [clrDgStringFilter]='fieldFilter'></clr-dg-string-filter>
            </clr-dg-column>
            <clr-dg-row *clrDgItems="let field of fieldIds" [clrDgItem]="field">
              <clr-dg-cell>{{field.name}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>{{fieldIds.length}} Fields</clr-dg-footer>
          </clr-datagrid>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>Items</button>
        <clr-tab-content>
          <clr-datagrid *ngIf="items" class="user-grid">
            <clr-dg-column>Items
              <clr-dg-string-filter [clrDgStringFilter]='itemFilter'></clr-dg-string-filter>
              <span class="add-remove">
                <clr-icon shape="plus" class="add-item" title="Add Item" (click)="addItem()"></clr-icon>
              </span>
            </clr-dg-column>
            <clr-dg-row *clrDgItems="let item of items; let i = index" class="autoSuggestWidget">
              <clr-dg-cell>
                <h5 class="edit-item" *ngIf="item && item.name" [(text)]="item.name" charLength="150" appEditable>Item
                </h5>
                <span class="removeStage" (click)="deleteItem(i)">
                  <i class="close-icon fa fa-times" aria-hidden="true"></i>
                </span>
              </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>{{items.length}} Items</clr-dg-footer>
          </clr-datagrid>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
</div>