<div class="container-full">
  <div class="login-wrapper" *ngIf="newSession || !reloadWindow">
    <form class="login">
      <section class="title">
        <h3 class="welcome">Welcome to</h3>
        <img src="assets/logo.svg"/>
        <h5 class="hint">Use your Company ID to login.
          <div>Don't have a login?
            <a [routerLink]="['/signUp']">
              Create Account
            </a>
          </div>
        </h5>
      </section>
      <div class="login-group">
        <clr-select-container>
          <select clrSelect name="type" [(ngModel)]="form.type" >
            <option value="ldap">Ldap</option>
            <option value="native" selected>Native</option>
          </select> 
        </clr-select-container>
        <clr-input-container>
          <input type="text" name="username" clrInput [placeholder]="form.type=='native'?'Email Id':'User Id'" [(ngModel)]="form.username" />
        </clr-input-container>
        <clr-password-container>
          <input type="password" name="password" minlength="8" clrPassword placeholder="Password"
            [(ngModel)]="form.password" autocomplete="off" />
        </clr-password-container>
        <clr-checkbox-wrapper *ngIf="false">
          <label>Remember me</label>
          <input type="checkbox" name="rememberMe" clrCheckbox [(ngModel)]="form.rememberMe" />
        </clr-checkbox-wrapper>
        <div class="error" [class.active]="failedAttempt>0">
          Invalid user name or password
        </div>
        <button type="submit" class="btn btn-primary btn-login" (click)="login()"
          [disabled]="!form.username || !form.password">Login</button>
      </div>
    </form>
  </div>
  <footer class="footer">
    <p>
      © 2020 Cognizant® iDashboard. All rights reserved. Cognizant Confidential and/or Trade Secret.
       Click <b> <a href="https://www.cognizant.com/privacy-notice" target="_blank"><i>here</i></a></b> for Cognizant’s Privacy Statement  | Build # 3.0.0
    </p>
  </footer>
</div>