<div class="widgets gridster popupbgimg" style="margin-top: 300px;"
	ng-controller="ReqAnalyzeCtrl">
	<!-- <a ng-click="cancel()">
         <img src="./assets/img/close.png" style="float:right; margin-top: 15px; margin-right: 15px;" >
  </a> -->
	<!--  <button type="button" class="close" ng-click="cancel();$dismiss()"
		aria-label="closeed">
		<span aria-hidden="true"> x</span>
	</button>  -->

	<div class="modal-header" style="height: 40px;">
		<span style="font-size: 16px"> Analyse</span>

		<button type="button" style="margin-top: -17px;" class="close"
			ng-click="cancel();$dismiss()" aria-label="closeed">
			<span aria-hidden="true"> x</span>
		</button>
		<!-- <a
			ng-click="cancel();$dismiss();"> <img src="./assets/img/close.png"
			style="float: right; width: 10%">
		</a> -->
	</div>



	<div class="row pie-charts">

		<div>
			<table style="margin-top: 10px; marign-left: 2px;">
				<tr>

					<td>
						<div class="chart-wrapper1 levels" id="menuselect3"
							style="background-color: transparent; border-color: rgba(255, 255, 255, 0.4); color: rgba(255, 255, 255, 0.4); margin-left: 15px !important; height: 48px; border-radius: 3px; white-space: nowrap">
							<div class="chart-title">Priority</div>
						</div>
					</td>

					<td><div class="chart-wrapper1 levels" id="menuselect2"
							style="background-color: transparent; border-color: rgba(255, 255, 255, 0.4); color: rgba(255, 255, 255, 0.4); margin-left: 15px !important; height: 48px; border-radius: 3px; white-space: nowrap">
							<div class="chart-title">Type</div>
						</div></td>

					<td><div class="chart-wrapper1 levels" id="menuselect1"
							style="background-color: transparent; border-color: rgba(255, 255, 255, 0.4); color: rgba(255, 255, 255, 0.4); margin-left: 15px !important; height: 48px; border-radius: 3px; white-space: nowrap">
							<div class="chart-title">Status</div>
						</div></td>



					<td style="padding-top: 5%"><div
							class="dc-data-count dc-chart" id="row-selection">
							<span> <a
								href="javascript:dc.filterAll(); dc.renderAll();"><font
									style="margin-left: 15px !important; padding: 5px; border-radius: 3px; background: transparent; border: 1px solid rgb(255, 255, 255);"
									color="#4c4c4c">Reset All</font></a>
							</span>
						</div></td>
				</tr>
			</table>

		</div>


		<div class="pie-chart-item-container">
			<div ba-panel>
				<div class="pie-chart-item">


					<div class="pie-chart-item" id="total-requirements"
						style="font-size: 40px; text-align: center">
						<div
							style="margin-bottom: 20px; font-size: 15px; text-align: center">Total
							Req Count</div>
					</div>
					<!--    <div >
            <a ng-click="open('app/pages/charts/requirements/requirementsdata/reqcount.html')">
            <img src="app/pages/dashboard/infoDialog/info.png" width="20" height="20" style="float:right; margin-top:20px" ></a>
      </div>-->
				</div>
			</div>
		</div>
	</div>
	<div class="row with-scroll">
		<div class="col-lg-6 col-md-6" ba-panel
			ba-panel-title="Requirements by Status" ba-panel-class="with-scroll">
			<div id="status-chart" class=" "></div>

		</div>
		<div class="col-lg-6 col-md-6" ba-panel
			ba-panel-title="Requirements by Priority"
			ba-panel-class="with-scroll">
			<div id="priority-chart" class=" "></div>
		</div>
	</div>

	<div class="row with-scroll">
		<div class="col-lg-6 col-md-6" ba-panel
			ba-panel-title="Requirements by Type" ba-panel-class="with-scroll">
			<div id="type-chart" class=" "></div>
		</div>
	</div>
</div>