<info-Dialog></info-Dialog>
<div class="widgets gridster" ng-controller="RequirementsCtrl">


	<div class="row">
		<div class="form-group col-md-2" ng-init="gettimeperiod();">
			<label>Time Period:</label> <select
				style="outline: 0; background-color: rgba(87, 95, 118, 1)"
				name='timeperioddrop' id="timeperioddrop" class="form-control"
				ng-model="selectedtimeperioddrop"
				ng-options="timeperiodReqdrop for timeperiodReqdrop in timeperiodReqdrops"
				ng-change="gettimeperiodselection(selectedtimeperioddrop)" required>
				<option value="" disabled>Select Time Period</option>
			</select>
		</div>

		<div class="form-group col-md-2">
			<label>From:</label> <input style="width: 100%" type="date"
				ng-change="getfromdate(dtfrom | date:'MM/dd/yyyy')"
				class="form-control" uib-datepicker-popup="MM/dd/yyyy"
				datepicker-options="options" ng-model="dtfrom" is-open="opened1"
				ng-required="true" close-text="Close"
				alt-input-formats="altInputFormats" show-button-bar="false" />
		</div>

		<div class="form-group col-md-2" ng-init="">
			<label>To:</label> <input style="width: 100%" type="date"
				class="form-control"
				ng-change="gettodate(dtto | date:'MM/dd/yyyy');"
				uib-datepicker-popup="MM/dd/yyyy" datepicker-options="options"
				ng-model="dtto" is-open="opened2" ng-required="true"
				close-text="Close" alt-input-formats="altInputFormats"
				show-button-bar="false" />
		</div>
		<div class="form-group col-md-2" id="analyse" style="margin-top: 2%">
			<button type="button" data-toggle="modal"
				class="btn btn-default btn-raised"
				style="background: #1c3f5d; margin-bottom: 15px"
				ng-click="openpopup('lg')">Analyse More...</button>
		</div>

	</div>

	<div class="row pie-charts">
		<div class="pie-chart-item-container">
			<div ba-panel>
				<div class="pie-chart-item" id="totalreqlist">
					<div style="font-size: 15px; text-align: center"
						ng-init="totalReqcountFilter()">Total Requirements Count</div>
					<div class="description-stats"
						style="font-size: 40px; margin-top: 20px; text-align: center">{{totalreqcount}}</div>
					<div>
						<a
							ng-click="open('app/Operational/Requirements/reqcount.html','sm')">
							<!-- <img src="app/pages/dashboard/infoDialog/info.png" width="20" height="20" style="float:right" > -->
						</a>
					</div>

				</div>
			</div>
		</div>

		<div class="pie-chart-item-container">
			<div ba-panel>
				<div class="pie-chart-item" ng-init="ReqvoltilityFilter()">
					<div class="chart" id="reqvolafilter" rel="rgba(255,255,255,0.4)">
						<span class="percent"> </span>
					</div>

					<div class="">

						<div
							style="font-size: 15px; padding-top: 20px; padding-left: 100px !important;"
							class="description-stats">Requirement Volatility</div>
						<div class="description-stats"></div>

					</div>
					<div>
						<a
							ng-click="open('app/Operational/Requirements/reqvolatility.html','lg')">
							<img src="app/pages/dashboard/infoDialog/info.png" width="20"
							height="20" style="float: right; margin-top: 20px">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="pie-chart-item-container">
			<div ba-panel>
				<div class="pie-chart-item" id="reqLeakageLevel">
					<div style="font-size: 15px; text-align: center;"
						ng-init="ReqleakageFilter()">Requirement Leakage</div>
					<div class="description-stats"
						style="font-size: 40px; margin-top: 20px; text-align: center">{{reqleakagefilter}}</div>
					<div>
						<a
							ng-click="open('app/Operational/Requirements/reqleakage.html','lg')">
							<img src="app/pages/dashboard/infoDialog/info.png" width="20"
							height="20" style="float: right; margin-top: 20px">
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12" ba-panel-class="with-scroll">
		<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
			style="background-size: 1433px 915px; background-position: 0px -158px;">
			<div class="panel-heading clearfix">
				<h3 class="panel-title">
					Requirement Status Trend (Daily Status)
					<div uib-dropdown style="float: right;">
						<a id="exportThis" uib-dropdown-toggle> <i
							class="fa fa fa-bars"></i>
						</a>
						<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
							<li><i class="dropdown-arr"></i></li>
							<li><a href=""
								ng-click="downloadImg('png','dailystatus','Requirement_Status_Trend(Daily Status)')"><i
									class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
							<li><a href=""
								ng-click="downloadImg('jpeg','dailystatus','Requirement_Status_Trend(Daily Status)')"><i
									class="fa fa fa-area-chart"
									download="Requiremnt_Trend_Status.jpg"></i>Download JPEG</a></li>
						</ul>
					</div>
				</h3>
			</div>
			<div class="panel-body" style="padding-right: 0px;">
				<div
					ng-include="'app/Operational/Requirements/reqdailystatusChart.html'"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-md-12 col-sm-12" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">
						Requirements By Status
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','statuschart','Requirements By Status')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','statuschart','Requirements By Status')"><i
										class="fa fa fa-area-chart"></i>Download JPEG</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body" style="padding-right: 0px;">
					<div
						ng-include="'app/Operational/Requirements/reqstatusChart.html'"></div>
				</div>

			</div>
		</div>

		<div class="col-lg-6 col-md-12 col-sm-12" ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">
						Requirements By Priority
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadImg('png','prioritychart','Requirements By Priority')"><i
										class="fa fa fa-bar-chart-o"></i>Download PNG</a></li>
								<li><a href=""
									ng-click="downloadImg('jpeg','prioritychart','Requirements By Priority')"><i
										class="fa fa fa-area-chart"
										download="Requiremnt_Trend_Status.jpg"></i>Download JPEG</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body" style="padding-right: 0px;">
					<div
						ng-include="'app/Operational/Requirements/reqpriorityChart.html'"></div>
				</div>
			</div>
		</div>


	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12"
			ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">
						Requirement Details
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadTable('csv','reqTable','Requirement_Details')"><i
										class="ion-document"></i>Export in CSV</a></li>
								<li><a href=""
									ng-click="downloadTable('xls','reqTable','Requirement_Details')"><i
										class="ion-document-text"></i>Export in XLS</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body" style="padding-right: 0px;">
					<div class="horizontal-scroll">
						<div ng-init="reqTableData(1);initialReqcountpaginate();"></div>
						<table class="table">
							<thead>

								<tr class="sortable ">

									<th style="width: 12%" ng-click="sort('releaseName',1)">Release
										<span class="glyphicon sort-icon"
										ng-show="sortBy=='releaseName'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>
									<th style="width: 8%" ng-click="sort('reqID',1)">Req. ID <span
										class="glyphicon sort-icon" ng-show="sortBy=='reqID'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>
									<th style="width: 15%" ng-click="sort('reqName',1)">Name <span
										class="glyphicon sort-icon" ng-show="sortBy=='reqName'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>
									<th style="width: 25%" ng-click="sort('description',1)">Description
										<span class="glyphicon sort-icon"
										ng-show="sortBy=='description'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>
									<th style="width: 8%" ng-click="sort('reqType',1)">Type <span
										class="glyphicon sort-icon" ng-show="sortBy=='reqType'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>
									<th style="width: 8%" ng-click="sort('creationTime',1)">Created
										On <span class="glyphicon sort-icon"
										ng-show="sortBy=='creationTime'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>
									<th style="width: 8%" ng-click="sort('status',1)">Status <span
										class="glyphicon sort-icon" ng-show="sortBy=='status'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>
									<th style="width: 8%" ng-click="sort('priority',1)">Priority
										<span class="glyphicon sort-icon" ng-show="sortBy=='priority'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>
									<th style="width: 8%" ng-click="sort('lastModified',1)">Modified
										On <span class="glyphicon sort-icon"
										ng-show="sortBy=='lastModified'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>

								</tr>
								<tr>
									<th style="width: 12%"><input class="form-control"
										ng-model="releaseNamesearch" placeholder="Search"
										type="search"
										ng-change="search(1,'releaseName',releaseNamesearch)" /></th>
									<th style="width: 8%"></th>
									<th style="width: 15%"><input class="form-control"
										ng-model="reqNamesearch" placeholder="Search" type="search"
										ng-change="search(1,'reqName',reqNamesearch)" /></th>
									<th style="width: 25%"><input class="form-control"
										ng-model="descriptionsearch" placeholder="Search"
										type="search"
										ng-change="search(1,'description',descriptionsearch)" /></th>
									<th style="width: 8%"><input class="form-control"
										ng-model="reqTypesearch" placeholder="Search" type="search"
										ng-change="search(1,'reqType', reqTypesearch)" /></th>
									<th style="width: 8%">
										<!-- 		<input class="form-control" ng-model="creationTimesearch" placeholder="Search" type="search" ng-change="searchdate(1,'creationTime',creationTimesearch)" />		
 -->
									</th>
									<th style="width: 8%"><input class="form-control"
										ng-model="statussearch" placeholder="Search" type="search"
										ng-change="search(1,'status',statussearch)" /></th>
									<th style="width: 8%"><input class="form-control"
										ng-model="prioritysearch" placeholder="Search" type="search"
										ng-change="search(1,'priority',prioritysearch)" /></th>
									<th style="width: 8%">
										<!-- 		<input class="form-control" ng-model="lastModifiedsearch" placeholder="Search" type="search" ng-change="searchdate(1,'lastModified',lastModifiedsearch)" />		
 -->
									</th>
								</tr>
							</thead>
							<tbody>

								<tr
									dir-paginate="item in reqTableDetails|orderBy:sortBy:reverse|itemsPerPage: 5"
									total-items="reqdatapaginate" current-page="pageno"
									pagination-id="reqpaginate">
									<td style="width: 12%">{{item.releaseName}}</td>
									<td style="width: 8%">{{item.reqID}}</td>
									<td style="width: 15%" class="trim-info"
										title="{{item.reqName}}">{{item.reqName|limitTo:20}}{{item.reqName.length>20
										? '...' : ''}}</td>
									<td style="width: 25%" class="trim-info"
										title="{{item.description}}">{{htmlToPlaintext(item.description)|limitTo:35}}{{item.description.length>35
										? '...' : ''}}</td>
									<td style="width: 8%">{{item.reqType}}</td>
									<td style="width: 8%">{{item.creationTime |
										date:'MM-dd-yyyy'}}</td>
									<td style="width: 8%">{{item.status}}</td>
									<td style="width: 8%">{{item.priority}}</td>
									<td style="width: 8%">{{item.lastModified |
										date:'MM-dd-yyyy'}}</td>
								</tr>
							</tbody>

						</table>
						<dir-pagination-controls directions-links="true"
							pagination-id="reqpaginate" boundary-links="true"
							on-page-change="reqpageChangedLevel(newPageNumber)"></dir-pagination-controls>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div ng-init="downloadReqTableData(1);"></div> <!-- downloadReqTableData(1) -->
			<div ng-hide=true id="exportableTable">
				<table class="table" id="reqTable">
					<tr>
						<th>Release</th>
						<th>Req. ID</th>
						<th>Name</th>
						<th>Description</th>
						<th>Type</th>
						<th>Created On</th>
						<th>Status</th>
						<th>Priority</th>
						<th>Modified On</th>
					</tr>
					<tr ng-repeat="item in reqTableDetailsDownload">
						<td>{{item.releaseName}}</td>
						<td>{{item.reqID}}</td>
						<td>{{item.reqName}}</td>
						<td>{{htmlToPlaintext(item.description)| trimDesc}}</td>
						<td>{{item.reqType}}</td>
						<td>{{item.creationTime | date:'MM-dd-yyyy'}}</td>
						<td>{{item.status}}</td>
						<td>{{item.priority}}</td>
						<td>{{item.lastModified | date:'MM-dd-yyyy'}}</td>
					</tr>
				</table>
			</div>
		
	</div>

	<!-- <div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12"
			ba-panel-class="with-scroll">
			<div class="panel panel-blur" zoom-in="" ba-panel-blur=""
				style="background-size: 1433px 915px; background-position: 0px -158px;">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">
						Requirement Details
						<div uib-dropdown style="float: right;">
							<a id="exportThis" uib-dropdown-toggle> <i
								class="fa fa fa-bars"></i>
							</a>
							<ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
								<li><i class="dropdown-arr"></i></li>
								<li><a href=""
									ng-click="downloadTable('csv','reqTable','Requirement_Details')"><i
										class="ion-document"></i>Export in CSV</a></li>
								<li><a href=""
									ng-click="downloadTable('xls','reqTable','Requirement_Details')"><i
										class="ion-document-text"></i>Export in XLS</a></li>
							</ul>
						</div>
					</h3>
				</div>
				<div class="panel-body" style="padding-right: 0px;">
					<div class="horizontal-scroll">
						<div ng-init="reqTableData(1)"></div>
						<table class="table">
							<thead>

								<tr class="sortable ">

									<th style="width: 10%" ng-click="sort('reqID',1)">ID <span
										class="glyphicon sort-icon" ng-show="sortBy=='reqID'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>
									<th style="width: 15%" ng-click="sort('reqName',1)">Name <span
										class="glyphicon sort-icon" ng-show="sortBy=='reqName'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>
									<th style="width: 20%" ng-click="sort('description',1)">Description
										<span class="glyphicon sort-icon"
										ng-show="sortBy=='description'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>
									<th style="width: 10%" ng-click="sort('reqType',1)">Type <span
										class="glyphicon sort-icon" ng-show="sortBy=='reqType'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>
									<th style="width: 15%" ng-click="sort('creationTime',1)">Created
										On <span class="glyphicon sort-icon"
										ng-show="sortBy=='creationTime'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>
									<th style="width: 20%" ng-click="sort('status',1)">Status
										<span class="glyphicon sort-icon" ng-show="sortBy=='status'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>
									<th style="width: 15%" ng-click="sort('priority',1)">Priority
										<span class="glyphicon sort-icon" ng-show="sortBy=='priority'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>
									<th style="width: 15%" ng-click="sort('lastModified',1)">Modified
										On <span class="glyphicon sort-icon"
										ng-show="sortBy=='lastModified'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
									</span>
									</th>

								</tr>
								<tr>
									<th style="width: 10%"><input class="form-control"
										ng-model="reqIDsearch" placeholder="Search" type="search"
										onkeypress="return event.charCode > 47 && event.charCode < 58;"
										ng-change="asearch(1,'reqID',reqIDsearch)" /></th>
									<th style="width: 15%"><input class="form-control"
										ng-model="reqNamesearch" placeholder="Search" type="search"
										ng-change="asearch(1,'reqName',reqNamesearch)" /></th>
									<th style="width: 20%"><input class="form-control"
										ng-model="descriptionsearch" placeholder="Search"
										type="search"
										ng-change="asearch(1,'description',descriptionsearch)" /></th>
									<th style="width: 10%"><input class="form-control"
										ng-model="reqTypesearch" placeholder="Search" type="search"
										ng-change="asearch(1,'reqType', reqTypesearch)" /></th>
									<th style="width: 15%">
												<input class="form-control" ng-model="creationTimesearch" placeholder="Search" type="search" ng-change="searchdate(1,'creationTime',creationTimesearch)" />		

									</th>
									<th style="width: 20%"><input class="form-control"
										ng-model="statussearch" placeholder="Search" type="search"
										ng-change="asearch(1,'status',statussearch)" /></th>
									<th style="width: 15%"><input class="form-control"
										ng-model="prioritysearch" placeholder="Search" type="search"
										ng-change="asearch(1,'priority',prioritysearch)" /></th>
									<th style="width: 15%">
												<input class="form-control" ng-model="lastModifiedsearch" placeholder="Search" type="search" ng-change="searchdate(1,'lastModified',lastModifiedsearch)" />		

									</th>
								</tr>
							</thead>
							<tbody ng-init="initialReqAlmPaginate()">

								<tr
									dir-paginate="item in reqTableDetails|orderBy:sortBy:reverse|itemsPerPage: 5"
									total-items="reqdatapaginate" current-page="pageno"
									pagination-id="reqpaginate">
									<td style="width: 10%">{{item.reqID}}</td>
									<td style="width: 15%" class="trim-info"
										title="{{item.reqName}}">{{item.reqName|limitTo:10}}{{item.reqName.length>10
										? '...' : ''}}</td>
									<td style="width: 20%" class="trim-info"
										title="{{item.description}}">{{item.description|limitTo:25}}{{item.description.length>25
										? '...' : ''}}</td>
									<td style="width: 10%">{{item.reqType}}</td>
									<td style="width: 15%">{{item.creationTime |
										date:'MM-dd-yyyy'}}</td>
									<td style="width: 20%">{{item.status}}</td>
									<td style="width: 15%">{{item.priority}}</td>
									<td style="width: 15%">{{item.lastModified |
										date:'MM-dd-yyyy'}}</td>
								</tr>
							</tbody>

						</table>
						<dir-pagination-controls directions-links="true"
							pagination-id="reqpaginate" boundary-links="true"
							on-page-change="reqpageChangedLevel(newPageNumber)"></dir-pagination-controls>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div ng-init="downloadReqTableData(1)"></div>
		<div ng-hide=true id="exportableTable">
			<table class="table" id="reqTable">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>Type</th>
					<th>Created On</th>
					<th>Status</th>
					<th>Priority</th>
					<th>Modified On</th>
				</tr>
				<tr ng-repeat="item in reqTableDetailsDownload">
					<td>{{item.reqID}}</td>
					<td>{{item.reqName}}</td>
					<td>{{item.description | trimDesc}}</td>
					<td>{{item.reqType}}</td>
					<td>{{item.creationTime | date:'MM-dd-yyyy'}}</td>
					<td>{{item.status}}</td>
					<td>{{item.priority}}</td>
					<td>{{item.lastModified | date:'MM-dd-yyyy'}}</td>
				</tr>
			</table>
		</div>
	</div> -->

</div>

