<div class="aggregate flex-col" *ngIf="data && data.groups as groups">
    <div class="group flex-col" *ngFor="let group of groups; let gi = index;">
        <div class="title flex-row">
            <span class="name">Group {{gi+1}}</span>
            <span class="option" (click)="remove(gi,groups)" *ngIf="gi">
                <clr-icon shape="minus-circle" size="20"></clr-icon>
            </span>
            <span class="option" (click)="addGroup(gi,groups)">
                <clr-icon shape="plus-circle" size="20"></clr-icon>
            </span>
        </div>
        <div class="agg-fields flex-col">
            <clr-select-container class="opt flex-row" *ngIf="gi">
                <label style="margin: auto;" >Operator</label>
                <select class="use-clr-stylee" clrSelect placeholder="operator" [attr.name]="gi+'op'"
                    required [(ngModel)]="group.operator">
                    <option [value]="opt" *ngFor="let opt of operators;">{{opt}}</option>
                </select>
            </clr-select-container>
            <div class="agg-field flex-col" *ngFor="let agg of group.aggregates;let fi = index;">
                <div class="title flex-row">
                    <span class="name">Field {{fi+1}}</span>
                    <span class="option">
                        <leap-item-filters [(filters)]="agg.filters" 
                        [options]="filterOptions" (fieldChange)="onFiledSelected($event)">
                      </leap-item-filters>
                    </span>
                    <span class="option" (click)="remove(fi , group.aggregates)" *ngIf="fi">
                        <clr-icon shape="minus-circle" size="20"></clr-icon>
                    </span>
                    <span class="option" (click)="addField(fi , group.aggregates)">
                        <clr-icon shape="plus-circle" size="20"></clr-icon>
                    </span>
                </div>
                <div class="field-group flex-col">
                    <div class="fields flex-row">
                        <clr-select-container class="opt" *ngIf="fi">
                            <label class="clr-control-label">Operator</label>
                            <select class="use-clr-stylee" clrSelect placeholder="operator" [attr.name]="gi+'op'+fi"
                                required [(ngModel)]="agg.operator">
                                <option [value]="opt" *ngFor="let opt of operators;">{{opt}}</option>
                            </select>
                        </clr-select-container>
                        <clr-select-container class="opt">
                            <label class="clr-control-label">Agg. Type</label>
                            <select class="use-clr-stylee" clrSelect placeholder="aggregation"
                                [attr.name]="gi+'type'+fi" required [(ngModel)]="agg.type">
                                <option [value]="opt" *ngFor="let opt of aggTypes;">{{opt}}</option>
                            </select>
                        </clr-select-container>
                        <clr-select-container *ngIf="agg.type!=='CONSTANT'">
                            <label>Field</label>
                            <select class="use-clr-stylee" clrSelect placeholder="Agg.Field" name="agg-field" required
                                [(ngModel)]="agg.field" [attr.title]="agg.field">
                                <option [value]="opt.name" *ngFor="let opt of fields;let opIndex=i">
                                    {{opt.label}}</option>
                            </select>
                        </clr-select-container>
                        <clr-input-container class="flex-col" *ngIf="agg.type==='CONSTANT'">
                            <label>Value</label>
                            <input class="use-clr-stylee" placeholder="Value" name="cagg-onst-value" clrInput
                                type="number" required [(ngModel)]="agg.value">
                        </clr-input-container>
                    </div>
                    <div class="filters flex-row">                     
                        <!-- <leap-dash-filter-dropdown [data]="newFilterOptions" [options]="filterOptions"
                            (save)="addFilter($event,agg.filters)" (fieldChange)="onFiledSelected($event)">
                        </leap-dash-filter-dropdown>
                        <leap-dash-filter-dropdown *ngFor="let filter of agg.filters;let index=index;" [data]="filter"
                            [options]="filterOptions" [edit]="true" (clone)="addFilter($event,agg.filters)"
                            (save)="saveFilter($event,index,agg.filters)" (select)="setFilter(filter,index,$event)"
                            (remove)="removeFilter(filter,index,agg.filters);" (fieldChange)="onFiledSelected($event)">
                        </leap-dash-filter-dropdown> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>