.x-chart {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  &::ng-deep {
    ngx-charts-chart,
    .ngx-charts-outer {
      height: 100%;
      max-height: 100%;
      width: 100%;
      max-width: 100%;
    }
  }
}
.x-chart.legend-down {
  &::ng-deep {
    .ngx-charts-outer {
      display: flex;
      flex-direction: column;
    }

    .chart-legend .legend-labels {
      overflow-x: auto;
      li {
        display: inline-block;
      }
    }
  }
}

:host::ng-deep {
  .gauge .gauge-tick {
    path {
      stroke: var(--chart-text-color);
    }
    text {
      fill: var(--chart-text-color);
    }
  }
}
