<div class="widgets" ng-controller="LifeCycleDashboardCtrl">
<div  ba-panel-class="with-scroll" >
<form name="form" ng-submit=SaveProdDashboard(form) >
<div class="row">
<div class="form-group col-md-3" style="margin-left: 15px;" >
    <label for="dashboardName">Dashboard Name</label>
    <input type="input" class="form-control" id="releaseName" ng-model="form.relname" placeholder="Dashboard Name"  maxlength="20"required>
  </div>
    
<div class="form-group col-md-2" ng-init="getProductName(1)">
<label>Products</label>
<div style="width: 100%;outline: 0;" ng-dropdown-multiselect=""
	options="multiproducts" selected-model="selproduct"
	extra-settings="scrollsettings" events="myEventListenersproduct"></div>
</div>

<div class="form-group col-md-3"  style="padding-left: 0px">
		  <button type="submit" class="btn btn-success col-md-1 " style="margin-left: 10%;margin-top:7%;margin-right:6%;width:30%;float:left" ng-disabled="(selproduct.length < 1)">Save</button>
		  <button type="button" class="btn btn-danger col-md-1 " style="margin-left: 2%;margin-top:7%;width:30%;float: left" ng-click="cancel();$dismiss();">Cancel</button>
		  </div>


</div>
</form>

</div>


<!-- Saved Info Table Starts Here -->

<div style = "margin-left: 0%; margin-top: 1%;"   ng-init="getProductTableDetails()">
<div class="col-lg-12 col-md-12 col-sm-12" ba-panel  
			ba-panel-class="with-scroll" >
	
	<div>
   <div></div>
  <table class="table">
    <thead>
    <tr class="sortable">
    
    <th style="width:15%;font-weight:bold">Dashboard Name
    </th>
    <th style="width:15%;font-weight:bold">Product Name
    </th>
     <th style="width:15%;font-weight:bold">Sprint
     </th>
      <th style="width:15%;font-weight:bold">GitHub
     </th>
     <th  style="width:15%;font-weight:bold">Jenkins
     </th>
     <th  style="width:15%;font-weight:bold">Sonar
     </th>
     <th  style="width:25%;font-weight:bold">Defects and Execution
     </th>
     <th  style="width:25%;font-weight:bold">Deployment
     </th>
      
    </tr>
    </thead>
    <tbody >
    
   <tr ng-repeat="item in prodTabDet">
     <td style="width:15%" ng-model="item.releaseName">{{item.releaseName}}</td>
     <td style="width:15%" ng-model="item.productName" ><a ng-click="redirectDashboard(item.productName)">{{item.productName}}</a></td>
     <td style="width:15%" ng-model="item.sprint" >{{item.sprintIterations}} Iterations / {{item.sprintUserStories}} User Stories</td>
     <td style="width:15%;" ng-model="item.github" >{{item.gitCommits}} Commits / {{item.gitContributors}} Contributors</td>
	 <td style="width:15%;" ng-model="item.jenkins" >{{item.jenkinspasscount}} Success / {{item.jenkinsfailcount}} Failure</td>
	 <td style="width:15%" ng-model="item.sonar" >{{item.sonar}} Lines of code</td>
     <td style="width:25%" ng-model="item.defexe" >Defects - High Severity : {{item.defSevHigh}} Low Severity : {{item.defSevLow}}
     											   Execution - Pass : {{item.exeStatPass}} Fail : {{item.exeStatFail}}</td>
     <td style="width:25%" ng-model="item.owner" >
     QA - {{item.deploymentqapass}} Pass / {{item.deploymentqafail}} Fail
     DEV - {{item.deploymentdevpass}} Pass / {{item.deploymentdevfail}} Fail
     </td>
      
    </tr>
    </tbody>
  </table>
          
</div>
	</div>
	
</div>
<!-- Saved Info Table Ends Here -->

</div>

