
<div class="row pie-charts">



	<div class="pie-chart-item-container">
		<div ba-panel>
			<div class="pie-chart-item" id="codeRepo">

				<div style="font-size: 15px; text-align: center">
					<a href="#codeRepo" class="descriptionLink">Code Repository</a>
				</div>

				<!-- <div style="font-size: 15px; text-align: center"></div>
				<div class="description-stats"
					style="font-size: 30px; margin-top: 20px; text-align: center">10
				</div>

				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/technical_debt.html')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 20px">
					</a>
				</div> -->
			</div>
		</div>
	</div>

	<div class="pie-chart-item-container">
		<div ba-panel>
			<div class="pie-chart-item" id="CodeQuality">

				<div style="font-size: 15px; text-align: center">
					<a href="#codeanalysis" class="descriptionLink">Code Quality </a>
				</div>

				<!-- <div style="font-size: 15px; text-align: center"></div>
				<div class="description-stats"
					style="font-size: 30px; margin-top: 20px; text-align: center">372</div>

				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/technical_debt.html')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 20px">
					</a>
				</div> -->
			</div>
		</div>
	</div>

	<div class="pie-chart-item-container">
		<div ba-panel>
			<div class="pie-chart-item" id="build">

				<div style="font-size: 15px; text-align: center">

					<a href="#build" class="descriptionLink">Build</a>
				</div>

				<!-- <div style="font-size: 15px; text-align: center"></div>
				<div class="description-stats"
					style="font-size: 30px; margin-top: 20px; text-align: center">#25
					Feb 22</div>

				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/technical_debt.html')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 20px">
					</a>
				</div> -->
			</div>
		</div>
	</div>

	<div class="pie-chart-item-container">
		<div>
			<div id="Udeploy">



				<div ba-panel>
					<div class="pie-chart-item" id="build">
						<div style="font-size: 15px; text-align: center">Deploy</div>
					</div>

				</div>



				<!-- <div style="font-size: 15px; text-align: center"></div>
				<div class="description-stats"
					style="font-size: 30px; margin-top: 20px; text-align: center">Java
					Dev box</div>

				<div>
					<a
						ng-click="open('app/pages/dashboard/infoDialog/technical_debt.html')">
						<img src="app/pages/dashboard/infoDialog/info.png" width="20"
						height="20" style="float: right; margin-top: 20px">
					</a>
				</div> -->
			</div>
		</div>
	</div>



</div>

<div ng-include="'app/LifeCycle/lifecycle/build/buildData/buildData.html'"></div>
<!-- <div class="widgets">
	<div class="row">
		<div class="col-md-12" ba-panel ba-panel-title="build"
			ba-panel-class="with-scroll">

			<div
				ng-include="'app/LifeCycle/lifecycle/build/buildData/buildData.html'"></div>


		</div>
	</div>
	<div class="row">
		<div class="col-md-12" ba-panel ba-panel-title="Code Quality"
			ba-panel-class="with-scroll">


			<div
				ng-include="'app/LifeCycle/lifecycle/codeAnalysis/codeAnalysis.html'"></div>

		</div>
	</div>
</div> -->

