<div class="row" ng-controller="LifeCycleDashboardCtrl">
	<div class="row" id="createNew" style="margin-top: 1%; margin-bottom: 1%;">
	
		<!-- product dashboard -->	
		<a data-toggle="modal"
			style="float: none; margin-top: 2%; margin-left: 44%; margin-bottom: 1%; text-decoration: underline; font-size: 17px; color: #4c4c4c;"
			ng-click="createNewDashboard()">Create</a> 
			
			<!-- release Dashboard 
			<a data-toggle="modal"
			style="float: right; margin-right: 2%; margin-bottom: 1%; text-decoration: underline; font-size: 17px; color: #fff;"
			ng-click="createView()">Create</a> -->
	</div>

	<div class="row">
		<!-- <div class=" panel col-lg-6 col-md-6 col-sm-6">
			<div 
				ng-init="lifecycleDashboardDetails(1);initialcountofDetails()">
				<uib-tabset active="$tabSetStatus.activeTab"> Tab1
				<uib-tab heading="My Product Dashboards" active="activeTabIndex">

				<div class="col-lg-6 col-md-6 col-sm-6" ba-panel
				ba-panel-title="" ba-panel-class="with-scroll">


				<div class="tab-content">
					<table class="table">
						<thead>
							<tr class="sortable">

								<th style="width: 25%; font-weight: bold">Dashboard Name</th>
								<th style="width: 35%; font-weight: bold">Description</th>
								<th style="width: 15%; font-weight: bold">Owner</th>
								<th style="width: 25%; font-weight: bold">Delete</th>

							</tr>
						</thead>
						<tbody>

							<tr
								dir-paginate="item in lifecycleDashboardTableDetails | itemsPerPage: 5"
								total-items="detailsCount">
								<td style="width: 25%"><a style="color: #58d68d"
									ng-model="item.dashboardName" ng-click="changeRoute(item)">{{item.dashboardName}}</a></td>
								<td style="width: 35%" ng-model="item.description">{{item.description}}</td>
								<td style="width: 15%" ng-model="item.owner">{{item.owner}}</td>

								<td style="width: 25%;"><a
									style="color: #EB6F6F; margin-left: 5%"
									ng-click="deleteDashboard(item)" class="ion-trash-b"></a></td>

							</tr>
						</tbody>
					</table>
					<dir-pagination-controls directions-links="true"
						boundary-links="true"
						on-page-change="pageChangedLevel(newPageNumber)"></dir-pagination-controls>

				</div>

				</div> </uib-tab> 
				
				Tab2 <uib-tab> 
				
				<uib-tab heading="Public Product Dashboards" active="activeTabIndex">

				<div class="col-lg-6 col-md-6 col-sm-6" ba-panel
				ba-panel-title="" ba-panel-class="with-scroll">

<div ba-panel
				ba-panel-title=""
				ba-panel-class="with-scroll">

				<div class="tab-content">
					<table class="table">
						<thead>
							<tr class="sortable">

								<th style="width: 25%; font-weight: bold">Dashboard Name</th>
								<th style="width: 35%; font-weight: bold">Description</th>
								<th style="width: 15%; font-weight: bold">Owner</th>
								

							</tr>
						</thead>
						<tbody>

							<tr
								dir-paginate="item in lifecycleDashboardTableDetails | itemsPerPage: 5"
								total-items="detailsCount">
								<td style="width: 25%"><a style="color: #58d68d"
									ng-model="item.dashboardName" ng-click="changeRoute(item)">{{item.dashboardName}}</a></td>
								<td style="width: 35%" ng-model="item.description">{{item.description}}</td>
								<td style="width: 15%" ng-model="item.owner">{{item.owner}}</td>

								<td style="width: 25%;"><a
									style="color: #EB6F6F; margin-left: 5%"
									ng-click="deleteDashboard(item)" class="ion-trash-b"></a></td>

							</tr>
						</tbody>
					</table>
					<dir-pagination-controls directions-links="true"
						boundary-links="true"
						on-page-change="pageChangedLevel(newPageNumber)"></dir-pagination-controls>

				</div>
				</div>

				</div> </uib-tab>
				
				
				
				 </uib-tabset>
			</div>
		</div> -->
		
		<div class="panel col-lg-6 col-md-6 col-sm-6" ng-init="lifecycleDashboardDetails(1);initialcountofDetails()">
			<uib-tabset active="$tabSetStatus.activeTab"> <uib-tab
				heading="My Product Dashboards" active="activeTabIndex">
			<div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
				<div class="tab-content">
					<table class="table">
						<thead>
							<tr class="sortable">

								<th style="width: 25%; font-weight: bold">Dashboard Name</th>
								<th style="width: 35%; font-weight: bold">Description</th>
								<!-- <th style="width: 15%; font-weight: bold">Owner</th> -->
								<th style="width: 25%; font-weight: bold">Delete</th>

							</tr>
						</thead>
						<tbody>

							<tr
								dir-paginate="item in lifecycleDashboardTableDetails | itemsPerPage: 5"
								total-items="detailsCount">
								<td style="width: 25%"><a style="color: #58d68d"
									ng-model="item.dashboardName" ng-click="changeRoute(item,'my')">{{item.dashboardName}}</a></td>
								<td style="width: 35%" ng-model="item.description">{{item.description}}</td>
								<!-- <td style="width: 15%" ng-model="item.owner">{{item.owner}}</td> -->

								<td style="width: 25%;"><a
									style="color: #EB6F6F; margin-left: 5%"
									ng-click="deleteDashboard(item)" class="ion-trash-b"> Delete</a></td>

							</tr>
						</tbody>
					</table>
					 <dir-pagination-controls directions-links="true"
						boundary-links="true"
						on-page-change="pageChangedLevel(newPageNumber)"></dir-pagination-controls>

				</div>

			</div>

			</uib-tab> 
			
			<uib-tab heading="Public Product Dashboard" id="publictab" active="activeTabIndex">
			
			<div ba-panel
				ba-panel-title=""
				ba-panel-class="with-scroll"> <!-- ng-init=" operationalDashboardpublicDetails(1);initialcountofpublicDetails()" -->

				<div class="tab-content">
				
				    <table class="table" ng-if="detailspublicCount == '0'">
				        <tr>
				          <td>No Public Product Dashboards Avaliable</td>
				        </tr>
				    </table>
				    
					<table class="table" ng-if="detailspublicCount != '0'">
						  
						<thead>
							<tr class="sortable">

								<th style="width: 25%; font-weight: bold">Dashboard Name</th>
								<th style="width: 35%; font-weight: bold">Description</th>
								<th style="width: 15%; font-weight: bold">Owner</th>
								
												</tr>
						</thead>
						<tbody>

							<tr
								dir-paginate="item in lifecycleDashboardTablepublicDetails | itemsPerPage: 5"
								total-items="detailspublicCount">
								<td style="width: 25%"><a style="color: #58d68d"
									ng-model="item.dashboardName" ng-click="changeRoute(item,'public')">{{item.dashboardName}}</a></td>
								<td style="width: 35%" ng-model="item.description">{{item.description}}</td>
								<td style="width: 15%" ng-model="item.owner">{{item.owner}}</td>

								<!-- <td style="width: 25%;"><a
									style="color: #EB6F6F; margin-left: 5%"
									ng-click="deleteDashboard(item)" class="ion-trash-b"></a></td> -->

							</tr>
						</tbody>
					</table>
					 <dir-pagination-controls directions-links="true"
						boundary-links="true"
						on-page-change="pageChangedLevelpublic(newPageNumber)"></dir-pagination-controls>

				</div>

			</div>
			
			</uib-tab> 
			</uib-tabset>
		</div>
	</div>
	<div class="row" id="createNew"
		style="margin-top: 1%; margin-bottom: 1%;">
		<a data-toggle="modal"
			style="float: none; margin-top: 2%; margin-left: 44%; margin-bottom: 5%; text-decoration: underline; font-size: 17px; color: #4c4c4c;"
			ng-click="createKpiView()">Create</a>
	</div>
	<div class="row">
	<div class="panel col-lg-6 col-md-6 col-sm-6" ng-init="initialkpicountofDetails();">
			<uib-tabset active="$tabSetStatus.activeTab"> <uib-tab
				heading="My DEVOPS KPI Dashboard" active="activeTabIndex">
			<div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
				<div class="tab-content">
					<table class="table"
						>
						<thead>
							<tr class="sortable">

								<th style="width: 50%; font-weight: bold">DEVOPS Dashboard
								Name</th>
							<th style="width: 25%; font-weight: bold">Product Info</th>

							<th style="width: 25%; font-weight: bold">Delete</th>

							</tr>
						</thead>
						<tbody>

							<tr ng-repeat="item in kpiTabInfo">
							<td style="width: 50%"><a ng-click="kpiView(item.relName,'my')">{{item.relName}}</a></td>
							<td style="width: 25%;"><a
								ng-click="openpopup('app/pages/operational/kpiInfo.html', 'sm', item.relName, item.owner)">
									<img src="app/pages/dashboard/infoDialog/info.png" width="20"
									height="20">
							</a></td>
							<td style="width: 25%;"><a
								style="color: #EB6F6F; margin-left: 5%"
								ng-click="deleteKpiDashboard(item._id)" class="ion-trash-b"> Delete</a></td>

						</tr>
						</tbody>
					</table>
					 <dir-pagination-controls directions-links="true"
						boundary-links="true"
						on-page-change="pageChangedLevel(newPageNumber)"></dir-pagination-controls>

				</div>

			</div>

			</uib-tab> 
			
			<uib-tab heading="Public DEVOPS KPI Dashboard" id="publictab" active="activeTabIndex">
			
			<div ba-panel
				ba-panel-title=""
				ba-panel-class="with-scroll"> <!-- ng-init=" operationalDashboardpublicDetails(1);initialcountofpublicDetails()" -->

				<div class="tab-content">
				
				    <table class="table" ng-if="kpidetailspublicCount == '0'">
				        <tr>
				          <td>No Public DEVOPS KPI Dashboard</td>
				        </tr>
				    </table>
				    
					<table class="table" ng-if="kpidetailspublicCount != '0'">
						  
						<thead>
							<tr class="sortable">

								<th style="width: 50%; font-weight: bold">DEVOPS Dashboard
								Name</th>
							<th style="width: 25%; font-weight: bold">Product Info</th>

							<!-- <th style="width: 25%; font-weight: bold">Delete</th>
								
												</tr> -->
						</thead>
						<tbody>

							<tr ng-repeat="item in kpipublicTabInfo">
							<td style="width: 50%"><a ng-click="kpiView(item.relName,'public')">{{item.relName}}</a></td>
							<td style="width: 25%;"><a
								ng-click="openpopup('app/pages/operational/kpiInfo.html', 'sm', item.relName, item.owner)">
									<img src="app/pages/dashboard/infoDialog/info.png" width="20"
									height="20">
							</a></td>
							<!-- <td style="width: 25%;"><a
								style="color: #EB6F6F; margin-left: 5%"
								ng-click="deleteKpiDashboard(item._id)" class="ion-trash-b"></a></td> -->

						</tr>
						</tbody>
					</table>
					 <dir-pagination-controls directions-links="true"
						boundary-links="true"
						on-page-change="pageChangedLevelpublic(newPageNumber)"></dir-pagination-controls>

				</div>

			</div>
			
			</uib-tab> 
			</uib-tabset>
		</div>
	</div>

</div>