<!DOCTYPE html>
<html lang="en">
<head>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.js"></script>
</head>
<body>
	<div class="widgets" ng-controller="KpiDashboardCtrl"
		ng-init="getMetricList();">
		<div ba-panel-class="with-scroll">
			<form name="form" ng-submit=updateKpiDashboard(form)>
				<div class="row"  ng-show="kpihead">
					<div class="form-group col-md-2" style="margin-left: 2%;">
						<label for="dashboardName">Release Name</label> <input
							type="input" class="form-control" id="releaseName"
							ng-model="form.relname" ng-init="form.relname=selected"
							placeholder="Release Name" required>
					</div>

					<div class="form-group col-md-2"
						ng-init="updateKpiTableDetails();getProductName(1);getispublicdashboard()">
						<label>Products</label>
						<div style="width: 100%" ng-dropdown-multiselect=""
							options="multiproducts" selected-model="upselproducts"
							extra-settings="scrollsettings"
							events="myEventUpListenersproduct"></div>

					</div>

					<div class="form-group col-md-2" ng-init="getRelStartDate()" style="margin-left:-7%">
						<label>Release Start Date:</label> <input style="width: 100%"
							type="date" ng-change="getfromdate(fromdt | date:'MM/dd/yyyy')"
							class="form-control" uib-datepicker-popup="MM/dd/yyyy"
							datepicker-options="fromoptions" ng-model="fromdt"
							is-open="opened1" ng-required="true" close-text="Close"
							alt-input-formats="altInputFormats" show-button-bar="false" />
					</div>

					<div class="form-group col-md-2" ng-init="getRelEndDate()">
						<label>Release End Date:</label> <input style="width: 100%"
							type="date" ng-change="gettodate(todt | date:'MM/dd/yyyy');"
							class="form-control" uib-datepicker-popup="MM/dd/yyyy"
							datepicker-options="fromoptions" ng-model="todt"
							is-open="opened1" ng-required="true" close-text="Close"
							alt-input-formats="altInputFormats" show-button-bar="false" />
					</div>
					
					<div class="form-group col-md-2">
					<input type="checkbox" id="chkpublic" name="chkpublic"
						value="option3" ng-model="form.kpiispublic"
						ng-init="form.kpiispublic=kpiisdashboardpublic"
						class="ng-pristine ng-untouched ng-valid ng-empty"
						style="margin-top: 12%; margin-right: 2%; width: 8%; float: left">
					<span
						style="margin-top: 12%; margin-right: 4%; width: 50%; float: left;color:#000;">View
						as public</span>
				</div>

					<div class="form-group col-md-2" style="padding-left: 0px">
						<button type="submit" class="btn btn-success col-md-1 "
							style="margin-left: 10%; margin-top: 7%; margin-right: 6%; width: 40%; float: left">Save</button>
						<button type="button" class="btn btn-danger col-md-1 "
							style="margin-left: 2%; margin-top: 7%; width: 40%; float: left"
							ng-click="cancel();$dismiss();">Cancel</button>
					</div>
				</div>
			</form>
			<br>

		</div>
		<div class="row pie-charts" ng-init="getKpiMetrics()"
			style="margin-left: 1%; margin-right: 1%">
			<div ng-if="sprCount == 'true'" class="pie-chart-item-container">
				<div ba-panel>
					<div class="pie-chart-item" id="sprintCount">
						<div style="font-size: 15px; text-align: center">Sprints
							Completed</div>
						<div class="description-stats"
							style="font-size: 40px; margin-top: 20px; text-align: center">{{sprintCount}}</div>

					</div>
				</div>
			</div>
			<div ng-if="usCount == 'true'" class="pie-chart-item-container">

				<!-- <div ba-panel style="margin-top: 20px; width:250px"> -->
				<div ba-panel>
					<div class="pie-chart-item" id="sprintCount">
						<div style="font-size: 15px; text-align: center">Active User
							Stories</div>
						<div class="description-stats"
							style="font-size: 40px; margin-top: 20px; text-align: center">{{userStoryCount}}</div>

					</div>
				</div>
			</div>

			<div ng-if="comCount == 'true'" class="pie-chart-item-container">
				<div ba-panel>
					<div class="pie-chart-item" id="commitCount">
						<div style="font-size: 15px; text-align: center">Total Commits</div>
						<div class="description-stats"
							style="font-size: 40px; margin-top: 20px; text-align: center">{{commitCount}}</div>
					</div>
				</div>
			</div>

			<div ng-if="contCount == 'true'" class="pie-chart-item-container">
				<div ba-panel>
					<div class="pie-chart-item" id="contributorCount">
						<div style="font-size: 15px; text-align: center">Total
							Contributors</div>
						<div class="description-stats"
							style="font-size: 40px; margin-top: 20px; text-align: center">{{contributorCount}}</div>
					</div>
				</div>
			</div>

			<div ng-if="locCount == 'true'" class="pie-chart-item-container">
				<div ba-panel>
					<div class="pie-chart-item" id="linesCode">
						<div style="font-size: 15px; text-align: center">Total Lines
							of Code</div>
						<div class="description-stats"
							style="font-size: 40px; margin-top: 20px; text-align: center">{{linesCode}}</div>
					</div>
				</div>
			</div>


			<div ng-if="defCount == 'true'" class="pie-chart-item-container">

				<div ba-panel>
					<div class="pie-chart-item" id="defectsCount">
						<div style="font-size: 15px; text-align: center">Total Defects</div>
						<div class="description-stats"
							style="font-size: 40px; margin-top: 20px; text-align: center">{{defectsCount}}</div>

					</div>
				</div>
			</div>
			<div ng-if="exeCount == 'true'" class="pie-chart-item-container">

				<div ba-panel>
					<div class="pie-chart-item" id="defectsCount">
						<div style="font-size: 15px; text-align: center">Test Executions</div>
						<div class="description-stats"
							style="font-size: 40px; margin-top: 20px; text-align: center">{{execPassPercent}}</div>

					</div>
				</div>
			</div>

			<div ng-if="envCount == 'true'" class="pie-chart-item-container">
				<div ba-panel>
					<div class="pie-chart-item" id="environments">
						<div style="font-size: 15px; text-align: center">Deployed
							Environments</div>

						<div
							style="font-size: 13px; margin-top: 10px; margin-left: 15px; text-align: center">QA
							: {{qaCountPass}} Pass/ {{qaCountFail}} Fail</div>
						<div
							style="font-size: 13px; margin-top: 10px; margin-left: 15px; text-align: center">DEV
							: {{devCountPass}} Pass/ {{devCountFail}} Fail</div>
					</div>
				</div>
			</div>


			<div ng-if="depCount == 'true'" class="pie-chart-item-container">
				<div ba-panel>
					<div class="pie-chart-item" id="deploymentCount">
						<div style="font-size: 15px; text-align: center">Deployment
							Status</div>
						<div
							style="font-size: 14px; margin-top: 10px; margin-left: 15px; text-align: center">
							Success Count - {{passcount}}</div>
						<div
							style="font-size: 13px; margin-top: 10px; margin-left: 15px; text-align: center">
							Failure Count - {{failcount}}</div>

					</div>
				</div>
			</div>

			<div ng-if="testPassCount == 'true'" class="pie-chart-item-container">
				<div ba-panel>
					<div class="pie-chart-item" id="deploymentSize">
						<div style="font-size: 15px; text-align: center">Automated
							Test Pass %</div>
						<div class="description-stats"
							style="font-size: 40px; margin-top: 20px; text-align: center">{{autoTestPassPer}}</div>

					</div>
				</div>
			</div>
			<div ng-if="slaCount == 'true'" class="pie-chart-item-container">
				<div ba-panel>
					<div class="pie-chart-item" id="incidentresolvedsla"
						ng-init="getIncidentResolvedSLA()">
						<div style="font-size: 15px; text-align: center">Incident
							Resolved with SLA</div>
						<div class="description-stats"
							style="font-size: 40px; margin-top: 20px; text-align: center">{{slaIncidentResolved}}</div>

					</div>
				</div>
			</div>
			<div ng-if="depSizeCount == 'true'" class="pie-chart-item-container">
				<div ba-panel>
					<div class="pie-chart-item" id="deploymentSize">
						<div style="font-size: 15px; text-align: center">Deployment
							Size</div>
						<div class="description-stats"
							style="font-size: 40px; margin-top: 20px; text-align: center">{{totDeploymentSize}}</div>

					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-left: 1%; margin-right: 1%">
			<div ng-if="depSpeedCount == 'true'" ba-panel
				style="margin-left: 1%; margin-right: 1%">
				<h3 class="panel-title" style="font-size: 20px;">Successful
					Deployment Speed</h3>
				<div class="row pie-charts">
					<div class="pie-chart-item-container">

						<div class="chart"
							style="width: 200px; height: 120px; margin-top: 10px; float: left"
							ng-init="getDepSpeedMax()" id="maxgauge"
							rel="rgba(255,255,255,0.4)"></div>
						<div class="">
							<div class="pie-chart-item"
								style="width: 225px; font-size: 13px; float: left;">MAX
								time taken for successful Deployment (today)</div>
						</div>
					</div>
					<div class="pie-chart-item-container">

						<div class="chart"
							style="width: 200px; height: 120px; margin-top: 10px; float: left"
							ng-init="getDepSpeedMin()" id="mingauge"
							rel="rgba(255,255,255,0.4)"></div>
						<div class="">
							<div class="pie-chart-item"
								style="width: 225px; font-size: 13px; float: left;">MIN
								time taken for successful Deployment (today)</div>
						</div>
					</div>

					<div class="pie-chart-item-container">

						<div class="chart"
							style="width: 200px; height: 120px; margin-top: 10px; float: left"
							ng-init="getDepSpeedAvg()" id="avggauge"
							rel="rgba(255,255,255,0.4)"></div>
						<div class="">
							<div class="pie-chart-item"
								style="width: 225px; font-size: 13px; float: left;">AVERAGE
								time taken for successful Deployment (today)</div>
						</div>
					</div>

					<div class="pie-chart-item-container">

						<div class="chart"
							style="width: 200px; height: 120px; margin-top: 10px; float: left"
							ng-init="getDepSpeedAvgWeekly()" id="weeklyavggauge"
							rel="rgba(255,255,255,0.4)"></div>
						<div class="">
							<div class="pie-chart-item"
								style="width: 225px; font-size: 13px; float: left;">AVERAGE
								time taken for successful Deployment (Last 7 days)</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="row" style="margin-left: 1%; margin-right: 1%">
			<div ng-if="depVolCount == 'true'"
				class="col-lg-6 col-md-12 col-sm-12" ba-panel-class="with-scroll">
				<div ba-panel>
					<h3 class="panel-title" style="font-size: 20px;">Deployment
						Volume</h3>
					<div class="row pie-charts">
						<div class="pie-chart-item-container" style="width: 50%">

							<div ba-panel style="margin-top: 20px;">
								<div class="pie-chart-item" id="totDeployment">
									<div style="font-size: 15px; text-align: center">Deployments
										(today)</div>
									<div class="description-stats"
										style="font-size: 40px; margin-top: 20px; text-align: center">{{totDeployment}}</div>

								</div>
							</div>

						</div>

						<div class="pie-chart-item-container" style="width: 50%">

							<div ba-panel style="margin-top: 20px;">
								<div class="pie-chart-item" id="totDeploymentWeekly">
									<div style="font-size: 15px; text-align: center">Deployments
										(Last 7 days)</div>
									<div class="description-stats"
										style="font-size: 40px; margin-top: 20px; text-align: center">{{totDeploymentWeekly}}</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="depFailCount == 'true'"
				class="col-lg-6 col-md-12 col-sm-12" ba-panel-class="with-scroll">
				<div ba-panel>

					<h3 class="panel-title" style="font-size: 20px;">Deployment
						Failure</h3>
					<div class="row pie-charts">
						<div class="pie-chart-item-container" style="width: 50%">

							<div ba-panel style="margin-top: 20px;">
								<div class="pie-chart-item" id="totDeploymentFailure">
									<div style="font-size: 15px; text-align: center">Failed
										Deployments (today)</div>
									<div class="description-stats"
										style="font-size: 40px; margin-top: 20px; text-align: center">{{totDeploymentFailure}}</div>

								</div>
							</div>
						</div>

						<div class="pie-chart-item-container" style="width: 50%">

							<div ba-panel style="margin-top: 20px;">
								<div class="pie-chart-item" id="totDeploymentFailWeekly">
									<div style="font-size: 15px; text-align: center">Failed
										Deployments (Last 7 days)</div>
									<div class="description-stats"
										style="font-size: 40px; margin-top: 20px; text-align: center">{{totDeploymentFailWeekly}}</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Saved Info Table Starts Here 
<div style = "margin-left: 0%; margin-top: 5%;"  ng-init="updateProductTableDetails()">
<div class="col-lg-12 col-md-12 col-sm-12" ba-panel  
                     ba-panel-class="with-scroll" >
       
       <div>
   <div></div>
  <table class="table">
    <thead>
    <tr class="sortable">
    
    <th style="width:15%;font-weight:bold">Release Name
    </th>
    <th style="width:15%;font-weight:bold">Product Name
    </th>
     <th style="width:15%;font-weight:bold">Sprint
     </th>
      <th style="width:15%;font-weight:bold">GitHub
     </th>
     <th  style="width:15%;font-weight:bold">Jenkins
     </th>
     <th  style="width:15%;font-weight:bold">Sonar
     </th>
     <th  style="width:25%;font-weight:bold">Defects and Execution
     </th>
     <th  style="width:25%;font-weight:bold">Deployment
     </th>
      
    </tr>
    </thead>
    <tbody >
    
   <tr ng-repeat="item in upprodTabDet">
     <td style="width:15%" ng-model="item.releaseName">{{item.releaseName}}</td>
     <td style="width:15%" ng-model="item.productName" ><a ng-click="redirectDashboard(item.productName)">{{item.productName}}</a></td>
     <td style="width:15%" ng-model="item.sprint" >{{item.sprintIterations}} Iterations / {{item.sprintUserStories}} User Stories</td>
     <td style="width:15%;" ng-model="item.github" >{{item.gitCommits}} Commits / {{item.gitContributors}} Contributors</td>
       <td style="width:15%;" ng-model="item.jenkins" >{{item.jenkinspasscount}} Success / {{item.jenkinsfailcount}} Failure</td>
       <td style="width:15%" ng-model="item.sonar" >{{item.sonar}} Lines of code</td>
     <td style="width:25%" ng-model="item.defexe" >Defects - High Severity : {{item.defSevHigh}} Low Severity : {{item.defSevLow}}
                                                                              Execution - Pass : {{item.exeStatPass}} Fail : {{item.exeStatFail}}</td>
     <td style="width:25%" ng-model="item.owner" >
     QA - {{item.deploymentqapass}} Pass / {{item.deploymentqafail}} Fail
     DEV - {{item.deploymentdevpass}} Pass / {{item.deploymentdevfail}} Fail
     </td>
      
    </tr>
    </tbody>
  </table>
          
</div>
       </div>
       
</div>
Saved Info Table Ends Here -->

	</div>
</body>
</html>
