.dropdown-menu {
    min-width: 2rem;
}

.dropdown-item {
    text-transform: uppercase;
    font-size: .4rem;
}

.dropdown-toggle.btn {
    height: 1rem;
    width: 2rem;
    line-height: 1rem;
    letter-spacing: 0px;
    font-size: .4rem;
    font-weight: 100;
    padding: 0px .25rem;
    text-align: left;
}

clr-icon {
    right: .25rem!important;
}