<ngx-charts-bar-horizontal-stacked
class="x-chart"
  [scheme]="colorScheme"
  [results]="data"
  [gradient]="chartconfig.gradient"
  [xAxis]="chartconfig.xAxis"
  [yAxis]="chartconfig.yAxis"
  [legend]="chartconfig.legend"
  [showXAxisLabel]="chartconfig.showXAxisLabel"
  [showYAxisLabel]="chartconfig.showYAxisLabel"
  [xAxisLabel]="chartconfig.xAxisLabel"
  [yAxisLabel]="chartconfig.yAxisLabel"
  [animations]="chartconfig.animations"
  (select)="onSelect($event)"
  [legendPosition]="chartconfig?.legendPositionDown?'down':'right'"
  [class.legend-down]="chartconfig?.legendPositionDown"
>
</ngx-charts-bar-horizontal-stacked>