clr-icon,
.title {
  color: var(--fg1);
}
.page-content{
  background-color: var(--bg2);
}
.btn-group {
  .btn {
    border-color: var(--bg2);
    color: var(--fg1);
    clr-icon {
      width: 18px;
      height: 18px;
    }
    &:active {
      box-shadow: none;
    }
    &:focus {
      outline-width: 0px;
      outline-color: var(--bg1);
    }
   
  }
}
clr-tabs {
  display: block;
  &::ng-deep {
    .dropdown-menu {
      button {
        &:focus {
          outline: none;
        }
      }
    }
    .nav {
      background-color: var(--bg1);
      padding: 0 1px;
      .nav-item {
        margin-right: 0;
      }
      .nav-link {
        padding: 0 12px;
        &:focus {
          outline: none;
        }
        &.active {
          outline: none;
          background-color: var(--bg2);
          box-shadow: 0 0 0 0 black !important;
        }
      }
    }

  }
}
.dashboard-panel {
  background-color: var(--bg2);
  
  .dashbaord-header {
    min-height: 1.8rem;
    max-height: 1.8rem;
    padding: 4px 0.25rem 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--bg2);
    .title {
      flex-grow: 1;
      font-size: 0.7 5rem;
      font-weight: 500;
      padding-top: 4px;
    }
    .options {
      &.right {
        float: right;
      }
      .btn-group {
        .btn {
          border-color: var(--bg3);
          background-color: var(--bg2);
          &:hover,
          &.active {
            background-color: var(--bg3);
          }
        }
      }
    }
  }
}
