<ngx-charts-bubble-chart class="x-chart" [class.legend-down]="chartconfig?.legendPositionDown" [scheme]="colorScheme"
  [results]="data" [xAxis]="chartconfig.xAxis" [yAxis]="chartconfig.yAxis" [legend]="chartconfig.legend"
  [showXAxisLabel]="chartconfig.showXAxisLabel" [showYAxisLabel]="chartconfig.showYAxisLabel"
  [xAxisLabel]="chartconfig.xAxisLabel" [yAxisLabel]="chartconfig.yAxisLabel" [xScaleMin]="chartconfig.xScaleMin"
  [xScaleMax]="chartconfig.xScaleMax" [yScaleMin]="chartconfig.yScaleMin" [yScaleMax]="chartconfig.yScaleMax"
  [minRadius]="chartconfig.minRadius" [maxRadius]="chartconfig.maxRadius"
  [legendPosition]="chartconfig?.legendPositionDown?'down':'right'" [showGridLines]="chartconfig.showGridLines"
  (select)="onSelect($event)">
</ngx-charts-bubble-chart>