<div class="container flex-col full">
    <span class="option icon draggable" title="Add Chart" draggable="true" (dragstart)="dragStartHandler($event, 'datachart')">
     <clr-icon shape="bar-chart"></clr-icon>
    </span>
    <span class="option icon draggable" title="Add Table" draggable="true" (dragstart)="dragStartHandler($event, 'datatable')">
     <clr-icon shape="table"></clr-icon>
    </span>
    <span class="option icon draggable" title="Add Image" draggable="true" (dragstart)="dragStartHandler($event, 'dataimg')">
     <clr-icon shape="image"></clr-icon>
    </span>
    <span class="option icon draggable" title="Add Text"  draggable="true" (dragstart)="dragStartHandler($event, 'datalabel')">
     <clr-icon shape="text"></clr-icon>
    </span>
 </div>