.ng-select {
  margin-right: .333rem;
  width: 100%;
  .ng-clear-wrapper {
    top: 5px;
    right: 0.5rem;
    z-index: 99;
    height: 1rem;
    transform: scale(1.5);
  }
  .ng-select-container:not(.ng-has-value) {
    padding-right: 17px;
  }
  .ng-value-container{
      .ng-input{
        input{
            width: calc(100% - 4px)!important;
        }
      }
  }
  .ng-value {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-color: var(--bg1);
    background-color: var(--bg2);
    margin: 4px 0 0 2px;
    max-height: 1rem;
    border-radius: 2px;
    padding: 0 6px;
    flex-wrap: wrap;
    
    .ng-value-icon {
      font-size: 1rem;
      padding-left: 2px;
      &:hover {
        color: var(--red-chart);
      }
    }
    .ng-value-label {
      padding-left: 4px;
      font-size: .5rem;
    }
  }
}

.ng-dropdown-panel {
  padding-top: 4px;
  padding-right: .667rem;
  .ng-dropdown-panel-items {
    background: var(--bg3);
    color: var(--fg1);
    padding: 0.25rem 0;
  }
  .ng-optgroup {
    padding: 0 0.25rem;
    &:hover {
      background-color: var(--bg1-sel);
    }
    .clr-form-control {
      margin-top: 2px;
      label {
        font-weight: 600;
      }
    }
  }
  .ng-option {
    padding: 0 0.25rem;
    &:hover {
      background-color: var(--bg1-sel);
    }
    padding-left: 1rem;
    .clr-form-control {
      margin-top: 2px;
    }
  }
}
